alfred/workflows/cron/expire_pending_actions.json
{
  "updatedAt": "2026-02-04T14:55:19.003Z",
  "createdAt": "2026-02-04T13:56:36.723Z",
  "id": "O8GcnPA3wdzG8uMy",
  "name": "⏰ Cron | Expire Pending Actions",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "cron-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      }
    },
    {
      "id": "find-expired",
      "name": "Find Expired Actions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        420,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE alfred.pending_actions\nSET \n  status = 'expired',\n  resolved_at = NOW(),\n  resolution_note = 'Automatically expired after timeout'\nWHERE \n  status = 'pending' \n  AND expires_at < NOW()\nRETURNING \n  id,\n  action_type,\n  slack_user_id,\n  approval_channel_id,\n  approval_message_ts,\n  payload,\n  expires_at,\n  created_at;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "8nTSHxonyIBczkvN",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "check-has-expired",
      "name": "Has Expired Actions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "expired-check",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      }
    },
    {
      "id": "loop-expired",
      "name": "Process Each Expired",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        860,
        200
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "build-expired-card",
      "name": "Build Expired Card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        200
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst payload = item.payload || {};\n\nconst blocks = [\n  {\n    type: 'header',\n    text: {\n      type: 'plain_text',\n      text: 'Email Expired',\n      emoji: true\n    }\n  },\n  {\n    type: 'section',\n    fields: [\n      {\n        type: 'mrkdwn',\n        text: `*To:*\\n${payload.to || 'Not specified'}`\n      },\n      {\n        type: 'mrkdwn',\n        text: `*Subject:*\\n${payload.subject || 'No subject'}`\n      }\n    ]\n  },\n  {\n    type: 'context',\n    elements: [\n      {\n        type: 'mrkdwn',\n        text: `Expired - no action taken. Originally requested by <@${item.slack_user_id}>`\n      }\n    ]\n  }\n];\n\nreturn [{\n  json: {\n    ...item,\n    blocks: blocks\n  }\n}];"
      }
    },
    {
      "id": "loop-done",
      "name": "Loop Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1520,
        200
      ],
      "parameters": {}
    },
    {
      "id": "no-expired",
      "name": "No Expired Actions",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        860,
        400
      ],
      "parameters": {}
    },
    {
      "id": "call-slack-service",
      "name": "Update Slack Card - Expired",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1300,
        200
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "xbFJVyUFvGfUbY4s"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "update_message",
            "channel_id": "={{ $json.approval_channel_id }}",
            "message_ts": "={{ $json.approval_message_ts }}",
            "text": "Email request expired",
            "blocks": "={{ $json.blocks }}"
          }
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Find Expired Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Expired Actions": {
      "main": [
        [
          {
            "node": "Has Expired Actions?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Expired Actions?": {
      "main": [
        [
          {
            "node": "Process Each Expired",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Expired Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Expired": {
      "main": [
        [
          {
            "node": "Build Expired Card",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Expired Card": {
      "main": [
        [
          {
            "node": "Update Slack Card - Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Slack Card - Expired": {
      "main": [
        [
          {
            "node": "Process Each Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Every 5 Minutes": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "b3fe69e6-8edc-4f9c-8b78-685a5019d703",
  "activeVersionId": "b3fe69e6-8edc-4f9c-8b78-685a5019d703",
  "versionCounter": 9,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-04T13:56:36.723Z",
      "createdAt": "2026-02-04T13:56:36.723Z",
      "role": "workflow:owner",
      "workflowId": "O8GcnPA3wdzG8uMy",
      "projectId": "Jd992SEPuokf8o5Z",
      "project": {
        "updatedAt": "2026-02-02T12:27:52.037Z",
        "createdAt": "2026-02-02T12:20:35.714Z",
        "id": "Jd992SEPuokf8o5Z",
        "name": "Spencer Marx <spencer@aclarify.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e498ff06-ba9d-4721-8454-492195be8229",
        "projectRelations": [
          {
            "updatedAt": "2026-02-02T12:20:35.714Z",
            "createdAt": "2026-02-02T12:20:35.714Z",
            "userId": "e498ff06-ba9d-4721-8454-492195be8229",
            "projectId": "Jd992SEPuokf8o5Z",
            "user": {
              "updatedAt": "2026-02-04T07:39:59.721Z",
              "createdAt": "2026-02-02T12:20:29.217Z",
              "id": "e498ff06-ba9d-4721-8454-492195be8229",
              "email": "spencer@aclarify.com",
              "firstName": "Spencer",
              "lastName": "Marx",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-02T12:28:04.495Z",
                "personalization_survey_n8n_version": "2.6.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "KwXRQi320-E6cSKEUFTol",
                "userActivatedAt": 1770049275864
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-04T14:55:19.004Z",
    "createdAt": "2026-02-04T14:55:19.004Z",
    "versionId": "b3fe69e6-8edc-4f9c-8b78-685a5019d703",
    "workflowId": "O8GcnPA3wdzG8uMy",
    "nodes": [
      {
        "id": "cron-trigger",
        "name": "Every 5 Minutes",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          200,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 5
              }
            ]
          }
        }
      },
      {
        "id": "find-expired",
        "name": "Find Expired Actions",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          420,
          300
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE alfred.pending_actions\nSET \n  status = 'expired',\n  resolved_at = NOW(),\n  resolution_note = 'Automatically expired after timeout'\nWHERE \n  status = 'pending' \n  AND expires_at < NOW()\nRETURNING \n  id,\n  action_type,\n  slack_user_id,\n  approval_channel_id,\n  approval_message_ts,\n  payload,\n  expires_at,\n  created_at;",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "8nTSHxonyIBczkvN",
            "name": "Postgres account"
          }
        }
      },
      {
        "id": "check-has-expired",
        "name": "Has Expired Actions?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          640,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "expired-check",
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ]
          }
        }
      },
      {
        "id": "loop-expired",
        "name": "Process Each Expired",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          860,
          200
        ],
        "parameters": {
          "batchSize": 1,
          "options": {}
        }
      },
      {
        "id": "build-expired-card",
        "name": "Build Expired Card",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1080,
          200
        ],
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst payload = item.payload || {};\n\nconst blocks = [\n  {\n    type: 'header',\n    text: {\n      type: 'plain_text',\n      text: 'Email Expired',\n      emoji: true\n    }\n  },\n  {\n    type: 'section',\n    fields: [\n      {\n        type: 'mrkdwn',\n        text: `*To:*\\n${payload.to || 'Not specified'}`\n      },\n      {\n        type: 'mrkdwn',\n        text: `*Subject:*\\n${payload.subject || 'No subject'}`\n      }\n    ]\n  },\n  {\n    type: 'context',\n    elements: [\n      {\n        type: 'mrkdwn',\n        text: `Expired - no action taken. Originally requested by <@${item.slack_user_id}>`\n      }\n    ]\n  }\n];\n\nreturn [{\n  json: {\n    ...item,\n    blocks: blocks\n  }\n}];"
        }
      },
      {
        "id": "loop-done",
        "name": "Loop Complete",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1520,
          200
        ],
        "parameters": {}
      },
      {
        "id": "no-expired",
        "name": "No Expired Actions",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          860,
          400
        ],
        "parameters": {}
      },
      {
        "id": "call-slack-service",
        "name": "Update Slack Card - Expired",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1300,
          200
        ],
        "parameters": {
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "xbFJVyUFvGfUbY4s"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "update_message",
              "channel_id": "={{ $json.approval_channel_id }}",
              "message_ts": "={{ $json.approval_message_ts }}",
              "text": "Email request expired",
              "blocks": "={{ $json.blocks }}"
            }
          },
          "options": {}
        },
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "Every 5 Minutes": {
        "main": [
          [
            {
              "node": "Find Expired Actions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Expired Actions": {
        "main": [
          [
            {
              "node": "Has Expired Actions?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Expired Actions?": {
        "main": [
          [
            {
              "node": "Process Each Expired",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Expired Actions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Each Expired": {
        "main": [
          [
            {
              "node": "Build Expired Card",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Expired Card": {
        "main": [
          [
            {
              "node": "Update Slack Card - Expired",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Slack Card - Expired": {
        "main": [
          [
            {
              "node": "Process Each Expired",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Spencer Marx",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-04T14:55:19.151Z",
        "id": 234,
        "workflowId": "O8GcnPA3wdzG8uMy",
        "versionId": "b3fe69e6-8edc-4f9c-8b78-685a5019d703",
        "event": "activated",
        "userId": "e498ff06-ba9d-4721-8454-492195be8229"
      }
    ]
  }
}
