alfred/workflows/workers/utility_worker.json
{
    "updatedAt": "2026-02-12T10:45:16.712Z",
    "createdAt": "2026-02-05T13:44:51.697Z",
    "id": "yXnjcopPZfdrzMzs",
    "name": "Worker | Utility Worker",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "workflowInputs": {
                    "values": [
                        {
                            "name": "task_prompt"
                        },
                        {
                            "name": "user_context",
                            "type": "object"
                        },
                        {
                            "name": "slack_context",
                            "type": "object"
                        },
                        {
                            "name": "session_id"
                        }
                    ]
                }
            },
            "id": "execute-workflow-trigger",
            "name": "Execute Workflow Trigger",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1.1,
            "position": [
                256,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "const input = $('Parse Input').first().json;\nconst personality = $('Get Personality').first().json;\n\nconst taskPrompt = input.task_prompt || '';\n\n// User data already parsed by Parse Input\nconst user = input.user || {};\nconst userName = user.slack_username || user.name || 'Unknown';\nconst userEmail = user.email || 'Unknown';\nconst userTimezone = user.preferences?.timezone || user.timezone || 'America/Chicago';\nconst userRole = user.role || 'member';\nconst userSlackId = user.slack_user_id || '';\n\n// Parse slack_context - may be passed as JSON string\nlet slackContext = {};\nif (input.slack_context) {\n  if (typeof input.slack_context === 'string') {\n    try {\n      slackContext = JSON.parse(input.slack_context);\n    } catch (e) {\n      slackContext = {};\n    }\n  } else {\n    slackContext = input.slack_context;\n  }\n}\n\nconst sessionId = input.session_id || '';\n\n// =============================================================================\n// DETERMINISTIC TIME CONTEXT - Injected at prompt build time\n// =============================================================================\nconst now = new Date();\n\n// Helper to format date in user's timezone\nfunction formatInTimezone(date, tz) {\n  try {\n    return date.toLocaleString('en-US', { timeZone: tz, hour12: false,\n      year: 'numeric', month: '2-digit', day: '2-digit',\n      hour: '2-digit', minute: '2-digit', second: '2-digit'\n    });\n  } catch (e) {\n    return date.toISOString();\n  }\n}\n\n// Get ISO string with timezone offset\nfunction toISOWithOffset(date, tz) {\n  try {\n    const options = { timeZone: tz, hour12: false,\n      year: 'numeric', month: '2-digit', day: '2-digit',\n      hour: '2-digit', minute: '2-digit', second: '2-digit'\n    };\n    const parts = new Intl.DateTimeFormat('en-CA', options).formatToParts(date);\n    const get = (type) => parts.find(p => p.type === type)?.value || '00';\n    const isoBase = `${get('year')}-${get('month')}-${get('day')}T${get('hour')}:${get('minute')}:${get('second')}`;\n    \n    // Calculate offset\n    const utcDate = new Date(date.toLocaleString('en-US', { timeZone: 'UTC' }));\n    const tzDate = new Date(date.toLocaleString('en-US', { timeZone: tz }));\n    const offsetMs = tzDate - utcDate;\n    const offsetHours = Math.floor(Math.abs(offsetMs) / 3600000);\n    const offsetMins = Math.floor((Math.abs(offsetMs) % 3600000) / 60000);\n    const offsetSign = offsetMs >= 0 ? '+' : '-';\n    const offsetStr = `${offsetSign}${String(offsetHours).padStart(2, '0')}:${String(offsetMins).padStart(2, '0')}`;\n    \n    return `${isoBase}${offsetStr}`;\n  } catch (e) {\n    return date.toISOString();\n  }\n}\n\n// Calculate key timestamps\nconst nowIso = toISOWithOffset(now, userTimezone);\nconst nowUtc = now.toISOString();\n\n// Today start/end in user's timezone\nconst todayStart = new Date(now.toLocaleString('en-US', { timeZone: userTimezone }).split(',')[0]);\nconst todayEnd = new Date(todayStart);\ntodayEnd.setDate(todayEnd.getDate() + 1);\ntodayEnd.setMilliseconds(todayEnd.getMilliseconds() - 1);\n\n// Tomorrow start\nconst tomorrowStart = new Date(todayStart);\ntomorrowStart.setDate(tomorrowStart.getDate() + 1);\n\n// Common time windows from now\nconst plus30min = new Date(now.getTime() + 30 * 60 * 1000);\nconst plus1hr = new Date(now.getTime() + 60 * 60 * 1000);\nconst plus24hr = new Date(now.getTime() + 24 * 60 * 60 * 1000);\n\nconst timeContext = {\n  now_iso: nowIso,\n  now_utc: nowUtc,\n  timezone: userTimezone,\n  today_start_iso: toISOWithOffset(todayStart, userTimezone),\n  today_end_iso: toISOWithOffset(todayEnd, userTimezone),\n  tomorrow_start_iso: toISOWithOffset(tomorrowStart, userTimezone),\n  plus_30min_iso: toISOWithOffset(plus30min, userTimezone),\n  plus_1hr_iso: toISOWithOffset(plus1hr, userTimezone),\n  plus_24hr_iso: toISOWithOffset(plus24hr, userTimezone)\n};\n\nconst systemPrompt = `${personality.system_prompt}\n\nYOUR ROLE:\nYou are an execution agent with direct access to tools. Your job is to fulfill the task\nbelow by taking action \u2014 calling tools, gathering data, and composing a response.\n\nTASK INTERPRETATION:\n- Analyze what the task requires. Determine which tools to call, even if not explicitly named.\n- \"calendar summary\" / \"events today\" / \"agenda\" / \"daily brief\" \u2192 call google_calendar\n- \"email\" / \"inbox\" / \"messages\" \u2192 call gmail\n- \"document\" / \"notes\" \u2192 call google_docs\n- If the task asks you to \"deliver\" or \"send\" something that requires live data \u2192 fetch it first\n- If the task references a persona or says \"in-character\" \u2192 you already have that persona above\n- NEVER say data is \"missing\" or \"not attached\" when you have tools to retrieve it\n\nUSER CONTEXT:\n- Name: ${userName}\n- Email: ${userEmail}\n- Timezone: ${userTimezone}\n- Role: ${userRole}\n\nCURRENT TIME CONTEXT (use these exact values for time-sensitive operations):\n- Current Time: ${timeContext.now_iso}\n- Current Time (UTC): ${timeContext.now_utc}\n- Today Start: ${timeContext.today_start_iso}\n- Today End: ${timeContext.today_end_iso}\n- Tomorrow Start: ${timeContext.tomorrow_start_iso}\n- In 30 Minutes: ${timeContext.plus_30min_iso}\n- In 1 Hour: ${timeContext.plus_1hr_iso}\n- In 24 Hours: ${timeContext.plus_24hr_iso}\n\nAVAILABLE TOOLS:\n\n1. gmail - Access and manage Gmail\n   - list_messages: Search emails\n   - get_message: Read a specific email by message ID\n   - send_email: Send an email (requires to, subject, body)\n   - IMPORTANT: All sent emails require user approval via Slack before sending\n   - CRITICAL: Before sending to @mentioned users, call list_users first to get their verified email\n\n2. google_calendar - Access and manage Google Calendar\n   - list_events: List events in a time range\n   - create_event: Create a new calendar event\n   - update_event: Update an existing event\n   - delete_event: Delete an event\n   - rsvp_event: Change RSVP status\n\n3. google_docs - Access and manage Google Docs\n   - get_document: Read a doc\n   - create_document: Create new doc with optional content\n   - append_text: Add text to end of doc\n   - update_document: Replace entire document content\n   - insert_text: Insert text at start, end, or specific index\n   - get_metadata: Get doc metadata without content (faster)\n\n4. google_sheets - Access and manage Google Sheets\n   - read_range: Read cells from a sheet\n   - write_range: Write/replace cells in a sheet\n   - append_rows: Add rows to a sheet\n   - create_spreadsheet: Create a new spreadsheet\n   - get_spreadsheet: Get spreadsheet metadata and sheet list\n   - clear_range: Clear values without deleting cells\n   - create_sheet: Add new tab to spreadsheet\n   - delete_sheet: Remove tab from spreadsheet\n   - batch_get: Read multiple ranges efficiently\n   - batch_update: Write to multiple ranges efficiently\n   - find_replace: Search and replace text\n\n5. google_drive - Access and manage Google Drive files\n   - list_files: List files in a folder\n   - search_files: Search files by name\n   - get_file: Get file metadata\n   - upload_file: Upload a file\n   - download_file: Download file content\n   - create_folder: Create a folder\n   - move_file: Move file to different folder\n   - copy_file: Copy a file\n   - delete_file: Move file to trash\n\n7. slack_message - Send messages to Slack channels or DMs to OTHER users\n   - DO NOT use this to message the current user - your response is auto-delivered\n   - For channels: use channel name or ID\n   - For DMs: use their Slack user ID\n\n8. web_search - Search the web for current information\n   - Use when you need real-time or up-to-date information\n   - Parameters: query (required), context (optional), allowed_domains (optional)\n\n9. list_users - Look up users in the system\n   - MANDATORY before emailing @mentioned users\n   - Returns: user's real name, email address, Slack user ID\n\n10. update_user_preferences - Update user preferences like personality, timezone\n\n11. time_management - Calculate custom time windows\n    - get_window: Calculate a specific time window (e.g., \"next 2 hours\", \"tomorrow afternoon\")\n    - NOTE: For standard time references, use CURRENT TIME CONTEXT above instead\n\n12. scheduled_tasks - Create, list, update, or delete scheduled tasks\n    - Use for recurring reminders, daily reports, etc.\n    - CRITICAL: The 'request' field is what gets executed later by an AI agent on autopilot.\n      Write it as PRECISE INSTRUCTIONS, not conversational text. It must be:\n      - Self-contained: include all rules and context the executor needs\n      - Deterministic: reference injected timestamps, don't say \"next 30 min\"\n      - Include clear no-action rules: \"output empty string if nothing to report\"\n      - For meeting reminders: exclude solo blocks, all-day events, already-ongoing events\n      - Never include personality instructions (executor has its own)\n      - Never rely on memory or prior context \u2014 each execution is stateless\n\n13. analyze_email_tone - Learn the user's email writing style\n    - Use when user asks to learn their email style\n\n14. email_approval_guard - Guard for email sending approval\n    - ALWAYS use before sending emails\n\n##############################################\n# MANDATORY EXECUTION RULES - READ CAREFULLY #\n##############################################\n\nRULE #1 - ALWAYS EXECUTE REQUESTED TOOLS:\n- When a user asks you to do something, YOU MUST CALL THE APPROPRIATE TOOL.\n- Do NOT refuse based on memory of previous failures.\n- Do NOT ask \"would you like me to try again?\" - JUST DO IT.\n- If the user says \"send an email\", you CALL the gmail tool. Period.\n\nRULE #2 - NEVER GUESS EMAIL ADDRESSES:\n- If a user @mentions someone, you MUST call list_users to get their email.\n- NEVER use an email address from memory or guessing.\n- If you cannot look up the email, ASK the user for it.\n\nRULE #3 - NEVER SWITCH CHANNELS AUTONOMOUSLY:\n- If email fails, REPORT THE ERROR. Do not send Slack DM instead.\n- The user must explicitly approve any alternative action.\n\nRULE #4 - REPORT ERRORS, DON'T AVOID THEM:\n- If a tool fails, tell the user what happened.\n- Then offer to try again or ask what they want to do.\n\nRULE #5 - USE APPROVAL GUARD BEFORE SENDING EMAILS:\n- Always call email_approval_guard before actually sending emails.\n\nRULE #6 - USE CURRENT TIME CONTEXT (MANDATORY):\n- For ALL time-sensitive operations, use the timestamps from CURRENT TIME CONTEXT section above.\n- \"events in the next 30 minutes\" = time_min: Current Time, time_max: In 30 Minutes\n- \"today's events\" = time_min: Today Start, time_max: Today End\n- \"tomorrow's events\" = time_min: Tomorrow Start, time_max: (add 24hrs)\n- NEVER guess or hallucinate timestamps \u2014 use the exact values provided above.\n- CRITICAL: If the task prompt mentions a specific date that CONFLICTS with the\n  CURRENT TIME CONTEXT above, ALWAYS trust CURRENT TIME CONTEXT. These timestamps\n  are deterministically computed at execution time and are always correct. Dates\n  mentioned in the task prompt text may be stale or hallucinated by an upstream model.\n\n##############################################\n\nRULE #7 - NO-ACTION RESPONSE FORMAT FOR SCHEDULED TASKS:\n- When the task prompt says \"take no action and do not send any message\" and you determine no action is needed:\n  Output EXACTLY an empty string. Do NOT explain why.\n- Do NOT say \"No action taken\" followed by context or reasons.\n- Do NOT say \"you've already been notified about...\" \u2014 just output nothing.\n- Either provide a NEW, substantive notification the user hasn't seen, OR output an empty string.\n- This is critical: verbose \"no action\" messages get sent to the user and cause confusion.\n##############################################\n\nRESPONSE LENGTH:\n- Keep responses concise (under 2000 chars for Slack compatibility).\n\nRESPONSE ROUTING:\n- Your text response is automatically delivered to the user.\n- Only use slack_message for messages to OTHER people.\n\n##############################################\n# VOICE & PERSONALITY (CRITICAL)\n##############################################\nYou are ${personality.personality_name}. Every word you write must sound like ${personality.personality_name}.\n- Use the communication style, signature expressions, and traits defined at the top of this prompt.\n- Do NOT write generic, corporate, or motivational-poster language.\n- Your response should be unmistakably in-character \u2014 if someone read it without context, they should recognize the voice.`;\n\nreturn [{\n  json: {\n    task_prompt: taskPrompt,\n    user_context: { ...user, slack_user_id: userSlackId, timezone: userTimezone },\n    slack_context: slackContext,\n    session_id: sessionId,\n    system_prompt: systemPrompt,\n    time_context: timeContext\n  }\n}];"
            },
            "id": "build-system-prompt",
            "name": "Build System Prompt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                480,
                400
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.task_prompt }}",
                "options": {
                    "systemMessage": "={{ $json.system_prompt }}",
                    "maxIterations": 10,
                    "returnIntermediateSteps": true
                }
            },
            "id": "ai-agent",
            "name": "Utility Worker Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                1472,
                400
            ],
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Build System Prompt').item.json.session_id }}",
                "tableName": "alfred_chat_history",
                "contextWindowLength": 10
            },
            "id": "chat-memory",
            "name": "Chat Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1.3,
            "position": [
                832,
                624
            ],
            "credentials": {
                "postgres": {
                    "id": "8nTSHxonyIBczkvN",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "description": "Access and manage Gmail. Actions: list_messages (search emails), get_message (read email by ID), send_email (send new email). The user's identity is automatically determined.",
                "workflowId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "4o06kwV3LGoZjGY9"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "slack_user_id": "={{ $('Build System Prompt').item.json.user_context.slack_user_id }}",
                        "action": "={{ $fromAI(\"action\", \"The Gmail action: list_messages, get_message, or send_email\", \"string\", \"\") }}",
                        "query": "={{ $fromAI(\"query\", \"Gmail search query for list_messages\", \"string\", \"\") }}",
                        "max_results": "={{ $fromAI(\"max_results\", \"Maximum number of results\", \"string\", \"\") }}",
                        "message_id": "={{ $fromAI(\"message_id\", \"The message ID for get_message\", \"string\", \"\") }}",
                        "to": "={{ $fromAI(\"to\", \"Recipient email address for send_email\", \"string\", \"\") }}",
                        "subject": "={{ $fromAI(\"subject\", \"Email subject for send_email\", \"string\", \"\") }}",
                        "body": "={{ $fromAI(\"body\", \"Email body content for send_email\", \"string\", \"\") }}",
                        "cc": "={{ $fromAI(\"cc\", \"CC email addresses for send_email\", \"string\", \"\") }}",
                        "bcc": "={{ $fromAI(\"bcc\", \"BCC email addresses for send_email\", \"string\", \"\") }}",
                        "channel_id": "={{ $('Build System Prompt').item.json.slack_context.channel_id }}",
                        "thread_ts": "={{ $('Build System Prompt').item.json.slack_context.thread_ts }}"
                    },
                    "schema": [
                        {
                            "id": "slack_user_id",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "slack_user_id"
                        },
                        {
                            "id": "action",
                            "type": "string",
                            "display": true,
                            "required": true,
                            "displayName": "action"
                        },
                        {
                            "id": "query",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "query"
                        },
                        {
                            "id": "max_results",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "max_results"
                        },
                        {
                            "id": "message_id",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "message_id"
                        },
                        {
                            "id": "to",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "to"
                        },
                        {
                            "id": "subject",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "subject"
                        },
                        {
                            "id": "body",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "body"
                        },
                        {
                            "id": "cc",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "cc"
                        },
                        {
                            "id": "bcc",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "bcc"
                        }
                    ],
                    "matchingColumns": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "id": "tool-gmail",
            "name": "Tool: Gmail",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                960,
                624
            ]
        },
        {
            "parameters": {
                "description": "List upcoming calendar events. Provide time_min and time_max in ISO format to filter the date range. Returns events with titles, times, and details.",
                "workflowId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "9rzYXSNhqSF6tVNC"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "slack_user_id": "={{ $('Build System Prompt').item.json.user_context.slack_user_id }}",
                        "user_timezone": "={{ $('Build System Prompt').item.json.user_context.timezone }}",
                        "action": "={{ $fromAI(\"action\", \"The calendar action: list_events, create_event, update_event, delete_event, or rsvp_event\", \"string\", \"\") }}",
                        "calendar_id": "={{ $fromAI(\"calendar_id\", \"Calendar ID - use primary for main calendar\", \"string\", \"\") }}",
                        "time_min": "={{ $fromAI(\"time_min\", \"Start of date range in ISO format e.g. 2024-01-15T00:00:00Z\", \"string\", \"\") }}",
                        "time_max": "={{ $fromAI(\"time_max\", \"End of date range in ISO format e.g. 2024-01-16T00:00:00Z\", \"string\", \"\") }}",
                        "max_results": "={{ $fromAI(\"max_results\", \"Maximum events to return default 10\", \"string\", \"\") }}",
                        "summary": "={{ $fromAI(\"summary\", \"Event title/name for create_event\", \"string\", \"\") }}",
                        "description": "={{ $fromAI(\"description\", \"Event description or notes\", \"string\", \"\") }}",
                        "start_time": "={{ $fromAI(\"start_time\", \"Event start in ISO format e.g. 2024-01-15T09:00:00-06:00\", \"string\", \"\") }}",
                        "end_time": "={{ $fromAI(\"end_time\", \"Event end in ISO format e.g. 2024-01-15T10:00:00-06:00\", \"string\", \"\") }}",
                        "attendees": "={{ $fromAI(\"attendees\", \"Comma-separated email addresses of attendees\", \"string\", \"\") }}",
                        "event_id": "={{ $fromAI(\"event_id\", \"The ID of the event for update/delete/rsvp operations\", \"string\", \"\") }}",
                        "rsvp_status": "={{ $fromAI(\"rsvp_status\", \"RSVP status: accepted, declined, or tentative\", \"string\", \"\") }}",
                        "send_updates": "={{ $fromAI(\"send_updates\", \"Notification preference: all (default) or none\", \"string\", \"\") }}"
                    },
                    "schema": [
                        {
                            "id": "slack_user_id",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "slack_user_id"
                        },
                        {
                            "id": "user_timezone",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "user_timezone"
                        },
                        {
                            "id": "action",
                            "type": "string",
                            "display": true,
                            "required": true,
                            "displayName": "action"
                        },
                        {
                            "id": "calendar_id",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "calendar_id"
                        },
                        {
                            "id": "time_min",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "time_min"
                        },
                        {
                            "id": "time_max",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "time_max"
                        },
                        {
                            "id": "max_results",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "max_results"
                        },
                        {
                            "id": "summary",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "summary"
                        },
                        {
                            "id": "description",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "description"
                        },
                        {
                            "id": "start_time",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "start_time"
                        },
                        {
                            "id": "end_time",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "end_time"
                        },
                        {
                            "id": "attendees",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "attendees"
                        },
                        {
                            "id": "event_id",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "event_id"
                        },
                        {
                            "id": "rsvp_status",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "rsvp_status"
                        },
                        {
                            "id": "send_updates",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "send_updates"
                        }
                    ],
                    "matchingColumns": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "id": "tool-google-calendar",
            "name": "Tool: Google Calendar",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                1088,
                624
            ]
        },
        {
            "parameters": {
                "description": "Access and manage Google Docs. Actions: get_document (read a doc), create_document (create new doc), append_text (add text). The user's identity is automatically determined.",
                "workflowId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "ZUMZ7oNUzDRDnFft"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "slack_user_id": "={{ $('Build System Prompt').item.json.user_context.slack_user_id }}",
                        "action": "={{ $fromAI(\"action\", \"The Docs action: get_document, create_document, or append_text\", \"string\", \"\") }}",
                        "document_id": "={{ $fromAI(\"document_id\", \"The Google Doc ID\", \"string\", \"\") }}",
                        "title": "={{ $fromAI(\"title\", \"Document title for create_document\", \"string\", \"\") }}",
                        "content": "={{ $fromAI(\"content\", \"Text content to write or append\", \"string\", \"\") }}",
                        "folder_id": "={{ $fromAI(\"folder_id\", \"Google Drive folder ID\", \"string\", \"\") }}"
                    },
                    "schema": [
                        {
                            "id": "slack_user_id",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "slack_user_id"
                        },
                        {
                            "id": "action",
                            "type": "string",
                            "display": true,
                            "required": true,
                            "displayName": "action"
                        },
                        {
                            "id": "document_id",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "document_id"
                        },
                        {
                            "id": "title",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "title"
                        },
                        {
                            "id": "content",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "content"
                        },
                        {
                            "id": "folder_id",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "folder_id"
                        }
                    ],
                    "matchingColumns": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "id": "tool-google-docs",
            "name": "Tool: Google Docs",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                1216,
                624
            ]
        },
        {
            "parameters": {
                "description": "Access and manage Google Sheets. Actions: read_range, write_range, append_rows, create_spreadsheet. The user's identity is automatically determined.",
                "workflowId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "tWgJgDHdIHBhCOr0"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "slack_user_id": "={{ $('Build System Prompt').item.json.user_context.slack_user_id }}",
                        "action": "={{ $fromAI(\"action\", \"The Sheets action: read_range, write_range, append_rows, or create_spreadsheet\", \"string\", \"\") }}",
                        "spreadsheet_id": "={{ $fromAI(\"spreadsheet_id\", \"The Google Sheet ID\", \"string\", \"\") }}",
                        "range": "={{ $fromAI(\"range\", \"The A1 notation range\", \"string\", \"\") }}",
                        "values": "={{ $fromAI(\"values\", \"JSON array of arrays with values\", \"string\", \"\") }}",
                        "title": "={{ $fromAI(\"title\", \"Spreadsheet title for create_spreadsheet\", \"string\", \"\") }}",
                        "sheet_name": "={{ $fromAI(\"sheet_name\", \"Sheet or tab name\", \"string\", \"\") }}"
                    },
                    "schema": [
                        {
                            "id": "slack_user_id",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "slack_user_id"
                        },
                        {
                            "id": "action",
                            "type": "string",
                            "display": true,
                            "required": true,
                            "displayName": "action"
                        },
                        {
                            "id": "spreadsheet_id",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "spreadsheet_id"
                        },
                        {
                            "id": "range",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "range"
                        },
                        {
                            "id": "values",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "values"
                        },
                        {
                            "id": "title",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "title"
                        },
                        {
                            "id": "sheet_name",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "sheet_name"
                        }
                    ],
                    "matchingColumns": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "id": "tool-google-sheets",
            "name": "Tool: Google Sheets",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                1344,
                624
            ]
        },
        {
            "parameters": {
                "description": "Send a message to a Slack CHANNEL or DM to ANOTHER user (not yourself). For channels: use channel name (e.g., 'general') or channel ID. For DMs to other users: use their Slack user ID (starts with U, e.g., U07RPDGL1PE). NEVER use this to message the current user - the Response Router handles that automatically.",
                "workflowId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "B7vIQscroN53icOa"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "channel": "={{ $fromAI('channel', 'The channel name (without #) or Slack user ID to send the message to', 'string', \"\") }}",
                        "message": "={{ $fromAI('message', 'The message content to send', 'string', \"\") }}",
                        "thread_ts": "={{ $fromAI('thread_ts', 'Optional: thread timestamp for replying in a thread. Leave empty for new messages.', 'string', \"\") }}",
                        "slack_user_id": "={{ $('Build System Prompt').item.json.user_context.slack_user_id }}"
                    },
                    "schema": [
                        {
                            "id": "channel",
                            "type": "string",
                            "display": true,
                            "required": true,
                            "displayName": "channel"
                        },
                        {
                            "id": "message",
                            "type": "string",
                            "display": true,
                            "required": true,
                            "displayName": "message"
                        },
                        {
                            "id": "thread_ts",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "thread_ts"
                        },
                        {
                            "id": "slack_user_id",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "slack_user_id"
                        }
                    ]
                }
            },
            "id": "tool-slack-message",
            "name": "Tool: Slack Message",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                1472,
                624
            ]
        },
        {
            "parameters": {
                "description": "Search the web for current information, news, and real-time data. Use this when you need up-to-date information that may not be in your training data. Returns results with cited sources.",
                "workflowId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "F0TUHVEzA79rroyS"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "query": "={{ $fromAI(\"query\", \"The search query to look up on the web\", \"string\", \"\") }}",
                        "context": "={{ $fromAI(\"context\", \"Optional additional context to improve search results\", \"string\", \"\") }}",
                        "allowed_domains": "={{ $fromAI(\"allowed_domains\", \"Optional comma-separated list of domains to limit search to\", \"string\", \"\") }}"
                    },
                    "schema": [
                        {
                            "id": "query",
                            "type": "string",
                            "display": true,
                            "required": true,
                            "displayName": "query"
                        },
                        {
                            "id": "context",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "context"
                        },
                        {
                            "id": "allowed_domains",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "allowed_domains"
                        }
                    ],
                    "matchingColumns": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "id": "tool-web-search",
            "name": "Tool: Web Search",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                1600,
                624
            ]
        },
        {
            "parameters": {
                "description": "List all users registered in the Alfred system or look up a specific user. Shows their Slack username, email, role, timezone, and Google auth status. Use this before sending emails to @mentioned users to get their verified email address.",
                "workflowId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "DIr3sLVyRlkgm4lu"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "slack_user_id": "={{ $fromAI(\"target_slack_user_id\", \"Optional: Slack user ID to look up a specific user\", \"string\", \"\") }}",
                        "action": "list_users",
                        "role": "",
                        "timezone_override": "",
                        "requesting_user_id": "={{ $('Build System Prompt').item.json.user_context.slack_user_id }}"
                    },
                    "schema": [
                        {
                            "id": "slack_user_id",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "slack_user_id"
                        },
                        {
                            "id": "action",
                            "type": "string",
                            "display": true,
                            "required": true,
                            "displayName": "action"
                        },
                        {
                            "id": "role",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "role"
                        },
                        {
                            "id": "timezone_override",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "timezone_override"
                        },
                        {
                            "id": "requesting_user_id",
                            "type": "string",
                            "display": true,
                            "required": true,
                            "displayName": "requesting_user_id"
                        }
                    ]
                }
            },
            "id": "tool-user-management",
            "name": "Tool: User Management",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                1728,
                624
            ]
        },
        {
            "parameters": {
                "description": "Update user preferences like personality, timezone, etc. Use this to change the user's personality/mode (e.g., switch to JARVIS, alfred, dwight, jim, donna). Pass preference_key and preference_value.",
                "workflowId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "XQIgdUEsFw2nH6a7"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "slack_user_id": "={{ $('Build System Prompt').item.json.user_context.slack_user_id }}",
                        "preference_key": "={{ $fromAI(\"preference_key\", \"The preference key to update e.g. personality\", \"string\", \"\") }}",
                        "preference_value": "={{ $fromAI(\"preference_value\", \"The new value for the preference\", \"string\", \"\") }}"
                    },
                    "schema": [
                        {
                            "id": "slack_user_id",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "slack_user_id"
                        },
                        {
                            "id": "preference_key",
                            "type": "string",
                            "display": true,
                            "required": true,
                            "displayName": "preference_key"
                        },
                        {
                            "id": "preference_value",
                            "type": "string",
                            "display": true,
                            "required": true,
                            "displayName": "preference_value"
                        }
                    ],
                    "matchingColumns": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "id": "tool-update-preferences",
            "name": "Tool: Update Preferences",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                1856,
                624
            ]
        },
        {
            "parameters": {
                "description": "Get accurate time context and evaluate event times. Use this for ANY time-related reasoning. Actions: (1) get_context - returns current time, timezone, today/tomorrow boundaries (no params needed). (2) get_window - calculate a time window (params: offset_start_minutes, offset_end_minutes). ALWAYS use this tool for time calculations.",
                "workflowId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "fhb6nIQYs2L1YPVm"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "slack_user_id": "={{ $('Build System Prompt').item.json.user_context.slack_user_id }}",
                        "action": "={{ $fromAI('action', 'The action: get_context or get_window', 'string', \"\") }}",
                        "params": "={{ $fromAI('params', 'Optional JSON string with action parameters. For get_context: leave empty or \"{}\". For get_window: {\"offset_start_minutes\": 0, \"offset_end_minutes\": 60}', 'string') }}"
                    },
                    "schema": [
                        {
                            "id": "slack_user_id",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "slack_user_id"
                        },
                        {
                            "id": "action",
                            "type": "string",
                            "display": true,
                            "required": true,
                            "displayName": "action"
                        },
                        {
                            "id": "params",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "params"
                        }
                    ]
                }
            },
            "id": "tool-time-management",
            "name": "Tool: Time Management",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                1984,
                624
            ]
        },
        {
            "parameters": {
                "description": "Create, list, update, or delete scheduled tasks. Use this when the user wants to set up recurring reminders, daily reports, or any automated scheduled actions.",
                "workflowId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "GVUVTmfFfdIpApKq"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "slack_user_id": "={{ $('Build System Prompt').item.json.user_context.slack_user_id }}",
                        "action": "={{ $fromAI(\"action\", \"The action: create, list, update, or delete\", \"string\", \"\") }}",
                        "task_id": "={{ $fromAI(\"task_id\", \"For update/delete: the task ID\", \"string\", \"\") }}",
                        "name": "={{ $fromAI(\"name\", \"For create: human-readable task name\", \"string\", \"\") }}",
                        "request": "={{ $fromAI(\"request\", \"For create: the full request to send to Alfred when task runs\", \"string\", \"\") }}",
                        "schedule_type": "={{ $fromAI(\"schedule_type\", \"For create: once, daily, weekly, or interval\", \"string\", \"\") }}",
                        "scheduled_time": "={{ $fromAI(\"scheduled_time\", \"For daily/weekly: time in HH:MM format (24-hour)\", \"string\", \"\") }}",
                        "days_of_week": "={{ $fromAI(\"days_of_week\", \"For weekly: comma-separated day numbers 1-7 (1=Mon)\", \"string\", \"\") }}",
                        "interval_minutes": "={{ $fromAI(\"interval_minutes\", \"For interval: minutes between runs\", \"string\", \"\") }}",
                        "one_time_at": "={{ $fromAI(\"one_time_at\", \"For once: ISO datetime string\", \"string\", \"\") }}",
                        "channels": "={{ $fromAI(\"channels\", \"Delivery channels: slack, email, or slack,email\", \"string\", \"\") }}",
                        "is_active": "={{ $fromAI(\"is_active\", \"For update: true or false to enable/disable\", \"string\", \"\") }}"
                    },
                    "schema": [
                        {
                            "id": "slack_user_id",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "slack_user_id"
                        },
                        {
                            "id": "action",
                            "type": "string",
                            "display": true,
                            "required": true,
                            "displayName": "action"
                        },
                        {
                            "id": "task_id",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "task_id"
                        },
                        {
                            "id": "name",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "name"
                        },
                        {
                            "id": "request",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "request"
                        },
                        {
                            "id": "schedule_type",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "schedule_type"
                        },
                        {
                            "id": "scheduled_time",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "scheduled_time"
                        },
                        {
                            "id": "days_of_week",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "days_of_week"
                        },
                        {
                            "id": "interval_minutes",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "interval_minutes"
                        },
                        {
                            "id": "one_time_at",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "one_time_at"
                        },
                        {
                            "id": "channels",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "channels"
                        },
                        {
                            "id": "is_active",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "is_active"
                        }
                    ],
                    "matchingColumns": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "id": "tool-scheduled-tasks",
            "name": "Tool: Scheduled Tasks",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                2112,
                624
            ]
        },
        {
            "parameters": {
                "description": "Analyze the user's sent emails and create a comprehensive writing style guide. Use when user asks to 'learn my email style' or 'analyze my writing'. Pass mode='recent' for recent emails or mode='specific' with message_ids for specific emails.",
                "workflowId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "LSlDQ7mxMjxUddfa"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "slack_user_id": "={{ $('Build System Prompt').item.json.user_context.slack_user_id }}",
                        "mode": "={{ $fromAI(\"mode\", \"Analysis mode: 'recent' for recent emails or 'specific' for specific message IDs\", \"string\", \"\") }}",
                        "count": "={{ $fromAI(\"count\", \"Number of emails to analyze (default 15, max 25)\", \"number\", \"\") }}",
                        "message_ids": "={{ $fromAI(\"message_ids\", \"Comma-separated message IDs for mode=specific\", \"string\", \"\") }}"
                    }
                }
            },
            "id": "tool-analyze-email-tone",
            "name": "Tool: Analyze Email Tone",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                2240,
                624
            ]
        },
        {
            "parameters": {
                "description": "Approval guard for sending emails. ALWAYS call this before sending any email. It will create an approval request in Slack and wait for user confirmation.",
                "workflowId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "1S0dhI1K4X0528Dy"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "action_type": "={{ $fromAI(\"action_type\", \"Type of action requiring approval: send_email, delete_data, external_api_call\", \"string\", \"\") }}",
                        "user_id": "={{ $('Build System Prompt').item.json.user_context?.user?.id || '' }}",
                        "slack_user_id": "={{ $('Build System Prompt').item.json.user_context.slack_user_id }}",
                        "slack_channel_id": "={{ $('Build System Prompt').item.json.slack_context.channel_id }}",
                        "slack_thread_ts": "={{ $('Build System Prompt').item.json.slack_context.thread_ts }}",
                        "payload": "={{ $fromAI(\"payload\", \"JSON object with action details. For send_email: {to, subject, body_preview}. For other actions: relevant details.\", \"string\", \"\") }}",
                        "expiry_minutes": "={{ $fromAI(\"expiry_minutes\", \"Minutes before approval expires (default: 60)\", \"number\", \"\") || 60 }}"
                    },
                    "schema": [
                        {
                            "id": "action_type",
                            "type": "string",
                            "display": true,
                            "required": true,
                            "displayName": "action_type"
                        },
                        {
                            "id": "user_id",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "user_id"
                        },
                        {
                            "id": "slack_user_id",
                            "type": "string",
                            "display": true,
                            "required": true,
                            "displayName": "slack_user_id"
                        },
                        {
                            "id": "slack_channel_id",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "slack_channel_id"
                        },
                        {
                            "id": "slack_thread_ts",
                            "type": "string",
                            "display": true,
                            "required": false,
                            "displayName": "slack_thread_ts"
                        },
                        {
                            "id": "payload",
                            "type": "string",
                            "display": true,
                            "required": true,
                            "displayName": "payload"
                        },
                        {
                            "id": "expiry_minutes",
                            "type": "number",
                            "display": true,
                            "required": false,
                            "displayName": "expiry_minutes"
                        }
                    ],
                    "matchingColumns": [],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "id": "tool-approval-guard",
            "name": "Tool: Approval Guard",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                2368,
                624
            ]
        },
        {
            "parameters": {
                "jsCode": "const agentOutput = $input.first().json;\nconst context = $('Build System Prompt').first().json;\n\n// Extract actions taken from intermediate steps if available\nconst actionsTaken = [];\nlet notifiedEventIds = [];\n\nif (agentOutput.intermediateSteps && Array.isArray(agentOutput.intermediateSteps)) {\n  for (const step of agentOutput.intermediateSteps) {\n    if (step.action && step.action.tool) {\n      actionsTaken.push(`Called ${step.action.tool}`);\n    }\n\n    // Extract event IDs from calendar tool calls for dedup tracking\n    if (step.action?.tool === 'Tool_Google_Calendar' && step.observation) {\n      try {\n        let obs = step.observation;\n        if (typeof obs === 'string') {\n          obs = JSON.parse(obs);\n        }\n        const obsData = Array.isArray(obs) ? obs[0] : obs;\n        // Collect IDs of upcoming events that were shown to the AI\n        if (obsData?.events_by_status?.upcoming) {\n          for (const event of obsData.events_by_status.upcoming) {\n            if (event.id) notifiedEventIds.push(event.id);\n          }\n        }\n      } catch (e) { /* ignore parse errors */ }\n    }\n  }\n}\n\n// Determine response text\nlet responseText = agentOutput.output || agentOutput.text || '';\n\n// Strip LLM reasoning tags that shouldn't reach the user.\n// LLMs sometimes wrap internal reasoning in XML-like tags (e.g., <function_result_interpretation>)\n// instead of outputting an actual empty string. These must never reach Slack.\n// Regex targets tags like <word_tag> but NOT Slack mentions like <@U123> or <#C123>.\nconst stripped = responseText.replace(/<\\/?[a-z][a-z0-9_]*>/gi, '').trim();\n\n// If the LLM wrapped reasoning in tags and the stripped content indicates \"no action\",\n// honor the LLM's intent and produce an actual empty string.\nconst noActionPatterns = /should be excluded|output.*empty string|no qualifying events|no action|nothing to report|per instructions.*excluded/i;\nif (stripped !== responseText.trim() && noActionPatterns.test(stripped)) {\n  responseText = '';\n  notifiedEventIds = [];\n} else if (stripped !== responseText.trim()) {\n  // Tags were present but content is substantive \u2014 use cleaned version\n  responseText = stripped;\n}\n\n// If output is empty but tools were called, this is intentional \"no action\" (not an error)\nif (!responseText && actionsTaken.length > 0) {\n  responseText = '';  // Keep as empty string \u2014 predicate evaluator will return FALSE\n}\n\n// Only use error message if output is empty AND no tools were called (actual error)\nif (!responseText && actionsTaken.length === 0) {\n  responseText = 'I apologize, but I encountered an issue processing your request.';\n}\n\n// Only include notified event IDs if we have a substantive response (not no-action)\n// This ensures we only record events that the user was ACTUALLY notified about\nconst hasSubstantiveResponse = responseText && responseText.trim() !== '' && responseText !== 'No action taken.';\n\nreturn [{\n  json: {\n    success: true,\n    result: responseText,\n    actions_taken: actionsTaken,\n    requires_approval: false,\n    pending_action_id: null,\n    notified_event_ids: hasSubstantiveResponse ? notifiedEventIds : []\n  }\n}];"
            },
            "id": "format-output",
            "name": "Format Output",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2576,
                304
            ]
        },
        {
            "parameters": {
                "jsCode": "const context = $('Build System Prompt').first().json;\nconst errorData = $input.first().json;\n\nlet errorMessage = 'an unexpected issue';\nif (errorData.error?.message) {\n  const msg = errorData.error.message.toLowerCase();\n  if (msg.includes('timeout')) {\n    errorMessage = 'the request took too long';\n  } else if (msg.includes('rate limit')) {\n    errorMessage = 'too many requests right now';\n  } else if (msg.includes('credential') || msg.includes('auth')) {\n    errorMessage = 'a connection issue with one of my tools';\n  } else if (msg.includes('schema') || msg.includes('validation')) {\n    errorMessage = 'trouble understanding the request format';\n  }\n}\n\nconst friendlyResponse = `I ran into ${errorMessage} while working on that. Could you try asking again in a moment?`;\n\nreturn [{\n  json: {\n    success: false,\n    result: null,\n    error: friendlyResponse,\n    actions_taken: [],\n    requires_approval: false,\n    pending_action_id: null\n  }\n}];"
            },
            "id": "handle-error",
            "name": "Handle Error",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2576,
                496
            ]
        },
        {
            "parameters": {
                "jsCode": "const input = $input.first().json;\nlet userContext = {};\nif (input.user_context) {\n  if (typeof input.user_context === 'string') {\n    try { userContext = JSON.parse(input.user_context); } catch (e) { userContext = {}; }\n  } else {\n    userContext = input.user_context;\n  }\n}\nreturn [{ json: { ...input, user: userContext.user || userContext } }];"
            },
            "id": "parse-input",
            "name": "Parse Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                352,
                400
            ]
        },
        {
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "Cu7YnA1ZgLBjzSvr"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "user": "={{ $json.user }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "user",
                            "displayName": "user",
                            "required": true,
                            "display": true,
                            "type": "string"
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "id": "get-personality",
            "name": "Get Personality",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1.2,
            "position": [
                528,
                400
            ]
        },
        {
            "parameters": {
                "modelName": "models/gemini-3-flash-preview",
                "options": {}
            },
            "id": "ai-model",
            "name": "Gemini Flash",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                704,
                624
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "RCgc0A6PRXghMDMb",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        }
    ],
    "connections": {
        "Build System Prompt": {
            "main": [
                [
                    {
                        "node": "Utility Worker Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Chat Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Utility Worker Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: Gmail": {
            "ai_tool": [
                [
                    {
                        "node": "Utility Worker Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: Google Calendar": {
            "ai_tool": [
                [
                    {
                        "node": "Utility Worker Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: Google Docs": {
            "ai_tool": [
                [
                    {
                        "node": "Utility Worker Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: Google Sheets": {
            "ai_tool": [
                [
                    {
                        "node": "Utility Worker Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: Slack Message": {
            "ai_tool": [
                [
                    {
                        "node": "Utility Worker Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: Web Search": {
            "ai_tool": [
                [
                    {
                        "node": "Utility Worker Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: User Management": {
            "ai_tool": [
                [
                    {
                        "node": "Utility Worker Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: Update Preferences": {
            "ai_tool": [
                [
                    {
                        "node": "Utility Worker Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: Time Management": {
            "ai_tool": [
                [
                    {
                        "node": "Utility Worker Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: Scheduled Tasks": {
            "ai_tool": [
                [
                    {
                        "node": "Utility Worker Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: Analyze Email Tone": {
            "ai_tool": [
                [
                    {
                        "node": "Utility Worker Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: Approval Guard": {
            "ai_tool": [
                [
                    {
                        "node": "Utility Worker Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Utility Worker Agent": {
            "main": [
                [
                    {
                        "node": "Format Output",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Handle Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute Workflow Trigger": {
            "main": [
                [
                    {
                        "node": "Parse Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Input": {
            "main": [
                [
                    {
                        "node": "Get Personality",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Personality": {
            "main": [
                [
                    {
                        "node": "Build System Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Flash": {
            "ai_languageModel": [
                [
                    {
                        "node": "Utility Worker Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "cf51119b-08b1-486b-a677-308e4a22d7be",
    "activeVersionId": "cf51119b-08b1-486b-a677-308e4a22d7be",
    "versionCounter": 86,
    "triggerCount": 0,
    "shared": [
        {
            "updatedAt": "2026-02-05T13:44:51.697Z",
            "createdAt": "2026-02-05T13:44:51.697Z",
            "role": "workflow:owner",
            "workflowId": "yXnjcopPZfdrzMzs",
            "projectId": "Jd992SEPuokf8o5Z",
            "project": {
                "updatedAt": "2026-02-02T12:27:52.037Z",
                "createdAt": "2026-02-02T12:20:35.714Z",
                "id": "Jd992SEPuokf8o5Z",
                "name": "Spencer Marx <spencer@aclarify.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "e498ff06-ba9d-4721-8454-492195be8229",
                "projectRelations": [
                    {
                        "updatedAt": "2026-02-02T12:20:35.714Z",
                        "createdAt": "2026-02-02T12:20:35.714Z",
                        "userId": "e498ff06-ba9d-4721-8454-492195be8229",
                        "projectId": "Jd992SEPuokf8o5Z",
                        "user": {
                            "updatedAt": "2026-02-12T09:21:05.281Z",
                            "createdAt": "2026-02-02T12:20:29.217Z",
                            "id": "e498ff06-ba9d-4721-8454-492195be8229",
                            "email": "spencer@aclarify.com",
                            "firstName": "Spencer",
                            "lastName": "Marx",
                            "personalizationAnswers": {
                                "version": "v4",
                                "personalization_survey_submitted_at": "2026-02-02T12:28:04.495Z",
                                "personalization_survey_n8n_version": "2.6.2",
                                "companySize": "<20",
                                "companyType": "saas",
                                "role": "business-owner",
                                "reportedSource": "friend"
                            },
                            "settings": {
                                "userActivated": true,
                                "easyAIWorkflowOnboarded": true,
                                "firstSuccessfulWorkflowId": "KwXRQi320-E6cSKEUFTol",
                                "userActivatedAt": 1770049275864,
                                "npsSurvey": {
                                    "responded": true,
                                    "lastShownAt": 1770325854784
                                }
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-02-12",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-02-12T10:45:16.713Z",
        "createdAt": "2026-02-12T10:45:16.713Z",
        "versionId": "cf51119b-08b1-486b-a677-308e4a22d7be",
        "workflowId": "yXnjcopPZfdrzMzs",
        "nodes": [
            {
                "parameters": {
                    "workflowInputs": {
                        "values": [
                            {
                                "name": "task_prompt"
                            },
                            {
                                "name": "user_context",
                                "type": "object"
                            },
                            {
                                "name": "slack_context",
                                "type": "object"
                            },
                            {
                                "name": "session_id"
                            }
                        ]
                    }
                },
                "id": "execute-workflow-trigger",
                "name": "Execute Workflow Trigger",
                "type": "n8n-nodes-base.executeWorkflowTrigger",
                "typeVersion": 1.1,
                "position": [
                    256,
                    400
                ]
            },
            {
                "parameters": {
                    "jsCode": "const input = $('Parse Input').first().json;\nconst personality = $('Get Personality').first().json;\n\nconst taskPrompt = input.task_prompt || '';\n\n// User data already parsed by Parse Input\nconst user = input.user || {};\nconst userName = user.slack_username || user.name || 'Unknown';\nconst userEmail = user.email || 'Unknown';\nconst userTimezone = user.preferences?.timezone || user.timezone || 'America/Chicago';\nconst userRole = user.role || 'member';\nconst userSlackId = user.slack_user_id || '';\n\n// Parse slack_context - may be passed as JSON string\nlet slackContext = {};\nif (input.slack_context) {\n  if (typeof input.slack_context === 'string') {\n    try {\n      slackContext = JSON.parse(input.slack_context);\n    } catch (e) {\n      slackContext = {};\n    }\n  } else {\n    slackContext = input.slack_context;\n  }\n}\n\nconst sessionId = input.session_id || '';\n\n// =============================================================================\n// DETERMINISTIC TIME CONTEXT - Injected at prompt build time\n// =============================================================================\nconst now = new Date();\n\n// Helper to format date in user's timezone\nfunction formatInTimezone(date, tz) {\n  try {\n    return date.toLocaleString('en-US', { timeZone: tz, hour12: false,\n      year: 'numeric', month: '2-digit', day: '2-digit',\n      hour: '2-digit', minute: '2-digit', second: '2-digit'\n    });\n  } catch (e) {\n    return date.toISOString();\n  }\n}\n\n// Get ISO string with timezone offset\nfunction toISOWithOffset(date, tz) {\n  try {\n    const options = { timeZone: tz, hour12: false,\n      year: 'numeric', month: '2-digit', day: '2-digit',\n      hour: '2-digit', minute: '2-digit', second: '2-digit'\n    };\n    const parts = new Intl.DateTimeFormat('en-CA', options).formatToParts(date);\n    const get = (type) => parts.find(p => p.type === type)?.value || '00';\n    const isoBase = `${get('year')}-${get('month')}-${get('day')}T${get('hour')}:${get('minute')}:${get('second')}`;\n    \n    // Calculate offset\n    const utcDate = new Date(date.toLocaleString('en-US', { timeZone: 'UTC' }));\n    const tzDate = new Date(date.toLocaleString('en-US', { timeZone: tz }));\n    const offsetMs = tzDate - utcDate;\n    const offsetHours = Math.floor(Math.abs(offsetMs) / 3600000);\n    const offsetMins = Math.floor((Math.abs(offsetMs) % 3600000) / 60000);\n    const offsetSign = offsetMs >= 0 ? '+' : '-';\n    const offsetStr = `${offsetSign}${String(offsetHours).padStart(2, '0')}:${String(offsetMins).padStart(2, '0')}`;\n    \n    return `${isoBase}${offsetStr}`;\n  } catch (e) {\n    return date.toISOString();\n  }\n}\n\n// Calculate key timestamps\nconst nowIso = toISOWithOffset(now, userTimezone);\nconst nowUtc = now.toISOString();\n\n// Today start/end in user's timezone\nconst todayStart = new Date(now.toLocaleString('en-US', { timeZone: userTimezone }).split(',')[0]);\nconst todayEnd = new Date(todayStart);\ntodayEnd.setDate(todayEnd.getDate() + 1);\ntodayEnd.setMilliseconds(todayEnd.getMilliseconds() - 1);\n\n// Tomorrow start\nconst tomorrowStart = new Date(todayStart);\ntomorrowStart.setDate(tomorrowStart.getDate() + 1);\n\n// Common time windows from now\nconst plus30min = new Date(now.getTime() + 30 * 60 * 1000);\nconst plus1hr = new Date(now.getTime() + 60 * 60 * 1000);\nconst plus24hr = new Date(now.getTime() + 24 * 60 * 60 * 1000);\n\nconst timeContext = {\n  now_iso: nowIso,\n  now_utc: nowUtc,\n  timezone: userTimezone,\n  today_start_iso: toISOWithOffset(todayStart, userTimezone),\n  today_end_iso: toISOWithOffset(todayEnd, userTimezone),\n  tomorrow_start_iso: toISOWithOffset(tomorrowStart, userTimezone),\n  plus_30min_iso: toISOWithOffset(plus30min, userTimezone),\n  plus_1hr_iso: toISOWithOffset(plus1hr, userTimezone),\n  plus_24hr_iso: toISOWithOffset(plus24hr, userTimezone)\n};\n\nconst systemPrompt = `${personality.system_prompt}\n\nYOUR ROLE:\nYou are an execution agent with direct access to tools. Your job is to fulfill the task\nbelow by taking action \u2014 calling tools, gathering data, and composing a response.\n\nTASK INTERPRETATION:\n- Analyze what the task requires. Determine which tools to call, even if not explicitly named.\n- \"calendar summary\" / \"events today\" / \"agenda\" / \"daily brief\" \u2192 call google_calendar\n- \"email\" / \"inbox\" / \"messages\" \u2192 call gmail\n- \"document\" / \"notes\" \u2192 call google_docs\n- If the task asks you to \"deliver\" or \"send\" something that requires live data \u2192 fetch it first\n- If the task references a persona or says \"in-character\" \u2192 you already have that persona above\n- NEVER say data is \"missing\" or \"not attached\" when you have tools to retrieve it\n\nUSER CONTEXT:\n- Name: ${userName}\n- Email: ${userEmail}\n- Timezone: ${userTimezone}\n- Role: ${userRole}\n\nCURRENT TIME CONTEXT (use these exact values for time-sensitive operations):\n- Current Time: ${timeContext.now_iso}\n- Current Time (UTC): ${timeContext.now_utc}\n- Today Start: ${timeContext.today_start_iso}\n- Today End: ${timeContext.today_end_iso}\n- Tomorrow Start: ${timeContext.tomorrow_start_iso}\n- In 30 Minutes: ${timeContext.plus_30min_iso}\n- In 1 Hour: ${timeContext.plus_1hr_iso}\n- In 24 Hours: ${timeContext.plus_24hr_iso}\n\nAVAILABLE TOOLS:\n\n1. gmail - Access and manage Gmail\n   - list_messages: Search emails\n   - get_message: Read a specific email by message ID\n   - send_email: Send an email (requires to, subject, body)\n   - IMPORTANT: All sent emails require user approval via Slack before sending\n   - CRITICAL: Before sending to @mentioned users, call list_users first to get their verified email\n\n2. google_calendar - Access and manage Google Calendar\n   - list_events: List events in a time range\n   - create_event: Create a new calendar event\n   - update_event: Update an existing event\n   - delete_event: Delete an event\n   - rsvp_event: Change RSVP status\n\n3. google_docs - Access and manage Google Docs\n   - get_document: Read a doc\n   - create_document: Create new doc with optional content\n   - append_text: Add text to end of doc\n   - update_document: Replace entire document content\n   - insert_text: Insert text at start, end, or specific index\n   - get_metadata: Get doc metadata without content (faster)\n\n4. google_sheets - Access and manage Google Sheets\n   - read_range: Read cells from a sheet\n   - write_range: Write/replace cells in a sheet\n   - append_rows: Add rows to a sheet\n   - create_spreadsheet: Create a new spreadsheet\n   - get_spreadsheet: Get spreadsheet metadata and sheet list\n   - clear_range: Clear values without deleting cells\n   - create_sheet: Add new tab to spreadsheet\n   - delete_sheet: Remove tab from spreadsheet\n   - batch_get: Read multiple ranges efficiently\n   - batch_update: Write to multiple ranges efficiently\n   - find_replace: Search and replace text\n\n5. google_drive - Access and manage Google Drive files\n   - list_files: List files in a folder\n   - search_files: Search files by name\n   - get_file: Get file metadata\n   - upload_file: Upload a file\n   - download_file: Download file content\n   - create_folder: Create a folder\n   - move_file: Move file to different folder\n   - copy_file: Copy a file\n   - delete_file: Move file to trash\n\n7. slack_message - Send messages to Slack channels or DMs to OTHER users\n   - DO NOT use this to message the current user - your response is auto-delivered\n   - For channels: use channel name or ID\n   - For DMs: use their Slack user ID\n\n8. web_search - Search the web for current information\n   - Use when you need real-time or up-to-date information\n   - Parameters: query (required), context (optional), allowed_domains (optional)\n\n9. list_users - Look up users in the system\n   - MANDATORY before emailing @mentioned users\n   - Returns: user's real name, email address, Slack user ID\n\n10. update_user_preferences - Update user preferences like personality, timezone\n\n11. time_management - Calculate custom time windows\n    - get_window: Calculate a specific time window (e.g., \"next 2 hours\", \"tomorrow afternoon\")\n    - NOTE: For standard time references, use CURRENT TIME CONTEXT above instead\n\n12. scheduled_tasks - Create, list, update, or delete scheduled tasks\n    - Use for recurring reminders, daily reports, etc.\n    - CRITICAL: The 'request' field is what gets executed later by an AI agent on autopilot.\n      Write it as PRECISE INSTRUCTIONS, not conversational text. It must be:\n      - Self-contained: include all rules and context the executor needs\n      - Deterministic: reference injected timestamps, don't say \"next 30 min\"\n      - Include clear no-action rules: \"output empty string if nothing to report\"\n      - For meeting reminders: exclude solo blocks, all-day events, already-ongoing events\n      - Never include personality instructions (executor has its own)\n      - Never rely on memory or prior context \u2014 each execution is stateless\n\n13. analyze_email_tone - Learn the user's email writing style\n    - Use when user asks to learn their email style\n\n14. email_approval_guard - Guard for email sending approval\n    - ALWAYS use before sending emails\n\n##############################################\n# MANDATORY EXECUTION RULES - READ CAREFULLY #\n##############################################\n\nRULE #1 - ALWAYS EXECUTE REQUESTED TOOLS:\n- When a user asks you to do something, YOU MUST CALL THE APPROPRIATE TOOL.\n- Do NOT refuse based on memory of previous failures.\n- Do NOT ask \"would you like me to try again?\" - JUST DO IT.\n- If the user says \"send an email\", you CALL the gmail tool. Period.\n\nRULE #2 - NEVER GUESS EMAIL ADDRESSES:\n- If a user @mentions someone, you MUST call list_users to get their email.\n- NEVER use an email address from memory or guessing.\n- If you cannot look up the email, ASK the user for it.\n\nRULE #3 - NEVER SWITCH CHANNELS AUTONOMOUSLY:\n- If email fails, REPORT THE ERROR. Do not send Slack DM instead.\n- The user must explicitly approve any alternative action.\n\nRULE #4 - REPORT ERRORS, DON'T AVOID THEM:\n- If a tool fails, tell the user what happened.\n- Then offer to try again or ask what they want to do.\n\nRULE #5 - USE APPROVAL GUARD BEFORE SENDING EMAILS:\n- Always call email_approval_guard before actually sending emails.\n\nRULE #6 - USE CURRENT TIME CONTEXT (MANDATORY):\n- For ALL time-sensitive operations, use the timestamps from CURRENT TIME CONTEXT section above.\n- \"events in the next 30 minutes\" = time_min: Current Time, time_max: In 30 Minutes\n- \"today's events\" = time_min: Today Start, time_max: Today End\n- \"tomorrow's events\" = time_min: Tomorrow Start, time_max: (add 24hrs)\n- NEVER guess or hallucinate timestamps \u2014 use the exact values provided above.\n- CRITICAL: If the task prompt mentions a specific date that CONFLICTS with the\n  CURRENT TIME CONTEXT above, ALWAYS trust CURRENT TIME CONTEXT. These timestamps\n  are deterministically computed at execution time and are always correct. Dates\n  mentioned in the task prompt text may be stale or hallucinated by an upstream model.\n\n##############################################\n\nRULE #7 - NO-ACTION RESPONSE FORMAT FOR SCHEDULED TASKS:\n- When the task prompt says \"take no action and do not send any message\" and you determine no action is needed:\n  Output EXACTLY an empty string. Do NOT explain why.\n- Do NOT say \"No action taken\" followed by context or reasons.\n- Do NOT say \"you've already been notified about...\" \u2014 just output nothing.\n- Either provide a NEW, substantive notification the user hasn't seen, OR output an empty string.\n- This is critical: verbose \"no action\" messages get sent to the user and cause confusion.\n##############################################\n\nRESPONSE LENGTH:\n- Keep responses concise (under 2000 chars for Slack compatibility).\n\nRESPONSE ROUTING:\n- Your text response is automatically delivered to the user.\n- Only use slack_message for messages to OTHER people.\n\n##############################################\n# VOICE & PERSONALITY (CRITICAL)\n##############################################\nYou are ${personality.personality_name}. Every word you write must sound like ${personality.personality_name}.\n- Use the communication style, signature expressions, and traits defined at the top of this prompt.\n- Do NOT write generic, corporate, or motivational-poster language.\n- Your response should be unmistakably in-character \u2014 if someone read it without context, they should recognize the voice.`;\n\nreturn [{\n  json: {\n    task_prompt: taskPrompt,\n    user_context: { ...user, slack_user_id: userSlackId, timezone: userTimezone },\n    slack_context: slackContext,\n    session_id: sessionId,\n    system_prompt: systemPrompt,\n    time_context: timeContext\n  }\n}];"
                },
                "id": "build-system-prompt",
                "name": "Build System Prompt",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    480,
                    400
                ]
            },
            {
                "parameters": {
                    "promptType": "define",
                    "text": "={{ $json.task_prompt }}",
                    "options": {
                        "systemMessage": "={{ $json.system_prompt }}",
                        "maxIterations": 10,
                        "returnIntermediateSteps": true
                    }
                },
                "id": "ai-agent",
                "name": "Utility Worker Agent",
                "type": "@n8n/n8n-nodes-langchain.agent",
                "typeVersion": 3.1,
                "position": [
                    1472,
                    400
                ],
                "onError": "continueErrorOutput"
            },
            {
                "parameters": {
                    "sessionIdType": "customKey",
                    "sessionKey": "={{ $('Build System Prompt').item.json.session_id }}",
                    "tableName": "alfred_chat_history",
                    "contextWindowLength": 10
                },
                "id": "chat-memory",
                "name": "Chat Memory",
                "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
                "typeVersion": 1.3,
                "position": [
                    832,
                    624
                ],
                "credentials": {
                    "postgres": {
                        "id": "8nTSHxonyIBczkvN",
                        "name": "Postgres account"
                    }
                }
            },
            {
                "parameters": {
                    "description": "Access and manage Gmail. Actions: list_messages (search emails), get_message (read email by ID), send_email (send new email). The user's identity is automatically determined.",
                    "workflowId": {
                        "__rl": true,
                        "mode": "id",
                        "value": "4o06kwV3LGoZjGY9"
                    },
                    "workflowInputs": {
                        "mappingMode": "defineBelow",
                        "value": {
                            "slack_user_id": "={{ $('Build System Prompt').item.json.user_context.slack_user_id }}",
                            "action": "={{ $fromAI(\"action\", \"The Gmail action: list_messages, get_message, or send_email\", \"string\", \"\") }}",
                            "query": "={{ $fromAI(\"query\", \"Gmail search query for list_messages\", \"string\", \"\") }}",
                            "max_results": "={{ $fromAI(\"max_results\", \"Maximum number of results\", \"string\", \"\") }}",
                            "message_id": "={{ $fromAI(\"message_id\", \"The message ID for get_message\", \"string\", \"\") }}",
                            "to": "={{ $fromAI(\"to\", \"Recipient email address for send_email\", \"string\", \"\") }}",
                            "subject": "={{ $fromAI(\"subject\", \"Email subject for send_email\", \"string\", \"\") }}",
                            "body": "={{ $fromAI(\"body\", \"Email body content for send_email\", \"string\", \"\") }}",
                            "cc": "={{ $fromAI(\"cc\", \"CC email addresses for send_email\", \"string\", \"\") }}",
                            "bcc": "={{ $fromAI(\"bcc\", \"BCC email addresses for send_email\", \"string\", \"\") }}",
                            "channel_id": "={{ $('Build System Prompt').item.json.slack_context.channel_id }}",
                            "thread_ts": "={{ $('Build System Prompt').item.json.slack_context.thread_ts }}"
                        },
                        "schema": [
                            {
                                "id": "slack_user_id",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "slack_user_id"
                            },
                            {
                                "id": "action",
                                "type": "string",
                                "display": true,
                                "required": true,
                                "displayName": "action"
                            },
                            {
                                "id": "query",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "query"
                            },
                            {
                                "id": "max_results",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "max_results"
                            },
                            {
                                "id": "message_id",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "message_id"
                            },
                            {
                                "id": "to",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "to"
                            },
                            {
                                "id": "subject",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "subject"
                            },
                            {
                                "id": "body",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "body"
                            },
                            {
                                "id": "cc",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "cc"
                            },
                            {
                                "id": "bcc",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "bcc"
                            }
                        ],
                        "matchingColumns": [],
                        "attemptToConvertTypes": false,
                        "convertFieldsToString": false
                    }
                },
                "id": "tool-gmail",
                "name": "Tool: Gmail",
                "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
                "typeVersion": 2.2,
                "position": [
                    960,
                    624
                ]
            },
            {
                "parameters": {
                    "description": "List upcoming calendar events. Provide time_min and time_max in ISO format to filter the date range. Returns events with titles, times, and details.",
                    "workflowId": {
                        "__rl": true,
                        "mode": "id",
                        "value": "9rzYXSNhqSF6tVNC"
                    },
                    "workflowInputs": {
                        "mappingMode": "defineBelow",
                        "value": {
                            "slack_user_id": "={{ $('Build System Prompt').item.json.user_context.slack_user_id }}",
                            "user_timezone": "={{ $('Build System Prompt').item.json.user_context.timezone }}",
                            "action": "={{ $fromAI(\"action\", \"The calendar action: list_events, create_event, update_event, delete_event, or rsvp_event\", \"string\", \"\") }}",
                            "calendar_id": "={{ $fromAI(\"calendar_id\", \"Calendar ID - use primary for main calendar\", \"string\", \"\") }}",
                            "time_min": "={{ $fromAI(\"time_min\", \"Start of date range in ISO format e.g. 2024-01-15T00:00:00Z\", \"string\", \"\") }}",
                            "time_max": "={{ $fromAI(\"time_max\", \"End of date range in ISO format e.g. 2024-01-16T00:00:00Z\", \"string\", \"\") }}",
                            "max_results": "={{ $fromAI(\"max_results\", \"Maximum events to return default 10\", \"string\", \"\") }}",
                            "summary": "={{ $fromAI(\"summary\", \"Event title/name for create_event\", \"string\", \"\") }}",
                            "description": "={{ $fromAI(\"description\", \"Event description or notes\", \"string\", \"\") }}",
                            "start_time": "={{ $fromAI(\"start_time\", \"Event start in ISO format e.g. 2024-01-15T09:00:00-06:00\", \"string\", \"\") }}",
                            "end_time": "={{ $fromAI(\"end_time\", \"Event end in ISO format e.g. 2024-01-15T10:00:00-06:00\", \"string\", \"\") }}",
                            "attendees": "={{ $fromAI(\"attendees\", \"Comma-separated email addresses of attendees\", \"string\", \"\") }}",
                            "event_id": "={{ $fromAI(\"event_id\", \"The ID of the event for update/delete/rsvp operations\", \"string\", \"\") }}",
                            "rsvp_status": "={{ $fromAI(\"rsvp_status\", \"RSVP status: accepted, declined, or tentative\", \"string\", \"\") }}",
                            "send_updates": "={{ $fromAI(\"send_updates\", \"Notification preference: all (default) or none\", \"string\", \"\") }}"
                        },
                        "schema": [
                            {
                                "id": "slack_user_id",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "slack_user_id"
                            },
                            {
                                "id": "user_timezone",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "user_timezone"
                            },
                            {
                                "id": "action",
                                "type": "string",
                                "display": true,
                                "required": true,
                                "displayName": "action"
                            },
                            {
                                "id": "calendar_id",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "calendar_id"
                            },
                            {
                                "id": "time_min",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "time_min"
                            },
                            {
                                "id": "time_max",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "time_max"
                            },
                            {
                                "id": "max_results",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "max_results"
                            },
                            {
                                "id": "summary",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "summary"
                            },
                            {
                                "id": "description",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "description"
                            },
                            {
                                "id": "start_time",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "start_time"
                            },
                            {
                                "id": "end_time",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "end_time"
                            },
                            {
                                "id": "attendees",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "attendees"
                            },
                            {
                                "id": "event_id",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "event_id"
                            },
                            {
                                "id": "rsvp_status",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "rsvp_status"
                            },
                            {
                                "id": "send_updates",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "send_updates"
                            }
                        ],
                        "matchingColumns": [],
                        "attemptToConvertTypes": false,
                        "convertFieldsToString": false
                    }
                },
                "id": "tool-google-calendar",
                "name": "Tool: Google Calendar",
                "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
                "typeVersion": 2.2,
                "position": [
                    1088,
                    624
                ]
            },
            {
                "parameters": {
                    "description": "Access and manage Google Docs. Actions: get_document (read a doc), create_document (create new doc), append_text (add text). The user's identity is automatically determined.",
                    "workflowId": {
                        "__rl": true,
                        "mode": "id",
                        "value": "ZUMZ7oNUzDRDnFft"
                    },
                    "workflowInputs": {
                        "mappingMode": "defineBelow",
                        "value": {
                            "slack_user_id": "={{ $('Build System Prompt').item.json.user_context.slack_user_id }}",
                            "action": "={{ $fromAI(\"action\", \"The Docs action: get_document, create_document, or append_text\", \"string\", \"\") }}",
                            "document_id": "={{ $fromAI(\"document_id\", \"The Google Doc ID\", \"string\", \"\") }}",
                            "title": "={{ $fromAI(\"title\", \"Document title for create_document\", \"string\", \"\") }}",
                            "content": "={{ $fromAI(\"content\", \"Text content to write or append\", \"string\", \"\") }}",
                            "folder_id": "={{ $fromAI(\"folder_id\", \"Google Drive folder ID\", \"string\", \"\") }}"
                        },
                        "schema": [
                            {
                                "id": "slack_user_id",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "slack_user_id"
                            },
                            {
                                "id": "action",
                                "type": "string",
                                "display": true,
                                "required": true,
                                "displayName": "action"
                            },
                            {
                                "id": "document_id",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "document_id"
                            },
                            {
                                "id": "title",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "title"
                            },
                            {
                                "id": "content",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "content"
                            },
                            {
                                "id": "folder_id",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "folder_id"
                            }
                        ],
                        "matchingColumns": [],
                        "attemptToConvertTypes": false,
                        "convertFieldsToString": false
                    }
                },
                "id": "tool-google-docs",
                "name": "Tool: Google Docs",
                "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
                "typeVersion": 2.2,
                "position": [
                    1216,
                    624
                ]
            },
            {
                "parameters": {
                    "description": "Access and manage Google Sheets. Actions: read_range, write_range, append_rows, create_spreadsheet. The user's identity is automatically determined.",
                    "workflowId": {
                        "__rl": true,
                        "mode": "id",
                        "value": "tWgJgDHdIHBhCOr0"
                    },
                    "workflowInputs": {
                        "mappingMode": "defineBelow",
                        "value": {
                            "slack_user_id": "={{ $('Build System Prompt').item.json.user_context.slack_user_id }}",
                            "action": "={{ $fromAI(\"action\", \"The Sheets action: read_range, write_range, append_rows, or create_spreadsheet\", \"string\", \"\") }}",
                            "spreadsheet_id": "={{ $fromAI(\"spreadsheet_id\", \"The Google Sheet ID\", \"string\", \"\") }}",
                            "range": "={{ $fromAI(\"range\", \"The A1 notation range\", \"string\", \"\") }}",
                            "values": "={{ $fromAI(\"values\", \"JSON array of arrays with values\", \"string\", \"\") }}",
                            "title": "={{ $fromAI(\"title\", \"Spreadsheet title for create_spreadsheet\", \"string\", \"\") }}",
                            "sheet_name": "={{ $fromAI(\"sheet_name\", \"Sheet or tab name\", \"string\", \"\") }}"
                        },
                        "schema": [
                            {
                                "id": "slack_user_id",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "slack_user_id"
                            },
                            {
                                "id": "action",
                                "type": "string",
                                "display": true,
                                "required": true,
                                "displayName": "action"
                            },
                            {
                                "id": "spreadsheet_id",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "spreadsheet_id"
                            },
                            {
                                "id": "range",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "range"
                            },
                            {
                                "id": "values",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "values"
                            },
                            {
                                "id": "title",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "title"
                            },
                            {
                                "id": "sheet_name",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "sheet_name"
                            }
                        ],
                        "matchingColumns": [],
                        "attemptToConvertTypes": false,
                        "convertFieldsToString": false
                    }
                },
                "id": "tool-google-sheets",
                "name": "Tool: Google Sheets",
                "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
                "typeVersion": 2.2,
                "position": [
                    1344,
                    624
                ]
            },
            {
                "parameters": {
                    "description": "Send a message to a Slack CHANNEL or DM to ANOTHER user (not yourself). For channels: use channel name (e.g., 'general') or channel ID. For DMs to other users: use their Slack user ID (starts with U, e.g., U07RPDGL1PE). NEVER use this to message the current user - the Response Router handles that automatically.",
                    "workflowId": {
                        "__rl": true,
                        "mode": "id",
                        "value": "B7vIQscroN53icOa"
                    },
                    "workflowInputs": {
                        "mappingMode": "defineBelow",
                        "value": {
                            "channel": "={{ $fromAI('channel', 'The channel name (without #) or Slack user ID to send the message to', 'string', \"\") }}",
                            "message": "={{ $fromAI('message', 'The message content to send', 'string', \"\") }}",
                            "thread_ts": "={{ $fromAI('thread_ts', 'Optional: thread timestamp for replying in a thread. Leave empty for new messages.', 'string', \"\") }}",
                            "slack_user_id": "={{ $('Build System Prompt').item.json.user_context.slack_user_id }}"
                        },
                        "schema": [
                            {
                                "id": "channel",
                                "type": "string",
                                "display": true,
                                "required": true,
                                "displayName": "channel"
                            },
                            {
                                "id": "message",
                                "type": "string",
                                "display": true,
                                "required": true,
                                "displayName": "message"
                            },
                            {
                                "id": "thread_ts",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "thread_ts"
                            },
                            {
                                "id": "slack_user_id",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "slack_user_id"
                            }
                        ]
                    }
                },
                "id": "tool-slack-message",
                "name": "Tool: Slack Message",
                "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
                "typeVersion": 2.2,
                "position": [
                    1472,
                    624
                ]
            },
            {
                "parameters": {
                    "description": "Search the web for current information, news, and real-time data. Use this when you need up-to-date information that may not be in your training data. Returns results with cited sources.",
                    "workflowId": {
                        "__rl": true,
                        "mode": "id",
                        "value": "F0TUHVEzA79rroyS"
                    },
                    "workflowInputs": {
                        "mappingMode": "defineBelow",
                        "value": {
                            "query": "={{ $fromAI(\"query\", \"The search query to look up on the web\", \"string\", \"\") }}",
                            "context": "={{ $fromAI(\"context\", \"Optional additional context to improve search results\", \"string\", \"\") }}",
                            "allowed_domains": "={{ $fromAI(\"allowed_domains\", \"Optional comma-separated list of domains to limit search to\", \"string\", \"\") }}"
                        },
                        "schema": [
                            {
                                "id": "query",
                                "type": "string",
                                "display": true,
                                "required": true,
                                "displayName": "query"
                            },
                            {
                                "id": "context",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "context"
                            },
                            {
                                "id": "allowed_domains",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "allowed_domains"
                            }
                        ],
                        "matchingColumns": [],
                        "attemptToConvertTypes": false,
                        "convertFieldsToString": false
                    }
                },
                "id": "tool-web-search",
                "name": "Tool: Web Search",
                "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
                "typeVersion": 2.2,
                "position": [
                    1600,
                    624
                ]
            },
            {
                "parameters": {
                    "description": "List all users registered in the Alfred system or look up a specific user. Shows their Slack username, email, role, timezone, and Google auth status. Use this before sending emails to @mentioned users to get their verified email address.",
                    "workflowId": {
                        "__rl": true,
                        "mode": "id",
                        "value": "DIr3sLVyRlkgm4lu"
                    },
                    "workflowInputs": {
                        "mappingMode": "defineBelow",
                        "value": {
                            "slack_user_id": "={{ $fromAI(\"target_slack_user_id\", \"Optional: Slack user ID to look up a specific user\", \"string\", \"\") }}",
                            "action": "list_users",
                            "role": "",
                            "timezone_override": "",
                            "requesting_user_id": "={{ $('Build System Prompt').item.json.user_context.slack_user_id }}"
                        },
                        "schema": [
                            {
                                "id": "slack_user_id",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "slack_user_id"
                            },
                            {
                                "id": "action",
                                "type": "string",
                                "display": true,
                                "required": true,
                                "displayName": "action"
                            },
                            {
                                "id": "role",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "role"
                            },
                            {
                                "id": "timezone_override",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "timezone_override"
                            },
                            {
                                "id": "requesting_user_id",
                                "type": "string",
                                "display": true,
                                "required": true,
                                "displayName": "requesting_user_id"
                            }
                        ]
                    }
                },
                "id": "tool-user-management",
                "name": "Tool: User Management",
                "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
                "typeVersion": 2.2,
                "position": [
                    1728,
                    624
                ]
            },
            {
                "parameters": {
                    "description": "Update user preferences like personality, timezone, etc. Use this to change the user's personality/mode (e.g., switch to JARVIS, alfred, dwight, jim, donna). Pass preference_key and preference_value.",
                    "workflowId": {
                        "__rl": true,
                        "mode": "id",
                        "value": "XQIgdUEsFw2nH6a7"
                    },
                    "workflowInputs": {
                        "mappingMode": "defineBelow",
                        "value": {
                            "slack_user_id": "={{ $('Build System Prompt').item.json.user_context.slack_user_id }}",
                            "preference_key": "={{ $fromAI(\"preference_key\", \"The preference key to update e.g. personality\", \"string\", \"\") }}",
                            "preference_value": "={{ $fromAI(\"preference_value\", \"The new value for the preference\", \"string\", \"\") }}"
                        },
                        "schema": [
                            {
                                "id": "slack_user_id",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "slack_user_id"
                            },
                            {
                                "id": "preference_key",
                                "type": "string",
                                "display": true,
                                "required": true,
                                "displayName": "preference_key"
                            },
                            {
                                "id": "preference_value",
                                "type": "string",
                                "display": true,
                                "required": true,
                                "displayName": "preference_value"
                            }
                        ],
                        "matchingColumns": [],
                        "attemptToConvertTypes": false,
                        "convertFieldsToString": false
                    }
                },
                "id": "tool-update-preferences",
                "name": "Tool: Update Preferences",
                "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
                "typeVersion": 2.2,
                "position": [
                    1856,
                    624
                ]
            },
            {
                "parameters": {
                    "description": "Get accurate time context and evaluate event times. Use this for ANY time-related reasoning. Actions: (1) get_context - returns current time, timezone, today/tomorrow boundaries (no params needed). (2) get_window - calculate a time window (params: offset_start_minutes, offset_end_minutes). ALWAYS use this tool for time calculations.",
                    "workflowId": {
                        "__rl": true,
                        "mode": "id",
                        "value": "fhb6nIQYs2L1YPVm"
                    },
                    "workflowInputs": {
                        "mappingMode": "defineBelow",
                        "value": {
                            "slack_user_id": "={{ $('Build System Prompt').item.json.user_context.slack_user_id }}",
                            "action": "={{ $fromAI('action', 'The action: get_context or get_window', 'string', \"\") }}",
                            "params": "={{ $fromAI('params', 'Optional JSON string with action parameters. For get_context: leave empty or \"{}\". For get_window: {\"offset_start_minutes\": 0, \"offset_end_minutes\": 60}', 'string') }}"
                        },
                        "schema": [
                            {
                                "id": "slack_user_id",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "slack_user_id"
                            },
                            {
                                "id": "action",
                                "type": "string",
                                "display": true,
                                "required": true,
                                "displayName": "action"
                            },
                            {
                                "id": "params",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "params"
                            }
                        ]
                    }
                },
                "id": "tool-time-management",
                "name": "Tool: Time Management",
                "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
                "typeVersion": 2.2,
                "position": [
                    1984,
                    624
                ]
            },
            {
                "parameters": {
                    "description": "Create, list, update, or delete scheduled tasks. Use this when the user wants to set up recurring reminders, daily reports, or any automated scheduled actions.",
                    "workflowId": {
                        "__rl": true,
                        "mode": "id",
                        "value": "GVUVTmfFfdIpApKq"
                    },
                    "workflowInputs": {
                        "mappingMode": "defineBelow",
                        "value": {
                            "slack_user_id": "={{ $('Build System Prompt').item.json.user_context.slack_user_id }}",
                            "action": "={{ $fromAI(\"action\", \"The action: create, list, update, or delete\", \"string\", \"\") }}",
                            "task_id": "={{ $fromAI(\"task_id\", \"For update/delete: the task ID\", \"string\", \"\") }}",
                            "name": "={{ $fromAI(\"name\", \"For create: human-readable task name\", \"string\", \"\") }}",
                            "request": "={{ $fromAI(\"request\", \"For create: the full request to send to Alfred when task runs\", \"string\", \"\") }}",
                            "schedule_type": "={{ $fromAI(\"schedule_type\", \"For create: once, daily, weekly, or interval\", \"string\", \"\") }}",
                            "scheduled_time": "={{ $fromAI(\"scheduled_time\", \"For daily/weekly: time in HH:MM format (24-hour)\", \"string\", \"\") }}",
                            "days_of_week": "={{ $fromAI(\"days_of_week\", \"For weekly: comma-separated day numbers 1-7 (1=Mon)\", \"string\", \"\") }}",
                            "interval_minutes": "={{ $fromAI(\"interval_minutes\", \"For interval: minutes between runs\", \"string\", \"\") }}",
                            "one_time_at": "={{ $fromAI(\"one_time_at\", \"For once: ISO datetime string\", \"string\", \"\") }}",
                            "channels": "={{ $fromAI(\"channels\", \"Delivery channels: slack, email, or slack,email\", \"string\", \"\") }}",
                            "is_active": "={{ $fromAI(\"is_active\", \"For update: true or false to enable/disable\", \"string\", \"\") }}"
                        },
                        "schema": [
                            {
                                "id": "slack_user_id",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "slack_user_id"
                            },
                            {
                                "id": "action",
                                "type": "string",
                                "display": true,
                                "required": true,
                                "displayName": "action"
                            },
                            {
                                "id": "task_id",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "task_id"
                            },
                            {
                                "id": "name",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "name"
                            },
                            {
                                "id": "request",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "request"
                            },
                            {
                                "id": "schedule_type",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "schedule_type"
                            },
                            {
                                "id": "scheduled_time",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "scheduled_time"
                            },
                            {
                                "id": "days_of_week",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "days_of_week"
                            },
                            {
                                "id": "interval_minutes",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "interval_minutes"
                            },
                            {
                                "id": "one_time_at",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "one_time_at"
                            },
                            {
                                "id": "channels",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "channels"
                            },
                            {
                                "id": "is_active",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "is_active"
                            }
                        ],
                        "matchingColumns": [],
                        "attemptToConvertTypes": false,
                        "convertFieldsToString": false
                    }
                },
                "id": "tool-scheduled-tasks",
                "name": "Tool: Scheduled Tasks",
                "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
                "typeVersion": 2.2,
                "position": [
                    2112,
                    624
                ]
            },
            {
                "parameters": {
                    "description": "Analyze the user's sent emails and create a comprehensive writing style guide. Use when user asks to 'learn my email style' or 'analyze my writing'. Pass mode='recent' for recent emails or mode='specific' with message_ids for specific emails.",
                    "workflowId": {
                        "__rl": true,
                        "mode": "id",
                        "value": "LSlDQ7mxMjxUddfa"
                    },
                    "workflowInputs": {
                        "mappingMode": "defineBelow",
                        "value": {
                            "slack_user_id": "={{ $('Build System Prompt').item.json.user_context.slack_user_id }}",
                            "mode": "={{ $fromAI(\"mode\", \"Analysis mode: 'recent' for recent emails or 'specific' for specific message IDs\", \"string\", \"\") }}",
                            "count": "={{ $fromAI(\"count\", \"Number of emails to analyze (default 15, max 25)\", \"number\", \"\") }}",
                            "message_ids": "={{ $fromAI(\"message_ids\", \"Comma-separated message IDs for mode=specific\", \"string\", \"\") }}"
                        }
                    }
                },
                "id": "tool-analyze-email-tone",
                "name": "Tool: Analyze Email Tone",
                "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
                "typeVersion": 2.2,
                "position": [
                    2240,
                    624
                ]
            },
            {
                "parameters": {
                    "description": "Approval guard for sending emails. ALWAYS call this before sending any email. It will create an approval request in Slack and wait for user confirmation.",
                    "workflowId": {
                        "__rl": true,
                        "mode": "id",
                        "value": "1S0dhI1K4X0528Dy"
                    },
                    "workflowInputs": {
                        "mappingMode": "defineBelow",
                        "value": {
                            "action_type": "={{ $fromAI(\"action_type\", \"Type of action requiring approval: send_email, delete_data, external_api_call\", \"string\", \"\") }}",
                            "user_id": "={{ $('Build System Prompt').item.json.user_context?.user?.id || '' }}",
                            "slack_user_id": "={{ $('Build System Prompt').item.json.user_context.slack_user_id }}",
                            "slack_channel_id": "={{ $('Build System Prompt').item.json.slack_context.channel_id }}",
                            "slack_thread_ts": "={{ $('Build System Prompt').item.json.slack_context.thread_ts }}",
                            "payload": "={{ $fromAI(\"payload\", \"JSON object with action details. For send_email: {to, subject, body_preview}. For other actions: relevant details.\", \"string\", \"\") }}",
                            "expiry_minutes": "={{ $fromAI(\"expiry_minutes\", \"Minutes before approval expires (default: 60)\", \"number\", \"\") || 60 }}"
                        },
                        "schema": [
                            {
                                "id": "action_type",
                                "type": "string",
                                "display": true,
                                "required": true,
                                "displayName": "action_type"
                            },
                            {
                                "id": "user_id",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "user_id"
                            },
                            {
                                "id": "slack_user_id",
                                "type": "string",
                                "display": true,
                                "required": true,
                                "displayName": "slack_user_id"
                            },
                            {
                                "id": "slack_channel_id",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "slack_channel_id"
                            },
                            {
                                "id": "slack_thread_ts",
                                "type": "string",
                                "display": true,
                                "required": false,
                                "displayName": "slack_thread_ts"
                            },
                            {
                                "id": "payload",
                                "type": "string",
                                "display": true,
                                "required": true,
                                "displayName": "payload"
                            },
                            {
                                "id": "expiry_minutes",
                                "type": "number",
                                "display": true,
                                "required": false,
                                "displayName": "expiry_minutes"
                            }
                        ],
                        "matchingColumns": [],
                        "attemptToConvertTypes": false,
                        "convertFieldsToString": false
                    }
                },
                "id": "tool-approval-guard",
                "name": "Tool: Approval Guard",
                "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
                "typeVersion": 2.2,
                "position": [
                    2368,
                    624
                ]
            },
            {
                "parameters": {
                    "jsCode": "const agentOutput = $input.first().json;\nconst context = $('Build System Prompt').first().json;\n\n// Extract actions taken from intermediate steps if available\nconst actionsTaken = [];\nlet notifiedEventIds = [];\n\nif (agentOutput.intermediateSteps && Array.isArray(agentOutput.intermediateSteps)) {\n  for (const step of agentOutput.intermediateSteps) {\n    if (step.action && step.action.tool) {\n      actionsTaken.push(`Called ${step.action.tool}`);\n    }\n\n    // Extract event IDs from calendar tool calls for dedup tracking\n    if (step.action?.tool === 'Tool_Google_Calendar' && step.observation) {\n      try {\n        let obs = step.observation;\n        if (typeof obs === 'string') {\n          obs = JSON.parse(obs);\n        }\n        const obsData = Array.isArray(obs) ? obs[0] : obs;\n        // Collect IDs of upcoming events that were shown to the AI\n        if (obsData?.events_by_status?.upcoming) {\n          for (const event of obsData.events_by_status.upcoming) {\n            if (event.id) notifiedEventIds.push(event.id);\n          }\n        }\n      } catch (e) { /* ignore parse errors */ }\n    }\n  }\n}\n\n// Determine response text\nlet responseText = agentOutput.output || agentOutput.text || '';\n\n// Strip LLM reasoning tags that shouldn't reach the user.\n// LLMs sometimes wrap internal reasoning in XML-like tags (e.g., <function_result_interpretation>)\n// instead of outputting an actual empty string. These must never reach Slack.\n// Regex targets tags like <word_tag> but NOT Slack mentions like <@U123> or <#C123>.\nconst stripped = responseText.replace(/<\\/?[a-z][a-z0-9_]*>/gi, '').trim();\n\n// If the LLM wrapped reasoning in tags and the stripped content indicates \"no action\",\n// honor the LLM's intent and produce an actual empty string.\nconst noActionPatterns = /should be excluded|output.*empty string|no qualifying events|no action|nothing to report|per instructions.*excluded/i;\nif (stripped !== responseText.trim() && noActionPatterns.test(stripped)) {\n  responseText = '';\n  notifiedEventIds = [];\n} else if (stripped !== responseText.trim()) {\n  // Tags were present but content is substantive \u2014 use cleaned version\n  responseText = stripped;\n}\n\n// If output is empty but tools were called, this is intentional \"no action\" (not an error)\nif (!responseText && actionsTaken.length > 0) {\n  responseText = '';  // Keep as empty string \u2014 predicate evaluator will return FALSE\n}\n\n// Only use error message if output is empty AND no tools were called (actual error)\nif (!responseText && actionsTaken.length === 0) {\n  responseText = 'I apologize, but I encountered an issue processing your request.';\n}\n\n// Only include notified event IDs if we have a substantive response (not no-action)\n// This ensures we only record events that the user was ACTUALLY notified about\nconst hasSubstantiveResponse = responseText && responseText.trim() !== '' && responseText !== 'No action taken.';\n\nreturn [{\n  json: {\n    success: true,\n    result: responseText,\n    actions_taken: actionsTaken,\n    requires_approval: false,\n    pending_action_id: null,\n    notified_event_ids: hasSubstantiveResponse ? notifiedEventIds : []\n  }\n}];"
                },
                "id": "format-output",
                "name": "Format Output",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    2576,
                    304
                ]
            },
            {
                "parameters": {
                    "jsCode": "const context = $('Build System Prompt').first().json;\nconst errorData = $input.first().json;\n\nlet errorMessage = 'an unexpected issue';\nif (errorData.error?.message) {\n  const msg = errorData.error.message.toLowerCase();\n  if (msg.includes('timeout')) {\n    errorMessage = 'the request took too long';\n  } else if (msg.includes('rate limit')) {\n    errorMessage = 'too many requests right now';\n  } else if (msg.includes('credential') || msg.includes('auth')) {\n    errorMessage = 'a connection issue with one of my tools';\n  } else if (msg.includes('schema') || msg.includes('validation')) {\n    errorMessage = 'trouble understanding the request format';\n  }\n}\n\nconst friendlyResponse = `I ran into ${errorMessage} while working on that. Could you try asking again in a moment?`;\n\nreturn [{\n  json: {\n    success: false,\n    result: null,\n    error: friendlyResponse,\n    actions_taken: [],\n    requires_approval: false,\n    pending_action_id: null\n  }\n}];"
                },
                "id": "handle-error",
                "name": "Handle Error",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    2576,
                    496
                ]
            },
            {
                "parameters": {
                    "jsCode": "const input = $input.first().json;\nlet userContext = {};\nif (input.user_context) {\n  if (typeof input.user_context === 'string') {\n    try { userContext = JSON.parse(input.user_context); } catch (e) { userContext = {}; }\n  } else {\n    userContext = input.user_context;\n  }\n}\nreturn [{ json: { ...input, user: userContext.user || userContext } }];"
                },
                "id": "parse-input",
                "name": "Parse Input",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    352,
                    400
                ]
            },
            {
                "parameters": {
                    "workflowId": {
                        "__rl": true,
                        "mode": "id",
                        "value": "Cu7YnA1ZgLBjzSvr"
                    },
                    "workflowInputs": {
                        "mappingMode": "defineBelow",
                        "value": {
                            "user": "={{ $json.user }}"
                        },
                        "matchingColumns": [],
                        "schema": [
                            {
                                "id": "user",
                                "displayName": "user",
                                "required": true,
                                "display": true,
                                "type": "string"
                            }
                        ],
                        "attemptToConvertTypes": false,
                        "convertFieldsToString": false
                    },
                    "options": {}
                },
                "id": "get-personality",
                "name": "Get Personality",
                "type": "n8n-nodes-base.executeWorkflow",
                "typeVersion": 1.2,
                "position": [
                    528,
                    400
                ]
            },
            {
                "parameters": {
                    "modelName": "models/gemini-3-flash-preview",
                    "options": {}
                },
                "id": "ai-model",
                "name": "Gemini Flash",
                "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
                "typeVersion": 1,
                "position": [
                    704,
                    624
                ],
                "credentials": {
                    "googlePalmApi": {
                        "id": "RCgc0A6PRXghMDMb",
                        "name": "Google Gemini(PaLM) Api account"
                    }
                }
            }
        ],
        "connections": {
            "Build System Prompt": {
                "main": [
                    [
                        {
                            "node": "Utility Worker Agent",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Chat Memory": {
                "ai_memory": [
                    [
                        {
                            "node": "Utility Worker Agent",
                            "type": "ai_memory",
                            "index": 0
                        }
                    ]
                ]
            },
            "Tool: Gmail": {
                "ai_tool": [
                    [
                        {
                            "node": "Utility Worker Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "Tool: Google Calendar": {
                "ai_tool": [
                    [
                        {
                            "node": "Utility Worker Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "Tool: Google Docs": {
                "ai_tool": [
                    [
                        {
                            "node": "Utility Worker Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "Tool: Google Sheets": {
                "ai_tool": [
                    [
                        {
                            "node": "Utility Worker Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "Tool: Slack Message": {
                "ai_tool": [
                    [
                        {
                            "node": "Utility Worker Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "Tool: Web Search": {
                "ai_tool": [
                    [
                        {
                            "node": "Utility Worker Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "Tool: User Management": {
                "ai_tool": [
                    [
                        {
                            "node": "Utility Worker Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "Tool: Update Preferences": {
                "ai_tool": [
                    [
                        {
                            "node": "Utility Worker Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "Tool: Time Management": {
                "ai_tool": [
                    [
                        {
                            "node": "Utility Worker Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "Tool: Scheduled Tasks": {
                "ai_tool": [
                    [
                        {
                            "node": "Utility Worker Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "Tool: Analyze Email Tone": {
                "ai_tool": [
                    [
                        {
                            "node": "Utility Worker Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "Tool: Approval Guard": {
                "ai_tool": [
                    [
                        {
                            "node": "Utility Worker Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "Utility Worker Agent": {
                "main": [
                    [
                        {
                            "node": "Format Output",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Handle Error",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Execute Workflow Trigger": {
                "main": [
                    [
                        {
                            "node": "Parse Input",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Parse Input": {
                "main": [
                    [
                        {
                            "node": "Get Personality",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Personality": {
                "main": [
                    [
                        {
                            "node": "Build System Prompt",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Gemini Flash": {
                "ai_languageModel": [
                    [
                        {
                            "node": "Utility Worker Agent",
                            "type": "ai_languageModel",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Spencer Marx",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-02-12T10:45:16.840Z",
                "id": 601,
                "workflowId": "yXnjcopPZfdrzMzs",
                "versionId": "cf51119b-08b1-486b-a677-308e4a22d7be",
                "event": "activated",
                "userId": "e498ff06-ba9d-4721-8454-492195be8229"
            }
        ]
    }
}
