alfred/workflows/sub_agents/approval_guard.json
{
  "updatedAt": "2026-02-04T14:55:04.569Z",
  "createdAt": "2026-02-04T13:52:54.722Z",
  "id": "1S0dhI1K4X0528Dy",
  "name": "🛡️ Tool | Approval Guard",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "action_type" },
            { "name": "user_id" },
            { "name": "slack_user_id" },
            { "name": "slack_channel_id" },
            { "name": "slack_thread_ts" },
            { "name": "payload", "type": "object" },
            { "name": "expiry_minutes", "type": "number" }
          ]
        }
      },
      "id": "workflow-input",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [208, 304]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Calculate expiry timestamp\nconst expiryMinutes = input.expiry_minutes || 60;\nconst expiresAt = new Date(Date.now() + expiryMinutes * 60 * 1000).toISOString();\n\n// Generate a UUID v4 (compatible with n8n's execution environment)\nfunction generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst actionId = generateUUID();\n\nreturn [{\n  json: {\n    action_id: actionId,\n    action_type: input.action_type,\n    user_id: input.user_id,\n    slack_user_id: input.slack_user_id,\n    slack_channel_id: input.slack_channel_id,\n    slack_thread_ts: input.slack_thread_ts || null,\n    payload: input.payload,\n    expires_at: expiresAt,\n    expiry_minutes: expiryMinutes\n  }\n}];"
      },
      "id": "prepare-action",
      "name": "Prepare Pending Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [432, 304]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO alfred.pending_actions (\n  id,\n  action_type,\n  user_id,\n  slack_user_id,\n  slack_channel_id,\n  slack_thread_ts,\n  payload,\n  status,\n  expires_at\n) VALUES (\n  $1::uuid,\n  $2,\n  $3::integer,\n  $4,\n  $5,\n  $6,\n  $7::jsonb,\n  'pending',\n  $8::timestamptz\n)\nRETURNING id, created_at, expires_at;",
        "options": {
          "queryReplacement": "={{ [$json.action_id, $json.action_type, $json.user_id, $json.slack_user_id, $json.slack_channel_id, $json.slack_thread_ts, JSON.stringify($json.payload), $json.expires_at] }}"
        }
      },
      "id": "insert-pending-action",
      "name": "Insert Pending Action",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [640, 304],
      "credentials": {
        "postgres": { "id": "8nTSHxonyIBczkvN", "name": "Postgres account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const prepared = $('Prepare Pending Action').first().json;\nconst dbResult = $input.first().json;\n\nconst payload = prepared.payload;\nconst actionId = prepared.action_id;\nconst expiryMinutes = prepared.expiry_minutes;\n\n// Truncate body for preview (max 1500 chars)\nconst bodyPreview = (payload.body_plain || '').length > 1500\n  ? payload.body_plain.substring(0, 1497) + '...'\n  : payload.body_plain || '';\n\n// Build blocks array\nconst blocks = [\n  {\n    type: 'header',\n    text: {\n      type: 'plain_text',\n      text: '📧 Email Approval Required',\n      emoji: true\n    }\n  },\n  {\n    type: 'section',\n    fields: [\n      {\n        type: 'mrkdwn',\n        text: `*To:*\\n${payload.to || 'Not specified'}`\n      },\n      {\n        type: 'mrkdwn',\n        text: `*From:*\\n${payload.user_email || 'Not specified'}`\n      }\n    ]\n  }\n];\n\n// Add CC/BCC if present\nif (payload.cc || payload.bcc) {\n  const ccBccFields = [];\n  if (payload.cc) {\n    ccBccFields.push({ type: 'mrkdwn', text: `*CC:*\\n${payload.cc}` });\n  }\n  if (payload.bcc) {\n    ccBccFields.push({ type: 'mrkdwn', text: `*BCC:*\\n${payload.bcc}` });\n  }\n  blocks.push({ type: 'section', fields: ccBccFields });\n}\n\n// Subject\nblocks.push({\n  type: 'section',\n  text: {\n    type: 'mrkdwn',\n    text: `*Subject:*\\n${payload.subject || 'No subject'}`\n  }\n});\n\n// Divider\nblocks.push({ type: 'divider' });\n\n// Preview label\nblocks.push({\n  type: 'section',\n  text: {\n    type: 'mrkdwn',\n    text: '*Preview:*'\n  }\n});\n\n// Email body preview\nblocks.push({\n  type: 'section',\n  text: {\n    type: 'mrkdwn',\n    text: `>>> ${bodyPreview.replace(/\\n/g, '\\n> ') || '_No content_'}`\n  }\n});\n\n// Context with expiry\nblocks.push({\n  type: 'context',\n  elements: [\n    {\n      type: 'mrkdwn',\n      text: `⏰ Expires in ${expiryMinutes} minutes • Requested by <@${prepared.slack_user_id}>`\n    }\n  ]\n});\n\n// Action buttons\nblocks.push({\n  type: 'actions',\n  block_id: `email_approval_${actionId}`,\n  elements: [\n    {\n      type: 'button',\n      text: {\n        type: 'plain_text',\n        text: '✅ Send Email',\n        emoji: true\n      },\n      style: 'primary',\n      action_id: 'approve_action',\n      value: actionId,\n      confirm: {\n        title: { type: 'plain_text', text: 'Send this email?' },\n        text: { type: 'mrkdwn', text: `This will send the email to *${payload.to}*` },\n        confirm: { type: 'plain_text', text: 'Send' },\n        deny: { type: 'plain_text', text: 'Cancel' }\n      }\n    },\n    {\n      type: 'button',\n      text: {\n        type: 'plain_text',\n        text: '❌ Cancel',\n        emoji: true\n      },\n      style: 'danger',\n      action_id: 'reject_action',\n      value: actionId\n    }\n  ]\n});\n\n// Determine the Slack action based on whether thread_ts is provided\nconst slackAction = prepared.slack_thread_ts ? 'post_thread' : 'post_message';\n\nreturn [{\n  json: {\n    action_id: actionId,\n    slack_action: slackAction,\n    slack_channel_id: prepared.slack_channel_id,\n    slack_thread_ts: prepared.slack_thread_ts,\n    blocks: blocks,\n    text: `📧 Email approval required: ${payload.subject || 'No subject'}`\n  }\n}];"
      },
      "id": "build-slack-blocks",
      "name": "Build Slack Approval Card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [864, 304]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE alfred.pending_actions\nSET \n  approval_channel_id = $1,\n  approval_message_ts = $2\nWHERE id = $3::uuid\nRETURNING id, approval_message_ts, expires_at;",
        "options": {
          "queryReplacement": "={{ [$json.channel, $json.ts, $('Build Slack Approval Card').first().json.action_id] }}"
        }
      },
      "id": "update-with-message-ts",
      "name": "Update with Message TS",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1312, 304],
      "credentials": {
        "postgres": { "id": "8nTSHxonyIBczkvN", "name": "Postgres account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const prepared = $('Prepare Pending Action').first().json;\nconst slackResult = $('Send Approval Card to Slack').first().json;\nconst dbResult = $input.first().json;\n\nreturn [{\n  json: {\n    success: slackResult.success,\n    pending_action_id: prepared.action_id,\n    approval_message_ts: slackResult.ts,\n    approval_channel_id: slackResult.channel,\n    expires_at: prepared.expires_at,\n    message: slackResult.success \n      ? `Email queued for approval. Please review and click 'Send Email' or 'Cancel' in the approval card above. The request will expire in ${prepared.expiry_minutes} minutes.`\n      : `Failed to send approval card: ${slackResult.error || 'Unknown error'}`\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 304]
    },
    {
      "id": "call-slack-service",
      "name": "Send Approval Card to Slack",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1088, 304],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "xbFJVyUFvGfUbY4s"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "={{ $json.slack_action }}",
            "channel_id": "={{ $json.slack_channel_id }}",
            "thread_ts": "={{ $json.slack_thread_ts }}",
            "text": "={{ $json.text }}",
            "blocks": "={{ $json.blocks }}",
            "unfurl_links": false,
            "unfurl_media": false
          }
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [{ "node": "Prepare Pending Action", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Pending Action": {
      "main": [
        [{ "node": "Insert Pending Action", "type": "main", "index": 0 }]
      ]
    },
    "Insert Pending Action": {
      "main": [
        [{ "node": "Build Slack Approval Card", "type": "main", "index": 0 }]
      ]
    },
    "Update with Message TS": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Build Slack Approval Card": {
      "main": [
        [{ "node": "Send Approval Card to Slack", "type": "main", "index": 0 }]
      ]
    },
    "Send Approval Card to Slack": {
      "main": [
        [{ "node": "Update with Message TS", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "6cb9d8fb-6051-4a69-9338-e41e45945be2",
  "activeVersionId": "6cb9d8fb-6051-4a69-9338-e41e45945be2",
  "versionCounter": 33,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-04T13:52:54.722Z",
      "createdAt": "2026-02-04T13:52:54.722Z",
      "role": "workflow:owner",
      "workflowId": "1S0dhI1K4X0528Dy",
      "projectId": "Jd992SEPuokf8o5Z",
      "project": {
        "updatedAt": "2026-02-02T12:27:52.037Z",
        "createdAt": "2026-02-02T12:20:35.714Z",
        "id": "Jd992SEPuokf8o5Z",
        "name": "Spencer Marx <spencer@aclarify.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e498ff06-ba9d-4721-8454-492195be8229",
        "projectRelations": [
          {
            "updatedAt": "2026-02-02T12:20:35.714Z",
            "createdAt": "2026-02-02T12:20:35.714Z",
            "userId": "e498ff06-ba9d-4721-8454-492195be8229",
            "projectId": "Jd992SEPuokf8o5Z",
            "user": {
              "updatedAt": "2026-02-04T21:36:26.759Z",
              "createdAt": "2026-02-02T12:20:29.217Z",
              "id": "e498ff06-ba9d-4721-8454-492195be8229",
              "email": "spencer@aclarify.com",
              "firstName": "Spencer",
              "lastName": "Marx",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-02T12:28:04.495Z",
                "personalization_survey_n8n_version": "2.6.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "KwXRQi320-E6cSKEUFTol",
                "userActivatedAt": 1770049275864
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-04T14:55:04.570Z",
    "createdAt": "2026-02-04T14:55:04.570Z",
    "versionId": "6cb9d8fb-6051-4a69-9338-e41e45945be2",
    "workflowId": "1S0dhI1K4X0528Dy",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              { "name": "action_type" },
              { "name": "user_id" },
              { "name": "slack_user_id" },
              { "name": "slack_channel_id" },
              { "name": "slack_thread_ts" },
              { "name": "payload", "type": "object" },
              { "name": "expiry_minutes", "type": "number" }
            ]
          }
        },
        "id": "workflow-input",
        "name": "Workflow Input",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [208, 304]
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\n\n// Calculate expiry timestamp\nconst expiryMinutes = input.expiry_minutes || 60;\nconst expiresAt = new Date(Date.now() + expiryMinutes * 60 * 1000).toISOString();\n\n// Generate a UUID v4 (compatible with n8n's execution environment)\nfunction generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst actionId = generateUUID();\n\nreturn [{\n  json: {\n    action_id: actionId,\n    action_type: input.action_type,\n    user_id: input.user_id,\n    slack_user_id: input.slack_user_id,\n    slack_channel_id: input.slack_channel_id,\n    slack_thread_ts: input.slack_thread_ts || null,\n    payload: input.payload,\n    expires_at: expiresAt,\n    expiry_minutes: expiryMinutes\n  }\n}];"
        },
        "id": "prepare-action",
        "name": "Prepare Pending Action",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [432, 304]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO alfred.pending_actions (\n  id,\n  action_type,\n  user_id,\n  slack_user_id,\n  slack_channel_id,\n  slack_thread_ts,\n  payload,\n  status,\n  expires_at\n) VALUES (\n  $1::uuid,\n  $2,\n  $3::integer,\n  $4,\n  $5,\n  $6,\n  $7::jsonb,\n  'pending',\n  $8::timestamptz\n)\nRETURNING id, created_at, expires_at;",
          "options": {
            "queryReplacement": "={{ [$json.action_id, $json.action_type, $json.user_id, $json.slack_user_id, $json.slack_channel_id, $json.slack_thread_ts, JSON.stringify($json.payload), $json.expires_at] }}"
          }
        },
        "id": "insert-pending-action",
        "name": "Insert Pending Action",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [640, 304],
        "credentials": {
          "postgres": { "id": "8nTSHxonyIBczkvN", "name": "Postgres account" }
        }
      },
      {
        "parameters": {
          "jsCode": "const prepared = $('Prepare Pending Action').first().json;\nconst dbResult = $input.first().json;\n\nconst payload = prepared.payload;\nconst actionId = prepared.action_id;\nconst expiryMinutes = prepared.expiry_minutes;\n\n// Truncate body for preview (max 1500 chars)\nconst bodyPreview = (payload.body_plain || '').length > 1500\n  ? payload.body_plain.substring(0, 1497) + '...'\n  : payload.body_plain || '';\n\n// Build blocks array\nconst blocks = [\n  {\n    type: 'header',\n    text: {\n      type: 'plain_text',\n      text: '📧 Email Approval Required',\n      emoji: true\n    }\n  },\n  {\n    type: 'section',\n    fields: [\n      {\n        type: 'mrkdwn',\n        text: `*To:*\\n${payload.to || 'Not specified'}`\n      },\n      {\n        type: 'mrkdwn',\n        text: `*From:*\\n${payload.user_email || 'Not specified'}`\n      }\n    ]\n  }\n];\n\n// Add CC/BCC if present\nif (payload.cc || payload.bcc) {\n  const ccBccFields = [];\n  if (payload.cc) {\n    ccBccFields.push({ type: 'mrkdwn', text: `*CC:*\\n${payload.cc}` });\n  }\n  if (payload.bcc) {\n    ccBccFields.push({ type: 'mrkdwn', text: `*BCC:*\\n${payload.bcc}` });\n  }\n  blocks.push({ type: 'section', fields: ccBccFields });\n}\n\n// Subject\nblocks.push({\n  type: 'section',\n  text: {\n    type: 'mrkdwn',\n    text: `*Subject:*\\n${payload.subject || 'No subject'}`\n  }\n});\n\n// Divider\nblocks.push({ type: 'divider' });\n\n// Preview label\nblocks.push({\n  type: 'section',\n  text: {\n    type: 'mrkdwn',\n    text: '*Preview:*'\n  }\n});\n\n// Email body preview\nblocks.push({\n  type: 'section',\n  text: {\n    type: 'mrkdwn',\n    text: `>>> ${bodyPreview.replace(/\\n/g, '\\n> ') || '_No content_'}`\n  }\n});\n\n// Context with expiry\nblocks.push({\n  type: 'context',\n  elements: [\n    {\n      type: 'mrkdwn',\n      text: `⏰ Expires in ${expiryMinutes} minutes • Requested by <@${prepared.slack_user_id}>`\n    }\n  ]\n});\n\n// Action buttons\nblocks.push({\n  type: 'actions',\n  block_id: `email_approval_${actionId}`,\n  elements: [\n    {\n      type: 'button',\n      text: {\n        type: 'plain_text',\n        text: '✅ Send Email',\n        emoji: true\n      },\n      style: 'primary',\n      action_id: 'approve_action',\n      value: actionId,\n      confirm: {\n        title: { type: 'plain_text', text: 'Send this email?' },\n        text: { type: 'mrkdwn', text: `This will send the email to *${payload.to}*` },\n        confirm: { type: 'plain_text', text: 'Send' },\n        deny: { type: 'plain_text', text: 'Cancel' }\n      }\n    },\n    {\n      type: 'button',\n      text: {\n        type: 'plain_text',\n        text: '❌ Cancel',\n        emoji: true\n      },\n      style: 'danger',\n      action_id: 'reject_action',\n      value: actionId\n    }\n  ]\n});\n\n// Determine the Slack action based on whether thread_ts is provided\nconst slackAction = prepared.slack_thread_ts ? 'post_thread' : 'post_message';\n\nreturn [{\n  json: {\n    action_id: actionId,\n    slack_action: slackAction,\n    slack_channel_id: prepared.slack_channel_id,\n    slack_thread_ts: prepared.slack_thread_ts,\n    blocks: blocks,\n    text: `📧 Email approval required: ${payload.subject || 'No subject'}`\n  }\n}];"
        },
        "id": "build-slack-blocks",
        "name": "Build Slack Approval Card",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [864, 304]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE alfred.pending_actions\nSET \n  approval_channel_id = $1,\n  approval_message_ts = $2\nWHERE id = $3::uuid\nRETURNING id, approval_message_ts, expires_at;",
          "options": {
            "queryReplacement": "={{ [$json.channel, $json.ts, $('Build Slack Approval Card').first().json.action_id] }}"
          }
        },
        "id": "update-with-message-ts",
        "name": "Update with Message TS",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [1312, 304],
        "credentials": {
          "postgres": { "id": "8nTSHxonyIBczkvN", "name": "Postgres account" }
        }
      },
      {
        "parameters": {
          "jsCode": "const prepared = $('Prepare Pending Action').first().json;\nconst slackResult = $('Send Approval Card to Slack').first().json;\nconst dbResult = $input.first().json;\n\nreturn [{\n  json: {\n    success: slackResult.success,\n    pending_action_id: prepared.action_id,\n    approval_message_ts: slackResult.ts,\n    approval_channel_id: slackResult.channel,\n    expires_at: prepared.expires_at,\n    message: slackResult.success \n      ? `Email queued for approval. Please review and click 'Send Email' or 'Cancel' in the approval card above. The request will expire in ${prepared.expiry_minutes} minutes.`\n      : `Failed to send approval card: ${slackResult.error || 'Unknown error'}`\n  }\n}];"
        },
        "id": "format-response",
        "name": "Format Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [1520, 304]
      },
      {
        "id": "call-slack-service",
        "name": "Send Approval Card to Slack",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [1088, 304],
        "parameters": {
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "xbFJVyUFvGfUbY4s"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "={{ $json.slack_action }}",
              "channel_id": "={{ $json.slack_channel_id }}",
              "thread_ts": "={{ $json.slack_thread_ts }}",
              "text": "={{ $json.text }}",
              "blocks": "={{ $json.blocks }}",
              "unfurl_links": false,
              "unfurl_media": false
            }
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "Workflow Input": {
        "main": [
          [{ "node": "Prepare Pending Action", "type": "main", "index": 0 }]
        ]
      },
      "Prepare Pending Action": {
        "main": [
          [{ "node": "Insert Pending Action", "type": "main", "index": 0 }]
        ]
      },
      "Insert Pending Action": {
        "main": [
          [{ "node": "Build Slack Approval Card", "type": "main", "index": 0 }]
        ]
      },
      "Update with Message TS": {
        "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
      },
      "Build Slack Approval Card": {
        "main": [
          [
            {
              "node": "Send Approval Card to Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Approval Card to Slack": {
        "main": [
          [{ "node": "Update with Message TS", "type": "main", "index": 0 }]
        ]
      }
    },
    "authors": "Spencer Marx",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-04T14:55:04.714Z",
        "id": 233,
        "workflowId": "1S0dhI1K4X0528Dy",
        "versionId": "6cb9d8fb-6051-4a69-9338-e41e45945be2",
        "event": "activated",
        "userId": "e498ff06-ba9d-4721-8454-492195be8229"
      }
    ]
  }
}
