alfred/workflows/sub_agents/user_lookup.json
{
  "id": "mHy10eByiuuyr8U1",
  "name": "\ud83d\udd0d Sub-Agent | User Lookup",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "slack_user_id",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "lookup-user",
      "name": "Lookup User with Permissions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        450,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  u.id,\n  u.slack_user_id,\n  u.slack_username,\n  u.email,\n  u.role,\n  u.google_calendar_credential_id,\n  u.gmail_credential_id,\n  u.google_docs_credential_id,\n  u.google_sheets_credential_id,\n  u.google_drive_credential_id,\n  u.notion_credential_id,\n  u.calendar_ids,\n  u.preferences,\n  u.is_active,\n  u.created_at,\n  u.updated_at,\n  rp.permissions as effective_permissions\nFROM alfred.users u\nJOIN alfred.role_permissions rp ON u.role = rp.role\nWHERE u.slack_user_id = $1 AND u.is_active = true",
        "options": {
          "queryReplacement": "={{ $json.slack_user_id }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "8nTSHxonyIBczkvN",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Get the input slack_user_id and query result\nconst inputSlackUserId = $('Workflow Input').first().json.slack_user_id;\nconst queryResult = $input.all();\n\n// Check if user was found (query returned a row with an id)\nif (queryResult.length > 0 && queryResult[0].json.id) {\n  const user = queryResult[0].json;\n  return [{\n    json: {\n      found: true,\n      is_admin: user.role === 'admin',\n      user: {\n        id: user.id,\n        slack_user_id: user.slack_user_id,\n        slack_username: user.slack_username,\n        email: user.email,\n        role: user.role,\n        google_calendar_credential_id: user.google_calendar_credential_id,\n        gmail_credential_id: user.gmail_credential_id,\n        google_docs_credential_id: user.google_docs_credential_id,\n        google_sheets_credential_id: user.google_sheets_credential_id,\n        google_drive_credential_id: user.google_drive_credential_id,\n        notion_credential_id: user.notion_credential_id,\n        calendar_ids: user.calendar_ids,\n        preferences: user.preferences,\n        effective_permissions: user.effective_permissions\n      }\n    }\n  }];\n} else {\n  return [{\n    json: {\n      found: false,\n      error: 'User not registered or inactive',\n      slack_user_id: inputSlackUserId\n    }\n  }];\n}"
      }
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Lookup User with Permissions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup User with Permissions": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": null,
  "activeVersionId": "24002ceb-9301-4fe1-a598-e85b21dda273",
  "versionCounter": 20,
  "triggerCount": 0,
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-03T10:53:28.894Z",
    "createdAt": "2026-02-03T10:36:17.154Z",
    "versionId": "24002ceb-9301-4fe1-a598-e85b21dda273",
    "workflowId": "mHy10eByiuuyr8U1",
    "nodes": [
      {
        "id": "trigger",
        "name": "Workflow Input",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          250,
          300
        ],
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "slack_user_id",
                "type": "string"
              }
            ]
          }
        }
      },
      {
        "id": "lookup-user",
        "name": "Lookup User with Permissions",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          450,
          300
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  u.id,\n  u.slack_user_id,\n  u.slack_username,\n  u.email,\n  u.role,\n  u.google_calendar_credential_id,\n  u.gmail_credential_id,\n  u.google_docs_credential_id,\n  u.google_sheets_credential_id,\n  u.google_drive_credential_id,\n  u.notion_credential_id,\n  u.calendar_ids,\n  u.preferences,\n  u.is_active,\n  u.created_at,\n  u.updated_at,\n  rp.permissions as effective_permissions\nFROM alfred.users u\nJOIN alfred.role_permissions rp ON u.role = rp.role\nWHERE u.slack_user_id = $1 AND u.is_active = true",
          "options": {
            "queryReplacement": "={{ $json.slack_user_id }}"
          }
        },
        "credentials": {
          "postgres": {
            "id": "8nTSHxonyIBczkvN",
            "name": "Postgres account"
          }
        }
      },
      {
        "id": "format-response",
        "name": "Format Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          650,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "// Get the input slack_user_id and query result\nconst inputSlackUserId = $('Workflow Input').first().json.slack_user_id;\nconst queryResult = $input.all();\n\n// Check if user was found (query returned a row with an id)\nif (queryResult.length > 0 && queryResult[0].json.id) {\n  const user = queryResult[0].json;\n  return [{\n    json: {\n      found: true,\n      is_admin: user.role === 'admin',\n      user: {\n        id: user.id,\n        slack_user_id: user.slack_user_id,\n        slack_username: user.slack_username,\n        email: user.email,\n        role: user.role,\n        google_calendar_credential_id: user.google_calendar_credential_id,\n        gmail_credential_id: user.gmail_credential_id,\n        google_docs_credential_id: user.google_docs_credential_id,\n        google_sheets_credential_id: user.google_sheets_credential_id,\n        google_drive_credential_id: user.google_drive_credential_id,\n        notion_credential_id: user.notion_credential_id,\n        calendar_ids: user.calendar_ids,\n        preferences: user.preferences,\n        effective_permissions: user.effective_permissions\n      }\n    }\n  }];\n} else {\n  return [{\n    json: {\n      found: false,\n      error: 'User not registered or inactive',\n      slack_user_id: inputSlackUserId\n    }\n  }];\n}"
        }
      }
    ],
    "connections": {
      "Workflow Input": {
        "main": [
          [
            {
              "node": "Lookup User with Permissions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lookup User with Permissions": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Spencer Marx",
    "name": "Version 24002ceb",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-03T10:53:28.888Z",
        "id": 22,
        "workflowId": "mHy10eByiuuyr8U1",
        "versionId": "24002ceb-9301-4fe1-a598-e85b21dda273",
        "event": "activated",
        "userId": "e498ff06-ba9d-4721-8454-492195be8229"
      }
    ]
  }
}
