alfred/workflows/triggers/team_assistant.json
{
  "updatedAt": "2026-02-05T12:46:24.330Z",
  "createdAt": "2026-02-03T10:50:19.448Z",
  "id": "KJpZBr3isT66Rzoa",
  "name": "\ud83e\udd16 Alfred | Team Assistant",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "app_mention",
          "message"
        ],
        "watchWorkspace": true,
        "options": {
          "userIds": [
            "U0AC80Z0HR9"
          ]
        }
      },
      "id": "slack-trigger",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        256,
        168
      ],
      "webhookId": "819d30ff-6523-479e-bda7-285540d516c7",
      "credentials": {
        "slackApi": {
          "id": "apG1iXE1E50lr9RH",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const event = $input.first().json;\n\n// Filter out bot messages to prevent Alfred from responding to itself\nconst botId = event.bot_id || event.event?.bot_id;\nconst subtype = event.subtype || event.event?.subtype;\n\nif (botId || subtype === 'bot_message') {\n  // Return empty array to stop workflow execution for bot messages\n  return [];\n}\n\nconst slackUserId = event.user || event.event?.user;\nconst channelId = event.channel || event.event?.channel;\nconst threadTs = event.thread_ts || event.event?.thread_ts || event.ts || event.event?.ts;\nconst messageText = event.text || event.event?.text || '';\n\n// Only strip the Alfred bot mention, keep other user mentions intact\n// Alfred's bot user ID is U0AC80Z0HR9\nconst cleanedText = messageText.replace(/<@U0AC80Z0HR9>/g, '').trim();\n\n// Extract all user mentions from the message (for tools like create_user)\nconst mentionPattern = /<@([A-Z0-9]+)>/g;\nconst mentions = [];\nlet match;\nwhile ((match = mentionPattern.exec(messageText)) !== null) {\n  // Exclude Alfred's own bot ID\n  if (match[1] !== 'U0AC80Z0HR9') {\n    mentions.push(match[1]);\n  }\n}\n\nlet triggerType = 'unknown';\nif (event.event?.type === 'app_mention') {\n  triggerType = 'mention';\n} else if (event.event?.channel_type === 'im') {\n  triggerType = 'dm';\n} else if (event.channel_type === 'im') {\n  triggerType = 'dm';\n} else {\n  triggerType = 'channel';\n}\n\nlet responseType = 'thread';\nif (triggerType === 'dm') {\n  responseType = 'dm';\n} else if (threadTs) {\n  responseType = 'thread';\n} else {\n  responseType = 'channel';\n}\n\nreturn [{\n  json: {\n    slack_user_id: slackUserId,\n    channel_id: channelId,\n    thread_ts: threadTs,\n    message_text: cleanedText,\n    mentioned_user_ids: mentions,\n    trigger_type: triggerType,\n    response_type: responseType,\n    raw_event: event\n  }\n}];"
      },
      "id": "normalize-input",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        168
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "mHy10eByiuuyr8U1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slack_user_id": "={{ $json.slack_user_id }}"
          }
        },
        "options": {}
      },
      "id": "user-lookup",
      "name": "Lookup User",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        704,
        264
      ]
    },
    {
      "parameters": {
        "jsCode": "const lookupResult = $input.first().json;\n\n// Get normalized input - could be from either Slack trigger or sub-workflow\nlet normalizedInput = {};\ntry {\n  normalizedInput = $('Normalize Input').first().json;\n} catch (e) {\n  try {\n    normalizedInput = $('Normalize Sub-workflow Input').first().json;\n  } catch (e2) {\n    // If neither exists, extract what we can from lookup result or use defaults\n    normalizedInput = {\n      slack_user_id: lookupResult.user?.slack_user_id || '',\n      channel_id: '',\n      thread_ts: '',\n      message_text: '',\n      trigger_type: 'subworkflow',\n      response_type: 'dm'\n    };\n  }\n}\n\nlet userData = null;\nlet isFound = false;\n\nif (lookupResult.found === true && lookupResult.user) {\n  userData = lookupResult.user;\n  isFound = true;\n} else if (lookupResult.id && lookupResult.slack_user_id) {\n  userData = lookupResult;\n  isFound = true;\n}\n\nif (isFound && userData) {\n  return [{\n    json: {\n      authorized: true,\n      user: userData,\n      is_admin: userData.role === 'admin',\n      ...normalizedInput\n    }\n  }];\n} else {\n  return [{\n    json: {\n      authorized: false,\n      error: lookupResult.error || 'User not found',\n      ...normalizedInput\n    }\n  }];\n}"
      },
      "id": "check-user",
      "name": "Check User Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        264
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auth-check",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-auth",
      "name": "Route by Auth",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1152,
        264
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response",
              "name": "response_text",
              "value": "I don't recognize you yet! Please contact an admin to get registered with Alfred.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "unauthorized-response",
      "name": "Unauthorized Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1376,
        360
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "aPGhgQ2p6A7aygUt"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "response_text": "={{ $json.response_text }}",
            "slack_user_id": "={{ $('Check User Found').item.json.slack_user_id }}",
            "channel_id": "={{ $('Check User Found').item.json.channel_id }}",
            "thread_ts": "={{ $('Check User Found').item.json.thread_ts }}",
            "response_type": "={{ $('Check User Found').item.json.response_type }}"
          }
        },
        "options": {}
      },
      "id": "send-unauthorized",
      "name": "Send Unauthorized Response",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        360
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "Cu7YnA1ZgLBjzSvr"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user": "={{ $json.user }}"
          }
        },
        "options": {}
      },
      "id": "get-personality",
      "name": "Get Personality",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1376,
        168
      ]
    },
    {
      "parameters": {
        "jsCode": "const personalityData = $input.first().json;\nconst contextData = $('Route by Auth').first().json;\n\nconst systemPrompt = personalityData.system_prompt;\n\n// Get user timezone for display only\nconst userTimezone = contextData.user.preferences?.timezone || 'America/Chicago';\n\n// Extract mentioned users from the message for context\nconst mentionedUserIds = contextData.mentioned_user_ids || [];\nconst mentionedUsersInfo = mentionedUserIds.length > 0 \n  ? `\\n\\nMENTIONED USERS IN THIS MESSAGE:\\nThe following Slack user IDs were @mentioned: ${mentionedUserIds.join(', ')}\\nYou MUST look up these users using list_users before taking any action involving them. NEVER guess their email.`\n  : '';\n\nconst toolInstructions = `\n\n##############################################\n# MANDATORY EXECUTION RULES - READ CAREFULLY #\n##############################################\n\nRULE #1 - ALWAYS EXECUTE REQUESTED TOOLS:\n- When a user asks you to do something, YOU MUST CALL THE APPROPRIATE TOOL.\n- Do NOT refuse based on memory of previous failures.\n- Do NOT ask \"would you like me to try again?\" - JUST DO IT.\n- Memory is for CONTEXT only, not for deciding whether to execute.\n- If the user says \"send an email\", you CALL the gmail tool. Period.\n- Even if you remember a previous error, TRY AGAIN. The issue may be fixed.\n\nRULE #2 - NEVER GUESS EMAIL ADDRESSES:\n- If a user @mentions someone, you MUST call list_users to get their email.\n- NEVER use an email address from memory or guessing.\n- NEVER send to an email you \"think\" is right.\n- If you cannot look up the email, ASK the user for it.\n\nRULE #3 - NEVER SWITCH CHANNELS AUTONOMOUSLY:\n- If email fails, REPORT THE ERROR. Do not send Slack DM instead.\n- The user must explicitly approve any alternative action.\n- \"I sent a Slack DM instead\" is FORBIDDEN behavior.\n\nRULE #4 - REPORT ERRORS, DON'T AVOID THEM:\n- If a tool fails, tell the user what happened.\n- Then offer to try again or ask what they want to do.\n- Do NOT preemptively refuse based on past failures.\n\n##############################################\n\nAvailable Tools:\n\n1. gmail - Access and manage Gmail\n   - list_messages: Search emails\n   - get_message: Read a specific email by message ID\n   - send_email: Send an email (requires to, subject, body)\n   - IMPORTANT: All sent emails require user approval via Slack before sending\n   - CRITICAL: Before sending to @mentioned users, call list_users first to get their verified email\n\n2. list_users - Look up users in the system\n   - MANDATORY before emailing @mentioned users\n   - Returns: user's real name, email address, Slack user ID\n   - Call with: {action: \"list_users\"}\n\n3. google_calendar - Access and manage Google Calendar\n   - list_events: List events in a time range\n   - create_event: Create a new calendar event\n\n4. time_management - Get accurate time context\n   - get_context: Get current time, timezone\n   - get_window: Calculate a time window from now\n\n5. update_user_preferences - Update user preferences\n\n6. google_docs - Access and manage Google Docs\n\n7. google_sheets - Access and manage Google Sheets\n\n8. slack_message - Send messages to Slack channels or DMs to OTHER users\n   - DO NOT use this to message the current user - your response is auto-delivered\n\n9. analyze_email_tone - Learn the user's email writing style\n\n10. web_search - Search the web for current information\n    - Use when you need real-time or up-to-date information\n    - Great for: news, current events, recent updates, live data\n    - Parameters: query (required), context (optional), allowed_domains (optional)\n    - Returns results with cited sources in Slack-friendly format\n    - Use when the user asks about recent news, current events, or information that may have changed since your training\n\nResponse Routing:\n- Your text response is automatically delivered to the user\n- Only use slack_message for messages to OTHER people\n\nRESPONSE LENGTH:\n- Keep responses under 2000 characters for Slack\n\nMEMORY USAGE:\n- Memory = context only\n- Memory does NOT replace execution\n- If user asks to do X, DO X regardless of what you remember`;\n\nconst fullSystemContext = `${systemPrompt}${toolInstructions}${mentionedUsersInfo}\n\nUser Information:\n- Name: ${contextData.user.slack_username}\n- Email: ${contextData.user.email}\n- Role: ${contextData.user.role}\n- Timezone: ${userTimezone}\n- Current Personality: ${personalityData.personality_name}\n\nEmail Approval:\n- All outbound emails require user approval before sending\n- When you call send_email, an approval card will appear in Slack\n- The user must click \"Send\" to actually send the email\n\nResponse Type: ${contextData.response_type}`;\n\nreturn [{\n  json: {\n    ...contextData,\n    system_context: fullSystemContext,\n    user_request: contextData.message_text,\n    personality_name: personalityData.personality_name,\n    personality_key: personalityData.personality_key\n  }\n}];"
      },
      "id": "build-context",
      "name": "Build Agent Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        168
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_request }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "={{ $json.system_context }}",
          "maxIterations": 10,
          "returnIntermediateSteps": true
        }
      },
      "id": "ai-agent",
      "name": "Alfred AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2968,
        168
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "id": "ai-model",
      "name": "Claude Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1824,
        392
      ],
      "credentials": {
        "anthropicApi": {
          "id": "iKUsIHimnjBUibjJ",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "description": "Update user preferences like personality, timezone, etc. Use this to change the user's personality/mode (e.g., switch to JARVIS, alfred, dwight, jim, donna). Pass preference_key and preference_value.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "XQIgdUEsFw2nH6a7"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slack_user_id": "={{ $('Build Agent Context').item.json.slack_user_id }}",
            "preference_key": "={{ $fromAI(\"preference_key\", \"The preference key to update e.g. personality\", \"string\") }}",
            "preference_value": "={{ $fromAI(\"preference_value\", \"The new value for the preference\", \"string\") }}"
          },
          "schema": [
            {
              "id": "slack_user_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "slack_user_id"
            },
            {
              "id": "preference_key",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "preference_key"
            },
            {
              "id": "preference_value",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "preference_value"
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-update-prefs",
      "name": "Tool: Update Preferences",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2208,
        392
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Build Agent Context').item.json.slack_user_id }}",
        "tableName": "alfred_chat_history",
        "contextWindowLength": 10
      },
      "id": "chat-memory",
      "name": "Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2080,
        392
      ],
      "credentials": {
        "postgres": {
          "id": "8nTSHxonyIBczkvN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $input.first().json;\nconst context = $('Build Agent Context').first().json;\n\nconst responseText = agentOutput.output || agentOutput.text || 'I apologize, but I encountered an issue processing your request.';\n\nreturn [{\n  json: {\n    response_text: responseText,\n    slack_user_id: context.slack_user_id,\n    channel_id: context.channel_id,\n    thread_ts: context.thread_ts,\n    response_type: context.response_type,\n    user: context.user,\n    original_request: context.message_text,\n    personality_name: context.personality_name\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4688,
        168
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "aPGhgQ2p6A7aygUt"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "response_text": "={{ $('Format Response').first().json.response_text }}",
            "slack_user_id": "={{ $('Format Response').first().json.slack_user_id }}",
            "channel_id": "={{ $('Format Response').first().json.channel_id }}",
            "thread_ts": "={{ $('Format Response').first().json.thread_ts }}",
            "response_type": "={{ $('Format Response').first().json.response_type }}"
          }
        },
        "options": {}
      },
      "id": "send-response",
      "name": "Send Response",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5360,
        96
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "Ui3uhPgKsfXVnIss"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slack_user_id": "={{ $('Format Response').item.json.slack_user_id }}",
            "action": "chat",
            "resource": "ai_agent",
            "permitted": true,
            "denial_reason": "",
            "request_summary": "={{ $('Format Response').item.json.original_request }}",
            "metadata": "={{ {response_length: $('Format Response').item.json.response_text?.length || 0, personality: $('Format Response').item.json.personality_name} }}"
          }
        },
        "options": {}
      },
      "id": "log-action",
      "name": "Log Action",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5584,
        168
      ]
    },
    {
      "parameters": {
        "description": "Access and manage Gmail. Actions: list_messages (search emails), get_message (read email by ID), send_email (send new email). The user's identity is automatically determined.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "4o06kwV3LGoZjGY9"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slack_user_id": "={{ $('Build Agent Context').item.json.slack_user_id }}",
            "action": "={{ $fromAI(\"action\", \"The Gmail action: list_messages, get_message, or send_email\", \"string\") }}",
            "query": "={{ $fromAI(\"query\", \"Gmail search query for list_messages\", \"string\") }}",
            "max_results": "={{ $fromAI(\"max_results\", \"Maximum number of results\", \"string\") }}",
            "message_id": "={{ $fromAI(\"message_id\", \"The message ID for get_message\", \"string\") }}",
            "to": "={{ $fromAI(\"to\", \"Recipient email address for send_email\", \"string\") }}",
            "subject": "={{ $fromAI(\"subject\", \"Email subject for send_email\", \"string\") }}",
            "body": "={{ $fromAI(\"body\", \"Email body content for send_email\", \"string\") }}",
            "cc": "={{ $fromAI(\"cc\", \"CC email addresses for send_email\", \"string\") }}",
            "bcc": "={{ $fromAI(\"bcc\", \"BCC email addresses for send_email\", \"string\") }}",
            "channel_id": "={{ $('Build Agent Context').item.json.channel_id }}",
            "thread_ts": "={{ $('Build Agent Context').item.json.thread_ts }}"
          },
          "schema": [
            {
              "id": "slack_user_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "slack_user_id"
            },
            {
              "id": "action",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "action"
            },
            {
              "id": "query",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "query"
            },
            {
              "id": "max_results",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "max_results"
            },
            {
              "id": "message_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "message_id"
            },
            {
              "id": "to",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "to"
            },
            {
              "id": "subject",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "subject"
            },
            {
              "id": "body",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "body"
            },
            {
              "id": "cc",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "cc"
            },
            {
              "id": "bcc",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "bcc"
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-gmail",
      "name": "Tool: Gmail",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2336,
        392
      ]
    },
    {
      "parameters": {
        "description": "Access and manage Google Docs. Actions: get_document (read a doc), create_document (create new doc), append_text (add text). The user's identity is automatically determined.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "ZUMZ7oNUzDRDnFft"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slack_user_id": "={{ $('Build Agent Context').item.json.slack_user_id }}",
            "action": "={{ $fromAI(\"action\", \"The Docs action: get_document, create_document, or append_text\", \"string\") }}",
            "document_id": "={{ $fromAI(\"document_id\", \"The Google Doc ID\", \"string\") }}",
            "title": "={{ $fromAI(\"title\", \"Document title for create_document\", \"string\") }}",
            "content": "={{ $fromAI(\"content\", \"Text content to write or append\", \"string\") }}",
            "folder_id": "={{ $fromAI(\"folder_id\", \"Google Drive folder ID\", \"string\") }}"
          },
          "schema": [
            {
              "id": "slack_user_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "slack_user_id"
            },
            {
              "id": "action",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "action"
            },
            {
              "id": "document_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "document_id"
            },
            {
              "id": "title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "title"
            },
            {
              "id": "content",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "content"
            },
            {
              "id": "folder_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "folder_id"
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-google-docs",
      "name": "Tool: Google Docs",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2464,
        392
      ]
    },
    {
      "parameters": {
        "description": "Access and manage Google Sheets. Actions: read_range, write_range, append_rows, create_spreadsheet. The user's identity is automatically determined.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "tWgJgDHdIHBhCOr0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slack_user_id": "={{ $('Build Agent Context').item.json.slack_user_id }}",
            "action": "={{ $fromAI(\"action\", \"The Sheets action: read_range, write_range, append_rows, or create_spreadsheet\", \"string\") }}",
            "spreadsheet_id": "={{ $fromAI(\"spreadsheet_id\", \"The Google Sheet ID\", \"string\") }}",
            "range": "={{ $fromAI(\"range\", \"The A1 notation range\", \"string\") }}",
            "values": "={{ $fromAI(\"values\", \"JSON array of arrays with values\", \"string\") }}",
            "title": "={{ $fromAI(\"title\", \"Spreadsheet title for create_spreadsheet\", \"string\") }}",
            "sheet_name": "={{ $fromAI(\"sheet_name\", \"Sheet or tab name\", \"string\") }}"
          },
          "schema": [
            {
              "id": "slack_user_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "slack_user_id"
            },
            {
              "id": "action",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "action"
            },
            {
              "id": "spreadsheet_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "spreadsheet_id"
            },
            {
              "id": "range",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "range"
            },
            {
              "id": "values",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "values"
            },
            {
              "id": "title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "title"
            },
            {
              "id": "sheet_name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "sheet_name"
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-google-sheets",
      "name": "Tool: Google Sheets",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2592,
        392
      ]
    },
    {
      "parameters": {
        "description": "List upcoming calendar events. Provide time_min and time_max in ISO format to filter the date range. Returns events with titles, times, and details.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "9rzYXSNhqSF6tVNC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slack_user_id": "={{ $('Build Agent Context').item.json.slack_user_id }}",
            "action": "list_events",
            "calendar_id": "={{ $fromAI(\"calendar_id\", \"Calendar ID - use 'primary' for main calendar\", \"string\") }}",
            "time_min": "={{ $fromAI(\"time_min\", \"Start of date range in ISO format e.g. 2024-01-15T00:00:00Z\", \"string\") }}",
            "time_max": "={{ $fromAI(\"time_max\", \"End of date range in ISO format e.g. 2024-01-16T00:00:00Z\", \"string\") }}",
            "max_results": "={{ $fromAI(\"max_results\", \"Maximum events to return, default 10\", \"string\") }}"
          },
          "schema": [
            {
              "id": "slack_user_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "slack_user_id"
            },
            {
              "id": "action",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "action"
            },
            {
              "id": "calendar_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "calendar_id"
            },
            {
              "id": "time_min",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "time_min"
            },
            {
              "id": "time_max",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "time_max"
            },
            {
              "id": "max_results",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "max_results"
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-calendar-list",
      "name": "Tool: List Calendar Events",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2720,
        392
      ]
    },
    {
      "parameters": {
        "description": "Create a new calendar event. Requires summary (title), start_time, and end_time in ISO format with timezone.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "9rzYXSNhqSF6tVNC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slack_user_id": "={{ $('Build Agent Context').item.json.slack_user_id }}",
            "action": "create_event",
            "calendar_id": "={{ $fromAI(\"calendar_id\", \"Calendar ID - use 'primary' for main calendar\", \"string\") }}",
            "summary": "={{ $fromAI(\"summary\", \"Event title/name\", \"string\") }}",
            "description": "={{ $fromAI(\"description\", \"Event description or notes\", \"string\") }}",
            "start_time": "={{ $fromAI(\"start_time\", \"Event start in ISO format e.g. 2024-01-15T09:00:00-06:00\", \"string\") }}",
            "end_time": "={{ $fromAI(\"end_time\", \"Event end in ISO format e.g. 2024-01-15T10:00:00-06:00\", \"string\") }}",
            "attendees": "={{ $fromAI(\"attendees\", \"Comma-separated email addresses of attendees\", \"string\") }}"
          },
          "schema": [
            {
              "id": "slack_user_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "slack_user_id"
            },
            {
              "id": "action",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "action"
            },
            {
              "id": "calendar_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "calendar_id"
            },
            {
              "id": "summary",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "summary"
            },
            {
              "id": "description",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "description"
            },
            {
              "id": "start_time",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "start_time"
            },
            {
              "id": "end_time",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "end_time"
            },
            {
              "id": "attendees",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "attendees"
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-calendar-create",
      "name": "Tool: Create Calendar Event",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2848,
        392
      ]
    },
    {
      "parameters": {
        "description": "Update an existing calendar event. Requires event_id. Can update summary, description, start_time, end_time.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "9rzYXSNhqSF6tVNC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slack_user_id": "={{ $('Build Agent Context').item.json.slack_user_id }}",
            "action": "update_event",
            "calendar_id": "={{ $fromAI(\"calendar_id\", \"Calendar ID - use 'primary' for main calendar\", \"string\") }}",
            "event_id": "={{ $fromAI(\"event_id\", \"The ID of the event to update\", \"string\") }}",
            "summary": "={{ $fromAI(\"summary\", \"New event title (optional)\", \"string\") }}",
            "description": "={{ $fromAI(\"description\", \"New event description (optional)\", \"string\") }}",
            "start_time": "={{ $fromAI(\"start_time\", \"New start time in ISO format (optional)\", \"string\") }}",
            "end_time": "={{ $fromAI(\"end_time\", \"New end time in ISO format (optional)\", \"string\") }}"
          },
          "schema": [
            {
              "id": "slack_user_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "slack_user_id"
            },
            {
              "id": "action",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "action"
            },
            {
              "id": "calendar_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "calendar_id"
            },
            {
              "id": "event_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "event_id"
            },
            {
              "id": "summary",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "summary"
            },
            {
              "id": "description",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "description"
            },
            {
              "id": "start_time",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "start_time"
            },
            {
              "id": "end_time",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "end_time"
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-calendar-update",
      "name": "Tool: Update Calendar Event",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2976,
        392
      ]
    },
    {
      "parameters": {
        "description": "Delete a calendar event permanently. Requires event_id from list_calendar_events.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "9rzYXSNhqSF6tVNC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slack_user_id": "={{ $('Build Agent Context').item.json.slack_user_id }}",
            "action": "delete_event",
            "calendar_id": "={{ $fromAI(\"calendar_id\", \"Calendar ID - use 'primary' for main calendar\", \"string\") }}",
            "event_id": "={{ $fromAI(\"event_id\", \"The ID of the event to delete\", \"string\") }}"
          },
          "schema": [
            {
              "id": "slack_user_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "slack_user_id"
            },
            {
              "id": "action",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "action"
            },
            {
              "id": "calendar_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "calendar_id"
            },
            {
              "id": "event_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "event_id"
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-calendar-delete",
      "name": "Tool: Delete Calendar Event",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3104,
        392
      ]
    },
    {
      "parameters": {
        "description": "Change RSVP/attendance status for a calendar event. Requires event_id and rsvp_status (accepted/declined/tentative).",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "9rzYXSNhqSF6tVNC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slack_user_id": "={{ $('Build Agent Context').item.json.slack_user_id }}",
            "action": "rsvp_event",
            "calendar_id": "={{ $fromAI(\"calendar_id\", \"Calendar ID - use 'primary' for main calendar\", \"string\") }}",
            "event_id": "={{ $fromAI(\"event_id\", \"The ID of the event to RSVP to\", \"string\") }}",
            "rsvp_status": "={{ $fromAI(\"rsvp_status\", \"Status: accepted, declined, or tentative\", \"string\") }}",
            "send_updates": "={{ $fromAI(\"send_updates\", \"Notification: 'all' (default) or 'none'\", \"string\") }}"
          },
          "schema": [
            {
              "id": "slack_user_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "slack_user_id"
            },
            {
              "id": "action",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "action"
            },
            {
              "id": "calendar_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "calendar_id"
            },
            {
              "id": "event_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "event_id"
            },
            {
              "id": "rsvp_status",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "rsvp_status"
            },
            {
              "id": "send_updates",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "send_updates"
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-calendar-rsvp",
      "name": "Tool: RSVP Calendar Event",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3232,
        392
      ]
    },
    {
      "parameters": {
        "description": "Create a new user in the Alfred system. Use this to onboard new team members. Provide the Slack user ID (from @mention or explicit ID like U07RPDGL1PE). The system will automatically fetch their name, email, and timezone from Slack. Only admins can create users.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "DIr3sLVyRlkgm4lu"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slack_user_id": "={{ $fromAI(\"slack_user_id\", \"The Slack user ID of the person to add (e.g., U07RPDGL1PE)\", \"string\") }}",
            "action": "create_user",
            "role": "={{ $fromAI(\"role\", \"User role: 'member' (default), 'admin', or 'guest'\", \"string\") }}",
            "timezone_override": "={{ $fromAI(\"timezone_override\", \"Optional: Override the timezone from Slack (e.g., America/Los_Angeles, Europe/Madrid)\", \"string\") }}",
            "requesting_user_id": "={{ $('Normalize Input').item.json.slack_user_id }}"
          },
          "schema": [
            {
              "id": "slack_user_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "slack_user_id"
            },
            {
              "id": "action",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "action"
            },
            {
              "id": "role",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "role"
            },
            {
              "id": "timezone_override",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "timezone_override"
            },
            {
              "id": "requesting_user_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "requesting_user_id"
            }
          ]
        }
      },
      "id": "tool-create-user",
      "name": "Tool: Create User",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3360,
        392
      ]
    },
    {
      "parameters": {
        "description": "List all users registered in the Alfred system. Shows their Slack username, email, role, timezone, and Google auth status. Only admins can list users.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "DIr3sLVyRlkgm4lu"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slack_user_id": "",
            "action": "list_users",
            "role": "",
            "timezone_override": "",
            "requesting_user_id": "={{ $('Normalize Input').item.json.slack_user_id }}"
          },
          "schema": [
            {
              "id": "slack_user_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "slack_user_id"
            },
            {
              "id": "action",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "action"
            },
            {
              "id": "role",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "role"
            },
            {
              "id": "timezone_override",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "timezone_override"
            },
            {
              "id": "requesting_user_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "requesting_user_id"
            }
          ]
        }
      },
      "id": "tool-list-users",
      "name": "Tool: List Users",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3488,
        392
      ]
    },
    {
      "parameters": {
        "name": "update_user",
        "description": "Update an existing user's information by refreshing their data from Slack. Use this to fix users who were created without email addresses or to update their Google authentication settings. Pass the slack_user_id of the user to update. Optionally pass role to change their role (requires admin), or timezone_override to set a specific timezone.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "DIr3sLVyRlkgm4lu"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slack_user_id": "={{ $fromAI(\"slack_user_id\", \"The Slack user ID of the user to update (e.g., U07RPDGL1PE)\", \"string\") }}",
            "action": "update_user",
            "role": "={{ $fromAI(\"role\", \"Optional: New role (admin, member, guest). Leave empty to keep existing role.\", \"string\") }}",
            "timezone_override": "={{ $fromAI(\"timezone_override\", \"Optional: Override timezone (e.g., Europe/Berlin). Leave empty to use Slack timezone.\", \"string\") }}",
            "requesting_user_id": "={{ $('Normalize Input').item.json.slack_user_id }}"
          },
          "schema": [
            {
              "id": "slack_user_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "slack_user_id"
            },
            {
              "id": "action",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "action"
            },
            {
              "id": "role",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "role"
            },
            {
              "id": "timezone_override",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "timezone_override"
            },
            {
              "id": "requesting_user_id",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "requesting_user_id"
            }
          ]
        }
      },
      "id": "tool-update-user",
      "name": "Tool: Update User",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        3616,
        392
      ]
    },
    {
      "parameters": {
        "description": "Send a message to a Slack CHANNEL or DM to ANOTHER user (not yourself). For channels: use channel name (e.g., 'general') or channel ID. For DMs to other users: use their Slack user ID (starts with U, e.g., U07RPDGL1PE). NEVER use this to message the current user - the Response Router handles that automatically.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "B7vIQscroN53icOa"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "channel": "={{ $fromAI('channel', 'The channel name (without #) or Slack user ID to send the message to', 'string') }}",
            "message": "={{ $fromAI('message', 'The message content to send', 'string') }}",
            "thread_ts": "={{ $fromAI('thread_ts', 'Optional: thread timestamp for replying in a thread. Leave empty for new messages.', 'string') }}",
            "slack_user_id": "={{ $('Build Agent Context').item.json.slack_user_id }}"
          },
          "schema": [
            {
              "id": "channel",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "channel"
            },
            {
              "id": "message",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "message"
            },
            {
              "id": "thread_ts",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "thread_ts"
            },
            {
              "id": "slack_user_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "slack_user_id"
            }
          ]
        }
      },
      "id": "tool-slack-message",
      "name": "Tool: Slack Message",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3744,
        392
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "slack_user_id"
            },
            {
              "name": "message"
            },
            {
              "name": "channel_id"
            },
            {
              "name": "thread_ts"
            },
            {
              "name": "response_type"
            }
          ]
        }
      },
      "id": "subworkflow-trigger",
      "name": "Sub-workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        256,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Format sub-workflow input to match Slack trigger normalized output\nreturn [{\n  json: {\n    slack_user_id: input.slack_user_id,\n    channel_id: input.channel_id || '',\n    thread_ts: input.thread_ts || '',\n    message_text: input.message,\n    mentioned_user_ids: [],\n    trigger_type: 'subworkflow',\n    response_type: input.response_type || 'dm',\n    raw_event: { source: 'subworkflow' }\n  }\n}];"
      },
      "id": "normalize-subworkflow",
      "name": "Normalize Sub-workflow Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        360
      ]
    },
    {
      "parameters": {
        "description": "Create, list, update, or delete scheduled tasks. Use this when the user wants to set up recurring reminders, daily reports, or any automated scheduled actions.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "GVUVTmfFfdIpApKq"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slack_user_id": "={{ $('Build Agent Context').item.json.slack_user_id }}",
            "action": "={{ $fromAI(\"action\", \"The action: create, list, update, or delete\", \"string\") }}",
            "task_id": "={{ $fromAI(\"task_id\", \"For update/delete: the task ID\", \"string\") }}",
            "name": "={{ $fromAI(\"name\", \"For create: human-readable task name\", \"string\") }}",
            "request": "={{ $fromAI(\"request\", \"For create: the full request to send to Alfred when task runs\", \"string\") }}",
            "schedule_type": "={{ $fromAI(\"schedule_type\", \"For create: once, daily, weekly, or interval\", \"string\") }}",
            "scheduled_time": "={{ $fromAI(\"scheduled_time\", \"For daily/weekly: time in HH:MM format (24-hour)\", \"string\") }}",
            "days_of_week": "={{ $fromAI(\"days_of_week\", \"For weekly: comma-separated day numbers 1-7 (1=Mon)\", \"string\") }}",
            "interval_minutes": "={{ $fromAI(\"interval_minutes\", \"For interval: minutes between runs\", \"string\") }}",
            "one_time_at": "={{ $fromAI(\"one_time_at\", \"For once: ISO datetime string\", \"string\") }}",
            "channels": "={{ $fromAI(\"channels\", \"Delivery channels: slack, email, or slack,email\", \"string\") }}",
            "is_active": "={{ $fromAI(\"is_active\", \"For update: true or false to enable/disable\", \"string\") }}"
          },
          "schema": [
            {
              "id": "slack_user_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "slack_user_id"
            },
            {
              "id": "action",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "action"
            },
            {
              "id": "task_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "task_id"
            },
            {
              "id": "name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "name"
            },
            {
              "id": "request",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "request"
            },
            {
              "id": "schedule_type",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "schedule_type"
            },
            {
              "id": "scheduled_time",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "scheduled_time"
            },
            {
              "id": "days_of_week",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "days_of_week"
            },
            {
              "id": "interval_minutes",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "interval_minutes"
            },
            {
              "id": "one_time_at",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "one_time_at"
            },
            {
              "id": "channels",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "channels"
            },
            {
              "id": "is_active",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "is_active"
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-scheduled-tasks",
      "name": "Tool: Scheduled Tasks",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3872,
        392
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "fallback-model",
      "name": "GPT-5.2 Fallback",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1952,
        392
      ],
      "credentials": {
        "openAiApi": {
          "id": "K0dJSGlrxig3qa2p",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "predicate-result",
              "leftValue": "={{ $json.result }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-no-send",
      "name": "Check Should Send",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5136,
        168
      ]
    },
    {
      "parameters": {
        "description": "Get accurate time context and evaluate event times. Use this for ANY time-related reasoning. Actions: (1) get_context - returns current time, timezone, today/tomorrow boundaries (no params needed). (2) get_window - calculate a time window (params: offset_start_minutes, offset_end_minutes). (3) evaluate_events - evaluate calendar events (params: events array, window_start_iso, window_end_iso). ALWAYS use this tool for time calculations.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "fhb6nIQYs2L1YPVm"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slack_user_id": "={{ $('Build Agent Context').item.json.slack_user_id }}",
            "action": "={{ $fromAI('action', 'The action: get_context, get_window, or evaluate_events', 'string') }}",
            "params": "={{ $fromAI('params', 'Optional JSON string with action parameters. For get_context: leave empty or \"{}\". For get_window: {\"offset_start_minutes\": 0, \"offset_end_minutes\": 60}. For evaluate_events: {\"events\": [...], \"window_start_iso\": \"...\", \"window_end_iso\": \"...\"}', 'string') }}"
          },
          "schema": [
            {
              "id": "slack_user_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "slack_user_id"
            },
            {
              "id": "action",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "action"
            },
            {
              "id": "params",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "params"
            }
          ]
        }
      },
      "id": "tool-time-management",
      "name": "Tool: Time Management",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4000,
        392
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get context from upstream\nconst context = $('Build Agent Context').first().json;\nconst errorData = $input.first().json;\n\n// Extract error message if available\nlet errorMessage = 'an unexpected issue';\nif (errorData.error?.message) {\n  const msg = errorData.error.message.toLowerCase();\n  if (msg.includes('timeout')) {\n    errorMessage = 'the request took too long';\n  } else if (msg.includes('rate limit')) {\n    errorMessage = 'too many requests right now';\n  } else if (msg.includes('credential') || msg.includes('auth')) {\n    errorMessage = 'a connection issue with one of my tools';\n  } else if (msg.includes('schema') || msg.includes('validation')) {\n    errorMessage = 'trouble understanding the request format';\n  }\n}\n\n// Create friendly error response\nconst friendlyResponse = `I ran into ${errorMessage} while working on that. Could you try asking again in a moment? If this keeps happening, let Spencer know.`;\n\nreturn [{\n  json: {\n    output: friendlyResponse,\n    error: true,\n    errorDetails: errorData.error || null\n  }\n}];"
      },
      "id": "error-handler",
      "name": "Handle Agent Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4464,
        240
      ]
    },
    {
      "parameters": {
        "description": "Analyze the user's sent emails and create a comprehensive writing style guide. Use when user asks to 'learn my email style' or 'analyze my writing'. Pass mode='recent' for recent emails or mode='specific' with message_ids for specific emails.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "LSlDQ7mxMjxUddfa"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slack_user_id": "={{ $('Build Agent Context').item.json.slack_user_id }}",
            "mode": "={{ $fromAI(\"mode\", \"Analysis mode: 'recent' for recent emails or 'specific' for specific message IDs\", \"string\") }}",
            "count": "={{ $fromAI(\"count\", \"Number of emails to analyze (default 15, max 25)\", \"number\") }}",
            "message_ids": "={{ $fromAI(\"message_ids\", \"Comma-separated message IDs for mode=specific\", \"string\") }}"
          }
        }
      },
      "id": "tool-analyze-tone",
      "name": "Tool: Analyze Email Tone",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4128,
        392
      ]
    },
    {
      "parameters": {
        "description": "Search the web for current information, news, and real-time data. Use this when you need up-to-date information that may not be in your training data. Returns results with cited sources.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "F0TUHVEzA79rroyS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI(\"query\", \"The search query to look up on the web\", \"string\") }}",
            "context": "={{ $fromAI(\"context\", \"Optional additional context to improve search results\", \"string\") }}",
            "allowed_domains": "={{ $fromAI(\"allowed_domains\", \"Optional comma-separated list of domains to limit search to\", \"string\") }}"
          },
          "schema": [
            {
              "id": "query",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "query"
            },
            {
              "id": "context",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "context"
            },
            {
              "id": "allowed_domains",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "allowed_domains"
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-web-search",
      "name": "Tool: Web Search",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4256,
        392
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "Rw7786cYTYOTQhH9"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "predicate": "The AI response contains actionable information that should be delivered to the user. This includes: meeting reminders, task confirmations, requested information, answers to questions, or any substantive response. Return FALSE if the response indicates no action was taken, no events were found, nothing to report, or the AI explicitly decided not to notify the user.",
            "context": "={{ $json.response_text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "predicate",
              "displayName": "predicate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "evaluate-predicate",
      "name": "Evaluate Predicate",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4912,
        176
      ]
    },
    {
      "id": "check-send-success",
      "name": "Check Send Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5584,
        96
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "handle-send-failure",
      "name": "Handle Send Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5808,
        192
      ],
      "parameters": {
        "jsCode": "const sendResult = $input.first().json;\nconst formatResponse = $('Format Response').first().json;\n\nconst errorDetails = {\n  action: sendResult.action || 'unknown',\n  error: sendResult.error || 'unknown_error',\n  error_detail: sendResult.error_detail || [],\n  slack_user_id: formatResponse.slack_user_id,\n  response_type: formatResponse.response_type,\n  channel_id: formatResponse.channel_id,\n  response_text_preview: (formatResponse.response_text || '').substring(0, 100)\n};\n\nthrow new Error(`Slack delivery failed: ${errorDetails.error}. Details: ${JSON.stringify(errorDetails.error_detail)}. User: ${errorDetails.slack_user_id}`);"
      }
    }
  ],
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Lookup User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup User": {
      "main": [
        [
          {
            "node": "Check User Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User Found": {
      "main": [
        [
          {
            "node": "Route by Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Auth": {
      "main": [
        [
          {
            "node": "Get Personality",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Personality": {
      "main": [
        [
          {
            "node": "Build Agent Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unauthorized Response": {
      "main": [
        [
          {
            "node": "Send Unauthorized Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Agent Context": {
      "main": [
        [
          {
            "node": "Alfred AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Model": {
      "ai_languageModel": [
        [
          {
            "node": "Alfred AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Update Preferences": {
      "ai_tool": [
        [
          {
            "node": "Alfred AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Alfred AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Alfred AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Agent Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Evaluate Predicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Gmail": {
      "ai_tool": [
        [
          {
            "node": "Alfred AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Alfred AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Alfred AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: List Calendar Events": {
      "ai_tool": [
        [
          {
            "node": "Alfred AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Create Calendar Event": {
      "ai_tool": [
        [
          {
            "node": "Alfred AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Update Calendar Event": {
      "ai_tool": [
        [
          {
            "node": "Alfred AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Delete Calendar Event": {
      "ai_tool": [
        [
          {
            "node": "Alfred AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: RSVP Calendar Event": {
      "ai_tool": [
        [
          {
            "node": "Alfred AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Create User": {
      "ai_tool": [
        [
          {
            "node": "Alfred AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: List Users": {
      "ai_tool": [
        [
          {
            "node": "Alfred AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Update User": {
      "ai_tool": [
        [
          {
            "node": "Alfred AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Slack Message": {
      "ai_tool": [
        [
          {
            "node": "Alfred AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sub-workflow Trigger": {
      "main": [
        [
          {
            "node": "Normalize Sub-workflow Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Sub-workflow Input": {
      "main": [
        [
          {
            "node": "Lookup User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Scheduled Tasks": {
      "ai_tool": [
        [
          {
            "node": "Alfred AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT-5.2 Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "Alfred AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Check Should Send": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Time Management": {
      "ai_tool": [
        [
          {
            "node": "Alfred AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Handle Agent Error": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Analyze Email Tone": {
      "ai_tool": [
        [
          {
            "node": "Alfred AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Web Search": {
      "ai_tool": [
        [
          {
            "node": "Alfred AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Predicate": {
      "main": [
        [
          {
            "node": "Check Should Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Response": {
      "main": [
        [
          {
            "node": "Check Send Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Send Success": {
      "main": [
        [
          {
            "node": "Log Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Send Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Slack Trigger": [
      {
        "json": {
          "type": "message",
          "user": "U02TE7SKU3X",
          "ts": "1770130334.158719",
          "client_msg_id": "deabd3d5-6ce0-4a9f-b685-d858d8896af9",
          "text": "Hey Alfred, what's left on the docket today?'",
          "team": "T02U6T09Z96",
          "blocks": [
            {
              "type": "rich_text",
              "block_id": "uUSNw",
              "elements": [
                {
                  "type": "rich_text_section",
                  "elements": [
                    {
                      "type": "text",
                      "text": "Hey Alfred, what's left on the docket today?'"
                    }
                  ]
                }
              ]
            }
          ],
          "channel": "D0ACCAUC2P8",
          "event_ts": "1770130334.158719",
          "channel_type": "im"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "19fc8630-345a-4b96-94c2-3fd2ad9acad0",
  "activeVersionId": "19fc8630-345a-4b96-94c2-3fd2ad9acad0",
  "versionCounter": 327,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2026-02-02T12:36:24.088Z",
      "createdAt": "2026-02-02T12:36:24.088Z",
      "id": "BMnFlbKzTANo3M1b",
      "name": "AI Agent"
    }
  ]
}