alfred/workflows/tools/google_docs.json
{
  "updatedAt": "2026-02-03T22:43:12.209Z",
  "createdAt": "2026-02-03T12:37:03.098Z",
  "id": "ZUMZ7oNUzDRDnFft",
  "name": "📄 Tool | Google Docs",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "slack_user_id",
              "type": "string"
            },
            {
              "name": "action",
              "type": "string"
            },
            {
              "name": "document_id",
              "type": "string"
            },
            {
              "name": "title",
              "type": "string"
            },
            {
              "name": "content",
              "type": "string"
            },
            {
              "name": "folder_id",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "get-auth",
      "name": "Get Google Auth",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        470,
        300
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "S8GWoOTCaSqyc5bj"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slack_user_id": "={{ $json.slack_user_id }}",
            "scopes": "https://www.googleapis.com/auth/documents"
          }
        },
        "options": {}
      }
    },
    {
      "id": "check-auth",
      "name": "Check Auth Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        800,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.auth_success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "condition-auth"
            }
          ]
        }
      }
    },
    {
      "id": "auth-failed",
      "name": "Auth Failed Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1020,
        520
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.auth_error || 'Google authentication failed' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "route-action",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1020,
        300
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "get_document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "get_document"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "create_document"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "append_text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "append_text"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "get-document",
      "name": "Get Document API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        100
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.document_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "format-get-document",
      "name": "Format Get Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1350,
        100
      ],
      "parameters": {
        "jsCode": "const doc = $input.first().json;\n\n// Extract plain text from document body\nlet text = '';\nif (doc.body?.content) {\n  for (const element of doc.body.content) {\n    if (element.paragraph?.elements) {\n      for (const textElement of element.paragraph.elements) {\n        if (textElement.textRun?.content) {\n          text += textElement.textRun.content;\n        }\n      }\n    }\n  }\n}\n\nreturn [{\n  json: {\n    success: true,\n    action: 'get_document',\n    document_id: doc.documentId,\n    title: doc.title,\n    text: text.trim(),\n    revision_id: doc.revisionId,\n    document_url: `https://docs.google.com/document/d/${doc.documentId}/edit`\n  }\n}];"
      }
    },
    {
      "id": "create-document",
      "name": "Create Document API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        260
      ],
      "parameters": {
        "method": "POST",
        "url": "https://docs.googleapis.com/v1/documents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.title || 'Untitled Document' }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "add-initial-content",
      "name": "Add Initial Content",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1350,
        260
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('Merge Input Context').item.json.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "id": "condition-content"
            }
          ]
        }
      }
    },
    {
      "id": "append-initial-content",
      "name": "Append Initial Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1570,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $('Create Document API').item.json.documentId }}:batchUpdate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Merge Input Context').item.json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "requests",
              "value": "={{ [{ insertText: { location: { index: 1 }, text: $('Merge Input Context').item.json.content } }] }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "format-create-document",
      "name": "Format Create Document",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1790,
        260
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "action",
              "name": "action",
              "value": "create_document",
              "type": "string"
            },
            {
              "id": "document_id",
              "name": "document_id",
              "value": "={{ $('Create Document API').item.json.documentId }}",
              "type": "string"
            },
            {
              "id": "title",
              "name": "title",
              "value": "={{ $('Create Document API').item.json.title }}",
              "type": "string"
            },
            {
              "id": "document_url",
              "name": "document_url",
              "value": "=https://docs.google.com/document/d/{{ $('Create Document API').item.json.documentId }}/edit",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "get-doc-for-append",
      "name": "Get Doc End Index",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        420
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.document_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "append-text",
      "name": "Append Text API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1350,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $('Merge Input Context').item.json.document_id }}:batchUpdate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Merge Input Context').item.json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "requests",
              "value": "={{ [{ insertText: { endOfSegmentLocation: {}, text: '\\n' + $('Merge Input Context').item.json.content } }] }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "format-append-text",
      "name": "Format Append Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1570,
        420
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "action",
              "name": "action",
              "value": "append_text",
              "type": "string"
            },
            {
              "id": "document_id",
              "name": "document_id",
              "value": "={{ $('Merge Input Context').item.json.document_id }}",
              "type": "string"
            },
            {
              "id": "appended_text",
              "name": "appended_text",
              "value": "={{ $('Merge Input Context').item.json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "invalid-action",
      "name": "Invalid Action",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1240,
        580
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "error",
              "name": "error",
              "value": "=Invalid action '{{ $json.action }}'. Valid actions: get_document, create_document, append_text",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "merge-context",
      "name": "Merge Input Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        300
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "action",
              "name": "action",
              "value": "={{ $('Workflow Input').item.json.action }}",
              "type": "string"
            },
            {
              "id": "success",
              "name": "auth_success",
              "value": "={{ $json.success }}",
              "type": "boolean"
            },
            {
              "id": "access_token",
              "name": "access_token",
              "value": "={{ $json.access_token }}",
              "type": "string"
            },
            {
              "id": "user_email",
              "name": "user_email",
              "value": "={{ $json.user_email }}",
              "type": "string"
            },
            {
              "id": "error",
              "name": "auth_error",
              "value": "={{ $json.error }}",
              "type": "string"
            },
            {
              "id": "document_id",
              "name": "document_id",
              "value": "={{ $('Workflow Input').item.json.document_id }}",
              "type": "string"
            },
            {
              "id": "title",
              "name": "title",
              "value": "={{ $('Workflow Input').item.json.title }}",
              "type": "string"
            },
            {
              "id": "content",
              "name": "content",
              "value": "={{ $('Workflow Input').item.json.content }}",
              "type": "string"
            },
            {
              "id": "folder_id",
              "name": "folder_id",
              "value": "={{ $('Workflow Input').item.json.folder_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Get Google Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth Success": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth Failed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Get Document API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Document API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Doc End Index",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Document API": {
      "main": [
        [
          {
            "node": "Format Get Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Document API": {
      "main": [
        [
          {
            "node": "Add Initial Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Initial Content": {
      "main": [
        [
          {
            "node": "Append Initial Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Create Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Initial Content": {
      "main": [
        [
          {
            "node": "Format Create Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Doc End Index": {
      "main": [
        [
          {
            "node": "Append Text API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Text API": {
      "main": [
        [
          {
            "node": "Format Append Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Google Auth": {
      "main": [
        [
          {
            "node": "Merge Input Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Input Context": {
      "main": [
        [
          {
            "node": "Check Auth Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "096d9253-1884-4f73-a116-0614577a3b32",
  "activeVersionId": "096d9253-1884-4f73-a116-0614577a3b32",
  "versionCounter": 24,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-03T12:37:03.098Z",
      "createdAt": "2026-02-03T12:37:03.098Z",
      "role": "workflow:owner",
      "workflowId": "ZUMZ7oNUzDRDnFft",
      "projectId": "Jd992SEPuokf8o5Z",
      "project": {
        "updatedAt": "2026-02-02T12:27:52.037Z",
        "createdAt": "2026-02-02T12:20:35.714Z",
        "id": "Jd992SEPuokf8o5Z",
        "name": "Spencer Marx <spencer@aclarify.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e498ff06-ba9d-4721-8454-492195be8229",
        "projectRelations": [
          {
            "updatedAt": "2026-02-02T12:20:35.714Z",
            "createdAt": "2026-02-02T12:20:35.714Z",
            "userId": "e498ff06-ba9d-4721-8454-492195be8229",
            "projectId": "Jd992SEPuokf8o5Z",
            "user": {
              "updatedAt": "2026-02-04T07:39:59.721Z",
              "createdAt": "2026-02-02T12:20:29.217Z",
              "id": "e498ff06-ba9d-4721-8454-492195be8229",
              "email": "spencer@aclarify.com",
              "firstName": "Spencer",
              "lastName": "Marx",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-02T12:28:04.495Z",
                "personalization_survey_n8n_version": "2.6.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "KwXRQi320-E6cSKEUFTol",
                "userActivatedAt": 1770049275864
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-03T22:43:12.213Z",
    "createdAt": "2026-02-03T22:43:12.213Z",
    "versionId": "096d9253-1884-4f73-a116-0614577a3b32",
    "workflowId": "ZUMZ7oNUzDRDnFft",
    "nodes": [
      {
        "id": "trigger",
        "name": "Workflow Input",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          250,
          300
        ],
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "slack_user_id",
                "type": "string"
              },
              {
                "name": "action",
                "type": "string"
              },
              {
                "name": "document_id",
                "type": "string"
              },
              {
                "name": "title",
                "type": "string"
              },
              {
                "name": "content",
                "type": "string"
              },
              {
                "name": "folder_id",
                "type": "string"
              }
            ]
          }
        }
      },
      {
        "id": "get-auth",
        "name": "Get Google Auth",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          470,
          300
        ],
        "parameters": {
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "S8GWoOTCaSqyc5bj"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "slack_user_id": "={{ $json.slack_user_id }}",
              "scopes": "https://www.googleapis.com/auth/documents"
            }
          },
          "options": {}
        }
      },
      {
        "id": "check-auth",
        "name": "Check Auth Success",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          800,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "leftValue": "={{ $json.auth_success }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                },
                "id": "condition-auth"
              }
            ]
          }
        }
      },
      {
        "id": "auth-failed",
        "name": "Auth Failed Response",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1020,
          520
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "success",
                "name": "success",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "error",
                "name": "error",
                "value": "={{ $json.auth_error || 'Google authentication failed' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "route-action",
        "name": "Route by Action",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1020,
          300
        ],
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "get_document",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "get_document"
              },
              {
                "conditions": {
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "create_document",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "create_document"
              },
              {
                "conditions": {
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "append_text",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "append_text"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        }
      },
      {
        "id": "get-document",
        "name": "Get Document API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1240,
          100
        ],
        "parameters": {
          "method": "GET",
          "url": "=https://docs.googleapis.com/v1/documents/{{ $json.document_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $json.access_token }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "format-get-document",
        "name": "Format Get Document",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1350,
          100
        ],
        "parameters": {
          "jsCode": "const doc = $input.first().json;\n\n// Extract plain text from document body\nlet text = '';\nif (doc.body?.content) {\n  for (const element of doc.body.content) {\n    if (element.paragraph?.elements) {\n      for (const textElement of element.paragraph.elements) {\n        if (textElement.textRun?.content) {\n          text += textElement.textRun.content;\n        }\n      }\n    }\n  }\n}\n\nreturn [{\n  json: {\n    success: true,\n    action: 'get_document',\n    document_id: doc.documentId,\n    title: doc.title,\n    text: text.trim(),\n    revision_id: doc.revisionId,\n    document_url: `https://docs.google.com/document/d/${doc.documentId}/edit`\n  }\n}];"
        }
      },
      {
        "id": "create-document",
        "name": "Create Document API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1240,
          260
        ],
        "parameters": {
          "method": "POST",
          "url": "https://docs.googleapis.com/v1/documents",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $json.access_token }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "title",
                "value": "={{ $json.title || 'Untitled Document' }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "add-initial-content",
        "name": "Add Initial Content",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1350,
          260
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "leftValue": "={{ $('Merge Input Context').item.json.content }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                },
                "id": "condition-content"
              }
            ]
          }
        }
      },
      {
        "id": "append-initial-content",
        "name": "Append Initial Content",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1570,
          200
        ],
        "parameters": {
          "method": "POST",
          "url": "=https://docs.googleapis.com/v1/documents/{{ $('Create Document API').item.json.documentId }}:batchUpdate",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Merge Input Context').item.json.access_token }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "requests",
                "value": "={{ [{ insertText: { location: { index: 1 }, text: $('Merge Input Context').item.json.content } }] }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "format-create-document",
        "name": "Format Create Document",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1790,
          260
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "success",
                "name": "success",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "action",
                "name": "action",
                "value": "create_document",
                "type": "string"
              },
              {
                "id": "document_id",
                "name": "document_id",
                "value": "={{ $('Create Document API').item.json.documentId }}",
                "type": "string"
              },
              {
                "id": "title",
                "name": "title",
                "value": "={{ $('Create Document API').item.json.title }}",
                "type": "string"
              },
              {
                "id": "document_url",
                "name": "document_url",
                "value": "=https://docs.google.com/document/d/{{ $('Create Document API').item.json.documentId }}/edit",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "get-doc-for-append",
        "name": "Get Doc End Index",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1240,
          420
        ],
        "parameters": {
          "method": "GET",
          "url": "=https://docs.googleapis.com/v1/documents/{{ $json.document_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $json.access_token }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "append-text",
        "name": "Append Text API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1350,
          420
        ],
        "parameters": {
          "method": "POST",
          "url": "=https://docs.googleapis.com/v1/documents/{{ $('Merge Input Context').item.json.document_id }}:batchUpdate",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Merge Input Context').item.json.access_token }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "requests",
                "value": "={{ [{ insertText: { endOfSegmentLocation: {}, text: '\\n' + $('Merge Input Context').item.json.content } }] }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "format-append-text",
        "name": "Format Append Text",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1570,
          420
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "success",
                "name": "success",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "action",
                "name": "action",
                "value": "append_text",
                "type": "string"
              },
              {
                "id": "document_id",
                "name": "document_id",
                "value": "={{ $('Merge Input Context').item.json.document_id }}",
                "type": "string"
              },
              {
                "id": "appended_text",
                "name": "appended_text",
                "value": "={{ $('Merge Input Context').item.json.content }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "invalid-action",
        "name": "Invalid Action",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1240,
          580
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "success",
                "name": "success",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "error",
                "name": "error",
                "value": "=Invalid action '{{ $json.action }}'. Valid actions: get_document, create_document, append_text",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "merge-context",
        "name": "Merge Input Context",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          580,
          300
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "action",
                "name": "action",
                "value": "={{ $('Workflow Input').item.json.action }}",
                "type": "string"
              },
              {
                "id": "success",
                "name": "auth_success",
                "value": "={{ $json.success }}",
                "type": "boolean"
              },
              {
                "id": "access_token",
                "name": "access_token",
                "value": "={{ $json.access_token }}",
                "type": "string"
              },
              {
                "id": "user_email",
                "name": "user_email",
                "value": "={{ $json.user_email }}",
                "type": "string"
              },
              {
                "id": "error",
                "name": "auth_error",
                "value": "={{ $json.error }}",
                "type": "string"
              },
              {
                "id": "document_id",
                "name": "document_id",
                "value": "={{ $('Workflow Input').item.json.document_id }}",
                "type": "string"
              },
              {
                "id": "title",
                "name": "title",
                "value": "={{ $('Workflow Input').item.json.title }}",
                "type": "string"
              },
              {
                "id": "content",
                "name": "content",
                "value": "={{ $('Workflow Input').item.json.content }}",
                "type": "string"
              },
              {
                "id": "folder_id",
                "name": "folder_id",
                "value": "={{ $('Workflow Input').item.json.folder_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "Workflow Input": {
        "main": [
          [
            {
              "node": "Get Google Auth",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Auth Success": {
        "main": [
          [
            {
              "node": "Route by Action",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Auth Failed Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route by Action": {
        "main": [
          [
            {
              "node": "Get Document API",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create Document API",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Doc End Index",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Invalid Action",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Document API": {
        "main": [
          [
            {
              "node": "Format Get Document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Document API": {
        "main": [
          [
            {
              "node": "Add Initial Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add Initial Content": {
        "main": [
          [
            {
              "node": "Append Initial Content",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Create Document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append Initial Content": {
        "main": [
          [
            {
              "node": "Format Create Document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Doc End Index": {
        "main": [
          [
            {
              "node": "Append Text API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append Text API": {
        "main": [
          [
            {
              "node": "Format Append Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Google Auth": {
        "main": [
          [
            {
              "node": "Merge Input Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Input Context": {
        "main": [
          [
            {
              "node": "Check Auth Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Spencer Marx",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-03T22:43:12.376Z",
        "id": 135,
        "workflowId": "ZUMZ7oNUzDRDnFft",
        "versionId": "096d9253-1884-4f73-a116-0614577a3b32",
        "event": "activated",
        "userId": "e498ff06-ba9d-4721-8454-492195be8229"
      }
    ]
  }
}
