alfred/workflows/tools/google_docs.json
{
  "id": "ZUMZ7oNUzDRDnFft",
  "name": "\ud83d\udcc4 Tool | Google Docs",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "slack_user_id"
            },
            {
              "name": "action"
            },
            {
              "name": "document_id"
            },
            {
              "name": "title"
            },
            {
              "name": "content"
            },
            {
              "name": "folder_id"
            },
            {
              "name": "position"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        256,
        304
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "S8GWoOTCaSqyc5bj"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slack_user_id": "={{ $json.slack_user_id }}",
            "scopes": "https://www.googleapis.com/auth/documents"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "slack_user_id",
              "displayName": "slack_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "scopes",
              "displayName": "scopes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "get-auth",
      "name": "Get Google Auth",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "action",
              "name": "action",
              "value": "={{ $('Workflow Input').item.json.action }}",
              "type": "string"
            },
            {
              "id": "success",
              "name": "auth_success",
              "value": "={{ $json.success }}",
              "type": "boolean"
            },
            {
              "id": "access_token",
              "name": "access_token",
              "value": "={{ $json.access_token }}",
              "type": "string"
            },
            {
              "id": "user_email",
              "name": "user_email",
              "value": "={{ $json.user_email }}",
              "type": "string"
            },
            {
              "id": "error",
              "name": "auth_error",
              "value": "={{ $json.error }}",
              "type": "string"
            },
            {
              "id": "document_id",
              "name": "document_id",
              "value": "={{ $('Workflow Input').item.json.document_id }}",
              "type": "string"
            },
            {
              "id": "title",
              "name": "title",
              "value": "={{ $('Workflow Input').item.json.title }}",
              "type": "string"
            },
            {
              "id": "content",
              "name": "content",
              "value": "={{ $('Workflow Input').item.json.content }}",
              "type": "string"
            },
            {
              "id": "folder_id",
              "name": "folder_id",
              "value": "={{ $('Workflow Input').item.json.folder_id }}",
              "type": "string"
            },
            {
              "id": "position",
              "name": "position",
              "value": "={{ $('Workflow Input').item.json.position || 'start' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-context",
      "name": "Merge Input Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-auth",
              "leftValue": "={{ $json.auth_success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "check-auth",
      "name": "Check Auth Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.auth_error || 'Google authentication failed' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "auth-failed",
      "name": "Auth Failed Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-action",
              "leftValue": "={{ $json.action }}",
              "rightValue": "get_document",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "is-get-document",
      "name": "Is Get Document?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1136,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-action",
              "leftValue": "={{ $json.action }}",
              "rightValue": "create_document",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "is-create-document",
      "name": "Is Create Document?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1360,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-action",
              "leftValue": "={{ $json.action }}",
              "rightValue": "append_text",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "is-append-text",
      "name": "Is Append Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1584,
        464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-action",
              "leftValue": "={{ $json.action }}",
              "rightValue": "update_document",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "is-update-document",
      "name": "Is Update Document?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1792,
        544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-action",
              "leftValue": "={{ $json.action }}",
              "rightValue": "insert_text",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "is-insert-text",
      "name": "Is Insert Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2016,
        624
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-action",
              "leftValue": "={{ $json.action }}",
              "rightValue": "get_metadata",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "is-get-metadata",
      "name": "Is Get Metadata?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2240,
        704
      ]
    },
    {
      "parameters": {
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.document_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-document",
      "name": "Get Document API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const doc = $input.first().json;\n\nlet text = '';\nif (doc.body?.content) {\n  for (const element of doc.body.content) {\n    if (element.paragraph?.elements) {\n      for (const textElement of element.paragraph.elements) {\n        if (textElement.textRun?.content) {\n          text += textElement.textRun.content;\n        }\n      }\n    }\n  }\n}\n\nreturn [{\n  json: {\n    success: true,\n    action: 'get_document',\n    document_id: doc.documentId,\n    title: doc.title,\n    text: text.trim(),\n    revision_id: doc.revisionId,\n    document_url: `https://docs.google.com/document/d/${doc.documentId}/edit`\n  }\n}];"
      },
      "id": "format-get-document",
      "name": "Format Get Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://docs.googleapis.com/v1/documents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.title || 'Untitled Document' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-document",
      "name": "Create Document API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1584,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-content",
              "leftValue": "={{ $('Merge Input Context').item.json.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "add-initial-content",
      "name": "Add Initial Content?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1792,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $('Create Document API').item.json.documentId }}:batchUpdate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Merge Input Context').item.json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "requests",
              "value": "={{ [{ insertText: { location: { index: 1 }, text: $('Merge Input Context').item.json.content } }] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "append-initial-content",
      "name": "Append Initial Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "action",
              "name": "action",
              "value": "create_document",
              "type": "string"
            },
            {
              "id": "document_id",
              "name": "document_id",
              "value": "={{ $('Create Document API').item.json.documentId }}",
              "type": "string"
            },
            {
              "id": "title",
              "name": "title",
              "value": "={{ $('Create Document API').item.json.title }}",
              "type": "string"
            },
            {
              "id": "document_url",
              "name": "document_url",
              "value": "=https://docs.google.com/document/d/{{ $('Create Document API').item.json.documentId }}/edit",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-create-document",
      "name": "Format Create Document",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        304
      ]
    },
    {
      "parameters": {
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.document_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-doc-for-append",
      "name": "Get Doc End Index",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        464
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $('Merge Input Context').item.json.document_id }}:batchUpdate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Merge Input Context').item.json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "requests",
              "value": "={{ [{ insertText: { endOfSegmentLocation: {}, text: '\\n' + $('Merge Input Context').item.json.content } }] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "append-text",
      "name": "Append Text API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        464
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "action",
              "name": "action",
              "value": "append_text",
              "type": "string"
            },
            {
              "id": "document_id",
              "name": "document_id",
              "value": "={{ $('Merge Input Context').item.json.document_id }}",
              "type": "string"
            },
            {
              "id": "appended_text",
              "name": "appended_text",
              "value": "={{ $('Merge Input Context').item.json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-append-text",
      "name": "Format Append Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        464
      ]
    },
    {
      "parameters": {
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.document_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-doc-for-update",
      "name": "Get Doc For Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        544
      ]
    },
    {
      "parameters": {
        "jsCode": "const doc = $input.first().json;\nconst context = $('Merge Input Context').item.json;\n\n// Find end index from document body\nlet endIndex = 1;\nif (doc.body?.content) {\n  const lastElement = doc.body.content[doc.body.content.length - 1];\n  if (lastElement?.endIndex) {\n    endIndex = lastElement.endIndex;\n  }\n}\n\nconst previousLength = endIndex - 1;\nconst newContent = context.content;\n\n// Build requests array - delete existing content then insert new\nconst requests = [];\n\n// Only delete if there's content to delete (endIndex > 2 means there's actual content)\nif (endIndex > 2) {\n  requests.push({\n    deleteContentRange: {\n      range: {\n        startIndex: 1,\n        endIndex: endIndex - 1\n      }\n    }\n  });\n}\n\n// Insert new content\nrequests.push({\n  insertText: {\n    location: { index: 1 },\n    text: newContent\n  }\n});\n\n// Make the batchUpdate API call\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `https://docs.googleapis.com/v1/documents/${context.document_id}:batchUpdate`,\n  headers: {\n    'Authorization': `Bearer ${context.access_token}`,\n    'Content-Type': 'application/json'\n  },\n  body: { requests }\n});\n\nreturn [{\n  json: {\n    success: true,\n    action: 'update_document',\n    document_id: context.document_id,\n    document_url: `https://docs.google.com/document/d/${context.document_id}/edit`,\n    previous_length: previousLength,\n    new_length: newContent.length\n  }\n}];"
      },
      "id": "update-document-api",
      "name": "Update Document API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        544
      ]
    },
    {
      "parameters": {
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.document_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-doc-for-insert",
      "name": "Get Doc For Insert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        624
      ]
    },
    {
      "parameters": {
        "jsCode": "const doc = $input.first().json;\nconst context = $('Merge Input Context').item.json;\n\nconst content = context.content;\nconst position = context.position || 'start';\n\n// Determine insertion location\nlet insertRequest;\nlet insertedAt;\n\nif (position === 'end') {\n  // Use endOfSegmentLocation for end insertion\n  insertRequest = {\n    insertText: {\n      endOfSegmentLocation: {},\n      text: content\n    }\n  };\n  insertedAt = 'end';\n} else if (position === 'start') {\n  // Insert at beginning (index 1)\n  insertRequest = {\n    insertText: {\n      location: { index: 1 },\n      text: content\n    }\n  };\n  insertedAt = 1;\n} else {\n  // Numeric index\n  const index = parseInt(position, 10);\n  insertRequest = {\n    insertText: {\n      location: { index: index },\n      text: content\n    }\n  };\n  insertedAt = index;\n}\n\n// Make the batchUpdate API call\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `https://docs.googleapis.com/v1/documents/${context.document_id}:batchUpdate`,\n  headers: {\n    'Authorization': `Bearer ${context.access_token}`,\n    'Content-Type': 'application/json'\n  },\n  body: { requests: [insertRequest] }\n});\n\nreturn [{\n  json: {\n    success: true,\n    action: 'insert_text',\n    document_id: context.document_id,\n    inserted_at: insertedAt,\n    character_count: content.length\n  }\n}];"
      },
      "id": "insert-text-api",
      "name": "Insert Text API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        624
      ]
    },
    {
      "parameters": {
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.document_id }}?fields=documentId,title,revisionId",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-metadata-api",
      "name": "Get Metadata API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        704
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "action",
              "name": "action",
              "value": "get_metadata",
              "type": "string"
            },
            {
              "id": "document_id",
              "name": "document_id",
              "value": "={{ $json.documentId }}",
              "type": "string"
            },
            {
              "id": "title",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "revision_id",
              "name": "revision_id",
              "value": "={{ $json.revisionId }}",
              "type": "string"
            },
            {
              "id": "document_url",
              "name": "document_url",
              "value": "=https://docs.google.com/document/d/{{ $json.documentId }}/edit",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-get-metadata",
      "name": "Format Get Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2672,
        704
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "error",
              "name": "error",
              "value": "=Invalid action '{{ $json.action }}'. Valid actions: get_document, create_document, append_text, update_document, insert_text, get_metadata",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "invalid-action",
      "name": "Invalid Action",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2464,
        784
      ]
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Get Google Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Google Auth": {
      "main": [
        [
          {
            "node": "Merge Input Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Input Context": {
      "main": [
        [
          {
            "node": "Check Auth Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth Success": {
      "main": [
        [
          {
            "node": "Is Get Document?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth Failed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Get Document?": {
      "main": [
        [
          {
            "node": "Get Document API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Create Document?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Create Document?": {
      "main": [
        [
          {
            "node": "Create Document API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Append Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Append Text?": {
      "main": [
        [
          {
            "node": "Get Doc End Index",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Update Document?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Update Document?": {
      "main": [
        [
          {
            "node": "Get Doc For Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Insert Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Insert Text?": {
      "main": [
        [
          {
            "node": "Get Doc For Insert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Get Metadata?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Get Metadata?": {
      "main": [
        [
          {
            "node": "Get Metadata API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Document API": {
      "main": [
        [
          {
            "node": "Format Get Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Document API": {
      "main": [
        [
          {
            "node": "Add Initial Content?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Initial Content?": {
      "main": [
        [
          {
            "node": "Append Initial Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Create Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Initial Content": {
      "main": [
        [
          {
            "node": "Format Create Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Doc End Index": {
      "main": [
        [
          {
            "node": "Append Text API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Text API": {
      "main": [
        [
          {
            "node": "Format Append Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Doc For Update": {
      "main": [
        [
          {
            "node": "Update Document API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Doc For Insert": {
      "main": [
        [
          {
            "node": "Insert Text API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Metadata API": {
      "main": [
        [
          {
            "node": "Format Get Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {
    "Workflow Input": [
      {
        "json": {
          "success": true,
          "brand_guide_doc_id": "14_iOMjdagXCd9vX_wviQm4ruaMxRQOblUj9VL_2tZYY",
          "content_strategy_doc_id": "1A-9IPf6UN4Vn-vdwivvRTJt6oFnB_KDTDOuVGzO66_U",
          "content_calendar_sheet_id": "1Txc5v1Eeitm5-xvHleKvtEbH-KhxUk3hyxrBcr89rI0",
          "content_calendar_sheet_name": "Content Tracker",
          "error": null,
          "missing": []
        }
      }
    ]
  },
  "activeVersionId": "126234c9-fe67-4247-b3f5-815fe4400e2f",
  "versionCounter": 42,
  "triggerCount": 0,
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-05T14:12:36.071Z",
    "createdAt": "2026-02-05T14:12:36.071Z",
    "versionId": "126234c9-fe67-4247-b3f5-815fe4400e2f",
    "workflowId": "ZUMZ7oNUzDRDnFft",
    "nodes": [
      {
        "id": "trigger",
        "name": "Workflow Input",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          250,
          300
        ],
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "slack_user_id",
                "type": "string"
              },
              {
                "name": "action",
                "type": "string"
              },
              {
                "name": "document_id",
                "type": "string"
              },
              {
                "name": "title",
                "type": "string"
              },
              {
                "name": "content",
                "type": "string"
              },
              {
                "name": "folder_id",
                "type": "string"
              },
              {
                "name": "position",
                "type": "string"
              }
            ]
          }
        }
      },
      {
        "id": "get-auth",
        "name": "Get Google Auth",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          470,
          300
        ],
        "parameters": {
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "S8GWoOTCaSqyc5bj"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "slack_user_id": "={{ $json.slack_user_id }}",
              "scopes": "https://www.googleapis.com/auth/documents"
            }
          },
          "options": {}
        }
      },
      {
        "id": "merge-context",
        "name": "Merge Input Context",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          690,
          300
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "action",
                "name": "action",
                "value": "={{ $('Workflow Input').item.json.action }}",
                "type": "string"
              },
              {
                "id": "success",
                "name": "auth_success",
                "value": "={{ $json.success }}",
                "type": "boolean"
              },
              {
                "id": "access_token",
                "name": "access_token",
                "value": "={{ $json.access_token }}",
                "type": "string"
              },
              {
                "id": "user_email",
                "name": "user_email",
                "value": "={{ $json.user_email }}",
                "type": "string"
              },
              {
                "id": "error",
                "name": "auth_error",
                "value": "={{ $json.error }}",
                "type": "string"
              },
              {
                "id": "document_id",
                "name": "document_id",
                "value": "={{ $('Workflow Input').item.json.document_id }}",
                "type": "string"
              },
              {
                "id": "title",
                "name": "title",
                "value": "={{ $('Workflow Input').item.json.title }}",
                "type": "string"
              },
              {
                "id": "content",
                "name": "content",
                "value": "={{ $('Workflow Input').item.json.content }}",
                "type": "string"
              },
              {
                "id": "folder_id",
                "name": "folder_id",
                "value": "={{ $('Workflow Input').item.json.folder_id }}",
                "type": "string"
              },
              {
                "id": "position",
                "name": "position",
                "value": "={{ $('Workflow Input').item.json.position || 'start' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "check-auth",
        "name": "Check Auth Success",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          910,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "cond-auth",
                "leftValue": "={{ $json.auth_success }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ]
          }
        }
      },
      {
        "id": "auth-failed",
        "name": "Auth Failed Response",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1130,
          520
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "success",
                "name": "success",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "error",
                "name": "error",
                "value": "={{ $json.auth_error || 'Google authentication failed' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "is-get-document",
        "name": "Is Get Document?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1130,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "cond-action",
                "leftValue": "={{ $json.action }}",
                "rightValue": "get_document",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ]
          }
        }
      },
      {
        "id": "is-create-document",
        "name": "Is Create Document?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1350,
          380
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "cond-action",
                "leftValue": "={{ $json.action }}",
                "rightValue": "create_document",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ]
          }
        }
      },
      {
        "id": "is-append-text",
        "name": "Is Append Text?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1570,
          460
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "cond-action",
                "leftValue": "={{ $json.action }}",
                "rightValue": "append_text",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ]
          }
        }
      },
      {
        "id": "is-update-document",
        "name": "Is Update Document?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1790,
          540
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "cond-action",
                "leftValue": "={{ $json.action }}",
                "rightValue": "update_document",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ]
          }
        }
      },
      {
        "id": "is-insert-text",
        "name": "Is Insert Text?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2010,
          620
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "cond-action",
                "leftValue": "={{ $json.action }}",
                "rightValue": "insert_text",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ]
          }
        }
      },
      {
        "id": "is-get-metadata",
        "name": "Is Get Metadata?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2230,
          700
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "cond-action",
                "leftValue": "={{ $json.action }}",
                "rightValue": "get_metadata",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ]
          }
        }
      },
      {
        "id": "get-document",
        "name": "Get Document API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1350,
          140
        ],
        "parameters": {
          "method": "GET",
          "url": "=https://docs.googleapis.com/v1/documents/{{ $json.document_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $json.access_token }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "format-get-document",
        "name": "Format Get Document",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1570,
          140
        ],
        "parameters": {
          "jsCode": "const doc = $input.first().json;\n\nlet text = '';\nif (doc.body?.content) {\n  for (const element of doc.body.content) {\n    if (element.paragraph?.elements) {\n      for (const textElement of element.paragraph.elements) {\n        if (textElement.textRun?.content) {\n          text += textElement.textRun.content;\n        }\n      }\n    }\n  }\n}\n\nreturn [{\n  json: {\n    success: true,\n    action: 'get_document',\n    document_id: doc.documentId,\n    title: doc.title,\n    text: text.trim(),\n    revision_id: doc.revisionId,\n    document_url: `https://docs.google.com/document/d/${doc.documentId}/edit`\n  }\n}];"
        }
      },
      {
        "id": "create-document",
        "name": "Create Document API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1570,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://docs.googleapis.com/v1/documents",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $json.access_token }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "title",
                "value": "={{ $json.title || 'Untitled Document' }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "add-initial-content",
        "name": "Add Initial Content?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1790,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "cond-content",
                "leftValue": "={{ $('Merge Input Context').item.json.content }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ]
          }
        }
      },
      {
        "id": "append-initial-content",
        "name": "Append Initial Content",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2010,
          240
        ],
        "parameters": {
          "method": "POST",
          "url": "=https://docs.googleapis.com/v1/documents/{{ $('Create Document API').item.json.documentId }}:batchUpdate",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Merge Input Context').item.json.access_token }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "requests",
                "value": "={{ [{ insertText: { location: { index: 1 }, text: $('Merge Input Context').item.json.content } }] }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "format-create-document",
        "name": "Format Create Document",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2230,
          300
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "success",
                "name": "success",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "action",
                "name": "action",
                "value": "create_document",
                "type": "string"
              },
              {
                "id": "document_id",
                "name": "document_id",
                "value": "={{ $('Create Document API').item.json.documentId }}",
                "type": "string"
              },
              {
                "id": "title",
                "name": "title",
                "value": "={{ $('Create Document API').item.json.title }}",
                "type": "string"
              },
              {
                "id": "document_url",
                "name": "document_url",
                "value": "=https://docs.google.com/document/d/{{ $('Create Document API').item.json.documentId }}/edit",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "get-doc-for-append",
        "name": "Get Doc End Index",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1790,
          460
        ],
        "parameters": {
          "method": "GET",
          "url": "=https://docs.googleapis.com/v1/documents/{{ $json.document_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $json.access_token }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "append-text",
        "name": "Append Text API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2010,
          460
        ],
        "parameters": {
          "method": "POST",
          "url": "=https://docs.googleapis.com/v1/documents/{{ $('Merge Input Context').item.json.document_id }}:batchUpdate",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Merge Input Context').item.json.access_token }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "requests",
                "value": "={{ [{ insertText: { endOfSegmentLocation: {}, text: '\\n' + $('Merge Input Context').item.json.content } }] }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "format-append-text",
        "name": "Format Append Text",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2230,
          460
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "success",
                "name": "success",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "action",
                "name": "action",
                "value": "append_text",
                "type": "string"
              },
              {
                "id": "document_id",
                "name": "document_id",
                "value": "={{ $('Merge Input Context').item.json.document_id }}",
                "type": "string"
              },
              {
                "id": "appended_text",
                "name": "appended_text",
                "value": "={{ $('Merge Input Context').item.json.content }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "get-doc-for-update",
        "name": "Get Doc For Update",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2010,
          540
        ],
        "parameters": {
          "method": "GET",
          "url": "=https://docs.googleapis.com/v1/documents/{{ $json.document_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $json.access_token }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "update-document-api",
        "name": "Update Document API",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2230,
          540
        ],
        "parameters": {
          "jsCode": "const doc = $input.first().json;\nconst context = $('Merge Input Context').item.json;\n\n// Find end index from document body\nlet endIndex = 1;\nif (doc.body?.content) {\n  const lastElement = doc.body.content[doc.body.content.length - 1];\n  if (lastElement?.endIndex) {\n    endIndex = lastElement.endIndex;\n  }\n}\n\nconst previousLength = endIndex - 1;\nconst newContent = context.content;\n\n// Build requests array - delete existing content then insert new\nconst requests = [];\n\n// Only delete if there's content to delete (endIndex > 2 means there's actual content)\nif (endIndex > 2) {\n  requests.push({\n    deleteContentRange: {\n      range: {\n        startIndex: 1,\n        endIndex: endIndex - 1\n      }\n    }\n  });\n}\n\n// Insert new content\nrequests.push({\n  insertText: {\n    location: { index: 1 },\n    text: newContent\n  }\n});\n\n// Make the batchUpdate API call\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `https://docs.googleapis.com/v1/documents/${context.document_id}:batchUpdate`,\n  headers: {\n    'Authorization': `Bearer ${context.access_token}`,\n    'Content-Type': 'application/json'\n  },\n  body: { requests }\n});\n\nreturn [{\n  json: {\n    success: true,\n    action: 'update_document',\n    document_id: context.document_id,\n    document_url: `https://docs.google.com/document/d/${context.document_id}/edit`,\n    previous_length: previousLength,\n    new_length: newContent.length\n  }\n}];"
        }
      },
      {
        "id": "get-doc-for-insert",
        "name": "Get Doc For Insert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2230,
          620
        ],
        "parameters": {
          "method": "GET",
          "url": "=https://docs.googleapis.com/v1/documents/{{ $json.document_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $json.access_token }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "insert-text-api",
        "name": "Insert Text API",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2450,
          620
        ],
        "parameters": {
          "jsCode": "const doc = $input.first().json;\nconst context = $('Merge Input Context').item.json;\n\nconst content = context.content;\nconst position = context.position || 'start';\n\n// Determine insertion location\nlet insertRequest;\nlet insertedAt;\n\nif (position === 'end') {\n  // Use endOfSegmentLocation for end insertion\n  insertRequest = {\n    insertText: {\n      endOfSegmentLocation: {},\n      text: content\n    }\n  };\n  insertedAt = 'end';\n} else if (position === 'start') {\n  // Insert at beginning (index 1)\n  insertRequest = {\n    insertText: {\n      location: { index: 1 },\n      text: content\n    }\n  };\n  insertedAt = 1;\n} else {\n  // Numeric index\n  const index = parseInt(position, 10);\n  insertRequest = {\n    insertText: {\n      location: { index: index },\n      text: content\n    }\n  };\n  insertedAt = index;\n}\n\n// Make the batchUpdate API call\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `https://docs.googleapis.com/v1/documents/${context.document_id}:batchUpdate`,\n  headers: {\n    'Authorization': `Bearer ${context.access_token}`,\n    'Content-Type': 'application/json'\n  },\n  body: { requests: [insertRequest] }\n});\n\nreturn [{\n  json: {\n    success: true,\n    action: 'insert_text',\n    document_id: context.document_id,\n    inserted_at: insertedAt,\n    character_count: content.length\n  }\n}];"
        }
      },
      {
        "id": "get-metadata-api",
        "name": "Get Metadata API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2450,
          700
        ],
        "parameters": {
          "method": "GET",
          "url": "=https://docs.googleapis.com/v1/documents/{{ $json.document_id }}?fields=documentId,title,revisionId",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $json.access_token }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "format-get-metadata",
        "name": "Format Get Metadata",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2670,
          700
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "success",
                "name": "success",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "action",
                "name": "action",
                "value": "get_metadata",
                "type": "string"
              },
              {
                "id": "document_id",
                "name": "document_id",
                "value": "={{ $json.documentId }}",
                "type": "string"
              },
              {
                "id": "title",
                "name": "title",
                "value": "={{ $json.title }}",
                "type": "string"
              },
              {
                "id": "revision_id",
                "name": "revision_id",
                "value": "={{ $json.revisionId }}",
                "type": "string"
              },
              {
                "id": "document_url",
                "name": "document_url",
                "value": "=https://docs.google.com/document/d/{{ $json.documentId }}/edit",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "invalid-action",
        "name": "Invalid Action",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2450,
          780
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "success",
                "name": "success",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "error",
                "name": "error",
                "value": "=Invalid action '{{ $json.action }}'. Valid actions: get_document, create_document, append_text, update_document, insert_text, get_metadata",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "Workflow Input": {
        "main": [
          [
            {
              "node": "Get Google Auth",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Google Auth": {
        "main": [
          [
            {
              "node": "Merge Input Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Input Context": {
        "main": [
          [
            {
              "node": "Check Auth Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Auth Success": {
        "main": [
          [
            {
              "node": "Is Get Document?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Auth Failed Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Get Document?": {
        "main": [
          [
            {
              "node": "Get Document API",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is Create Document?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Create Document?": {
        "main": [
          [
            {
              "node": "Create Document API",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is Append Text?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Append Text?": {
        "main": [
          [
            {
              "node": "Get Doc End Index",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is Update Document?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Update Document?": {
        "main": [
          [
            {
              "node": "Get Doc For Update",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is Insert Text?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Insert Text?": {
        "main": [
          [
            {
              "node": "Get Doc For Insert",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is Get Metadata?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Get Metadata?": {
        "main": [
          [
            {
              "node": "Get Metadata API",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Invalid Action",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Document API": {
        "main": [
          [
            {
              "node": "Format Get Document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Document API": {
        "main": [
          [
            {
              "node": "Add Initial Content?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add Initial Content?": {
        "main": [
          [
            {
              "node": "Append Initial Content",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Create Document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append Initial Content": {
        "main": [
          [
            {
              "node": "Format Create Document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Doc End Index": {
        "main": [
          [
            {
              "node": "Append Text API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append Text API": {
        "main": [
          [
            {
              "node": "Format Append Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Doc For Update": {
        "main": [
          [
            {
              "node": "Update Document API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Doc For Insert": {
        "main": [
          [
            {
              "node": "Insert Text API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Metadata API": {
        "main": [
          [
            {
              "node": "Format Get Metadata",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Spencer Marx",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-05T14:12:36.254Z",
        "id": 281,
        "workflowId": "ZUMZ7oNUzDRDnFft",
        "versionId": "126234c9-fe67-4247-b3f5-815fe4400e2f",
        "event": "activated",
        "userId": "e498ff06-ba9d-4721-8454-492195be8229"
      }
    ]
  }
}
