alfred/workflows/tools/google_auth.json
{
  "updatedAt": "2026-02-03T13:57:33.323Z",
  "createdAt": "2026-02-03T12:33:57.204Z",
  "id": "S8GWoOTCaSqyc5bj",
  "name": "🔐 Tool | Google Auth",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "slack_user_id",
              "type": "string"
            },
            {
              "name": "scopes",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "lookup-user",
      "name": "Lookup User Auth",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        470,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT email, google_auth_method, google_calendar_credential_id, gmail_credential_id, google_docs_credential_id, google_sheets_credential_id, google_drive_credential_id FROM alfred.users WHERE slack_user_id = '{{ $json.slack_user_id }}'",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "8nTSHxonyIBczkvN",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "check-auth-method",
      "name": "Check Auth Method",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        690,
        300
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.google_auth_method }}",
                    "rightValue": "service_account",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "service_account"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.google_auth_method }}",
                    "rightValue": "oauth_credential",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "oauth_credential"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "generate-jwt",
      "name": "Generate JWT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        140
      ],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\n// Get service account key from environment variable\nconst keyBase64 = $env.GOOGLE_SERVICE_ACCOUNT_KEY;\nif (!keyBase64) {\n  throw new Error('GOOGLE_SERVICE_ACCOUNT_KEY environment variable not set');\n}\n\n// Parse the service account key\nconst keyJson = JSON.parse(Buffer.from(keyBase64, 'base64').toString('utf8'));\nconst privateKey = keyJson.private_key;\nconst serviceAccountEmail = keyJson.client_email;\n\n// Get user email to impersonate and scopes\nconst userEmail = $input.first().json.email;\nconst scopes = $('Workflow Input').first().json.scopes || 'https://www.googleapis.com/auth/calendar';\n\n// JWT Header\nconst header = {\n  alg: 'RS256',\n  typ: 'JWT'\n};\n\n// JWT Payload\nconst now = Math.floor(Date.now() / 1000);\nconst payload = {\n  iss: serviceAccountEmail,\n  sub: userEmail,  // Impersonate this user\n  aud: 'https://oauth2.googleapis.com/token',\n  iat: now,\n  exp: now + 3600,\n  scope: scopes\n};\n\n// Base64url encode function\nfunction base64url(data) {\n  return Buffer.from(JSON.stringify(data))\n    .toString('base64')\n    .replace(/=/g, '')\n    .replace(/\\+/g, '-')\n    .replace(/\\//g, '_');\n}\n\n// Create signature input\nconst signatureInput = base64url(header) + '.' + base64url(payload);\n\n// Sign with RS256\nconst sign = crypto.createSign('RSA-SHA256');\nsign.update(signatureInput);\nconst signature = sign.sign(privateKey, 'base64')\n  .replace(/=/g, '')\n  .replace(/\\+/g, '-')\n  .replace(/\\//g, '_');\n\n// Combine to create JWT\nconst jwt = signatureInput + '.' + signature;\n\nreturn [{\n  json: {\n    jwt,\n    user_email: userEmail,\n    service_account: serviceAccountEmail,\n    scopes\n  }\n}];"
      }
    },
    {
      "id": "exchange-token",
      "name": "Exchange for Access Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1130,
        140
      ],
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "urn:ietf:params:oauth:grant-type:jwt-bearer"
            },
            {
              "name": "assertion",
              "value": "={{ $json.jwt }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "format-sa-result",
      "name": "Format Service Account Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1350,
        140
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "auth_method",
              "name": "auth_method",
              "value": "service_account",
              "type": "string"
            },
            {
              "id": "access_token",
              "name": "access_token",
              "value": "={{ $json.access_token }}",
              "type": "string"
            },
            {
              "id": "token_type",
              "name": "token_type",
              "value": "={{ $json.token_type }}",
              "type": "string"
            },
            {
              "id": "expires_in",
              "name": "expires_in",
              "value": "={{ $json.expires_in }}",
              "type": "number"
            },
            {
              "id": "user_email",
              "name": "user_email",
              "value": "={{ $('Generate JWT').item.json.user_email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "format-oauth-result",
      "name": "Format OAuth Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        910,
        300
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "auth_method",
              "name": "auth_method",
              "value": "oauth_credential",
              "type": "string"
            },
            {
              "id": "user_email",
              "name": "user_email",
              "value": "={{ $('Lookup User Auth').item.json.email }}",
              "type": "string"
            },
            {
              "id": "cal_cred",
              "name": "calendar_credential_id",
              "value": "={{ $('Lookup User Auth').item.json.google_calendar_credential_id }}",
              "type": "string"
            },
            {
              "id": "gmail_cred",
              "name": "gmail_credential_id",
              "value": "={{ $('Lookup User Auth').item.json.gmail_credential_id }}",
              "type": "string"
            },
            {
              "id": "docs_cred",
              "name": "docs_credential_id",
              "value": "={{ $('Lookup User Auth').item.json.google_docs_credential_id }}",
              "type": "string"
            },
            {
              "id": "sheets_cred",
              "name": "sheets_credential_id",
              "value": "={{ $('Lookup User Auth').item.json.google_sheets_credential_id }}",
              "type": "string"
            },
            {
              "id": "drive_cred",
              "name": "drive_credential_id",
              "value": "={{ $('Lookup User Auth').item.json.google_drive_credential_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "no-auth-error",
      "name": "No Auth Configured",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        910,
        460
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "auth_method",
              "name": "auth_method",
              "value": "none",
              "type": "string"
            },
            {
              "id": "error",
              "name": "error",
              "value": "No Google authentication configured for this user. Please contact an admin to set up Google access.",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Lookup User Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup User Auth": {
      "main": [
        [
          {
            "node": "Check Auth Method",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth Method": {
      "main": [
        [
          {
            "node": "Generate JWT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format OAuth Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Auth Configured",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate JWT": {
      "main": [
        [
          {
            "node": "Exchange for Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exchange for Access Token": {
      "main": [
        [
          {
            "node": "Format Service Account Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "a8fbecf3-8863-4ebe-9abb-f36c5cdce33d",
  "activeVersionId": "a8fbecf3-8863-4ebe-9abb-f36c5cdce33d",
  "versionCounter": 15,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-03T12:33:57.204Z",
      "createdAt": "2026-02-03T12:33:57.204Z",
      "role": "workflow:owner",
      "workflowId": "S8GWoOTCaSqyc5bj",
      "projectId": "Jd992SEPuokf8o5Z",
      "project": {
        "updatedAt": "2026-02-02T12:27:52.037Z",
        "createdAt": "2026-02-02T12:20:35.714Z",
        "id": "Jd992SEPuokf8o5Z",
        "name": "Spencer Marx <spencer@aclarify.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e498ff06-ba9d-4721-8454-492195be8229",
        "projectRelations": [
          {
            "updatedAt": "2026-02-02T12:20:35.714Z",
            "createdAt": "2026-02-02T12:20:35.714Z",
            "userId": "e498ff06-ba9d-4721-8454-492195be8229",
            "projectId": "Jd992SEPuokf8o5Z",
            "user": {
              "updatedAt": "2026-02-04T07:39:59.721Z",
              "createdAt": "2026-02-02T12:20:29.217Z",
              "id": "e498ff06-ba9d-4721-8454-492195be8229",
              "email": "spencer@aclarify.com",
              "firstName": "Spencer",
              "lastName": "Marx",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-02T12:28:04.495Z",
                "personalization_survey_n8n_version": "2.6.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "KwXRQi320-E6cSKEUFTol",
                "userActivatedAt": 1770049275864
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-03T13:57:33.321Z",
    "createdAt": "2026-02-03T13:57:33.321Z",
    "versionId": "a8fbecf3-8863-4ebe-9abb-f36c5cdce33d",
    "workflowId": "S8GWoOTCaSqyc5bj",
    "nodes": [
      {
        "id": "trigger",
        "name": "Workflow Input",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          250,
          300
        ],
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "slack_user_id",
                "type": "string"
              },
              {
                "name": "scopes",
                "type": "string"
              }
            ]
          }
        }
      },
      {
        "id": "lookup-user",
        "name": "Lookup User Auth",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          470,
          300
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT email, google_auth_method, google_calendar_credential_id, gmail_credential_id, google_docs_credential_id, google_sheets_credential_id, google_drive_credential_id FROM alfred.users WHERE slack_user_id = '{{ $json.slack_user_id }}'",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "8nTSHxonyIBczkvN",
            "name": "Postgres account"
          }
        }
      },
      {
        "id": "check-auth-method",
        "name": "Check Auth Method",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          690,
          300
        ],
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "conditions": [
                    {
                      "leftValue": "={{ $json.google_auth_method }}",
                      "rightValue": "service_account",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "service_account"
              },
              {
                "conditions": {
                  "conditions": [
                    {
                      "leftValue": "={{ $json.google_auth_method }}",
                      "rightValue": "oauth_credential",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "oauth_credential"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        }
      },
      {
        "id": "generate-jwt",
        "name": "Generate JWT",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          910,
          140
        ],
        "parameters": {
          "jsCode": "const crypto = require('crypto');\n\n// Get service account key from environment variable\nconst keyBase64 = $env.GOOGLE_SERVICE_ACCOUNT_KEY;\nif (!keyBase64) {\n  throw new Error('GOOGLE_SERVICE_ACCOUNT_KEY environment variable not set');\n}\n\n// Parse the service account key\nconst keyJson = JSON.parse(Buffer.from(keyBase64, 'base64').toString('utf8'));\nconst privateKey = keyJson.private_key;\nconst serviceAccountEmail = keyJson.client_email;\n\n// Get user email to impersonate and scopes\nconst userEmail = $input.first().json.email;\nconst scopes = $('Workflow Input').first().json.scopes || 'https://www.googleapis.com/auth/calendar';\n\n// JWT Header\nconst header = {\n  alg: 'RS256',\n  typ: 'JWT'\n};\n\n// JWT Payload\nconst now = Math.floor(Date.now() / 1000);\nconst payload = {\n  iss: serviceAccountEmail,\n  sub: userEmail,  // Impersonate this user\n  aud: 'https://oauth2.googleapis.com/token',\n  iat: now,\n  exp: now + 3600,\n  scope: scopes\n};\n\n// Base64url encode function\nfunction base64url(data) {\n  return Buffer.from(JSON.stringify(data))\n    .toString('base64')\n    .replace(/=/g, '')\n    .replace(/\\+/g, '-')\n    .replace(/\\//g, '_');\n}\n\n// Create signature input\nconst signatureInput = base64url(header) + '.' + base64url(payload);\n\n// Sign with RS256\nconst sign = crypto.createSign('RSA-SHA256');\nsign.update(signatureInput);\nconst signature = sign.sign(privateKey, 'base64')\n  .replace(/=/g, '')\n  .replace(/\\+/g, '-')\n  .replace(/\\//g, '_');\n\n// Combine to create JWT\nconst jwt = signatureInput + '.' + signature;\n\nreturn [{\n  json: {\n    jwt,\n    user_email: userEmail,\n    service_account: serviceAccountEmail,\n    scopes\n  }\n}];"
        }
      },
      {
        "id": "exchange-token",
        "name": "Exchange for Access Token",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1130,
          140
        ],
        "parameters": {
          "method": "POST",
          "url": "https://oauth2.googleapis.com/token",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "grant_type",
                "value": "urn:ietf:params:oauth:grant-type:jwt-bearer"
              },
              {
                "name": "assertion",
                "value": "={{ $json.jwt }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "format-sa-result",
        "name": "Format Service Account Result",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1350,
          140
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "success",
                "name": "success",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "auth_method",
                "name": "auth_method",
                "value": "service_account",
                "type": "string"
              },
              {
                "id": "access_token",
                "name": "access_token",
                "value": "={{ $json.access_token }}",
                "type": "string"
              },
              {
                "id": "token_type",
                "name": "token_type",
                "value": "={{ $json.token_type }}",
                "type": "string"
              },
              {
                "id": "expires_in",
                "name": "expires_in",
                "value": "={{ $json.expires_in }}",
                "type": "number"
              },
              {
                "id": "user_email",
                "name": "user_email",
                "value": "={{ $('Generate JWT').item.json.user_email }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "format-oauth-result",
        "name": "Format OAuth Result",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          910,
          300
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "success",
                "name": "success",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "auth_method",
                "name": "auth_method",
                "value": "oauth_credential",
                "type": "string"
              },
              {
                "id": "user_email",
                "name": "user_email",
                "value": "={{ $('Lookup User Auth').item.json.email }}",
                "type": "string"
              },
              {
                "id": "cal_cred",
                "name": "calendar_credential_id",
                "value": "={{ $('Lookup User Auth').item.json.google_calendar_credential_id }}",
                "type": "string"
              },
              {
                "id": "gmail_cred",
                "name": "gmail_credential_id",
                "value": "={{ $('Lookup User Auth').item.json.gmail_credential_id }}",
                "type": "string"
              },
              {
                "id": "docs_cred",
                "name": "docs_credential_id",
                "value": "={{ $('Lookup User Auth').item.json.google_docs_credential_id }}",
                "type": "string"
              },
              {
                "id": "sheets_cred",
                "name": "sheets_credential_id",
                "value": "={{ $('Lookup User Auth').item.json.google_sheets_credential_id }}",
                "type": "string"
              },
              {
                "id": "drive_cred",
                "name": "drive_credential_id",
                "value": "={{ $('Lookup User Auth').item.json.google_drive_credential_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "no-auth-error",
        "name": "No Auth Configured",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          910,
          460
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "success",
                "name": "success",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "auth_method",
                "name": "auth_method",
                "value": "none",
                "type": "string"
              },
              {
                "id": "error",
                "name": "error",
                "value": "No Google authentication configured for this user. Please contact an admin to set up Google access.",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "Workflow Input": {
        "main": [
          [
            {
              "node": "Lookup User Auth",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lookup User Auth": {
        "main": [
          [
            {
              "node": "Check Auth Method",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Auth Method": {
        "main": [
          [
            {
              "node": "Generate JWT",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format OAuth Result",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Auth Configured",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate JWT": {
        "main": [
          [
            {
              "node": "Exchange for Access Token",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Exchange for Access Token": {
        "main": [
          [
            {
              "node": "Format Service Account Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Spencer Marx",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-03T13:57:33.467Z",
        "id": 69,
        "workflowId": "S8GWoOTCaSqyc5bj",
        "versionId": "a8fbecf3-8863-4ebe-9abb-f36c5cdce33d",
        "event": "activated",
        "userId": "e498ff06-ba9d-4721-8454-492195be8229"
      }
    ]
  }
}
