alfred/workflows/tools/slack_message.json
{
  "id": "B7vIQscroN53icOa",
  "name": "\ud83d\udce2 Tool | Slack Message",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "workflow-input",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        256,
        192
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "channel",
              "type": "string"
            },
            {
              "name": "message",
              "type": "string"
            },
            {
              "name": "thread_ts",
              "type": "string"
            },
            {
              "name": "slack_user_id",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        192
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst channel = input.channel;\nconst message = input.message;\nconst threadTs = input.thread_ts || null;\nconst slackUserId = input.slack_user_id;\n\n// Validate required fields\nif (!channel) {\n  return [{\n    json: {\n      valid: false,\n      error: 'Channel is required. Provide a channel name (e.g., #general) or channel ID.',\n      action: 'send_message'\n    }\n  }];\n}\n\nif (!message) {\n  return [{\n    json: {\n      valid: false,\n      error: 'Message content is required.',\n      action: 'send_message'\n    }\n  }];\n}\n\n// Clean channel name - remove # if present\nlet cleanChannel = channel.trim();\nif (cleanChannel.startsWith('#')) {\n  cleanChannel = cleanChannel.substring(1);\n}\n\nreturn [{\n  json: {\n    valid: true,\n    channel: cleanChannel,\n    message: message,\n    thread_ts: threadTs,\n    slack_user_id: slackUserId\n  }\n}];"
      }
    },
    {
      "id": "check-valid",
      "name": "Check Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        704,
        192
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "format-message",
      "name": "Format for Slack",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        928,
        96
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "p8NeRHTMtdAqbPBk"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $json.message }}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "prepare-message",
      "name": "Prepare Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        96
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "channel",
              "name": "channel",
              "value": "={{ $('Validate Input').item.json.channel }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.formatted }}",
              "type": "string"
            },
            {
              "id": "thread_ts",
              "name": "thread_ts",
              "value": "={{ $('Validate Input').item.json.thread_ts }}",
              "type": "string"
            },
            {
              "id": "slack_user_id",
              "name": "slack_user_id",
              "value": "={{ $('Validate Input').item.json.slack_user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "check-thread",
      "name": "Check Thread",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1376,
        96
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "thread-check",
              "leftValue": "={{ $json.thread_ts }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "format-thread-success",
      "name": "Format Thread Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": "={{ $json.success }}",
              "type": "boolean"
            },
            {
              "id": "action",
              "name": "action",
              "value": "send_message",
              "type": "string"
            },
            {
              "id": "channel",
              "name": "channel",
              "value": "={{ $json.channel }}",
              "type": "string"
            },
            {
              "id": "message_ts",
              "name": "message_ts",
              "value": "={{ $json.ts }}",
              "type": "string"
            },
            {
              "id": "thread_ts",
              "name": "thread_ts",
              "value": "={{ $('Prepare Message').item.json.thread_ts }}",
              "type": "string"
            },
            {
              "id": "message_sent",
              "name": "message_sent",
              "value": "={{ $json.success ? 'Message sent successfully as a reply in the thread.' : 'Failed to send message: ' + ($json.error || 'Unknown error') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "format-success",
      "name": "Format Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        192
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": "={{ $json.success }}",
              "type": "boolean"
            },
            {
              "id": "action",
              "name": "action",
              "value": "send_message",
              "type": "string"
            },
            {
              "id": "channel",
              "name": "channel",
              "value": "={{ $json.channel }}",
              "type": "string"
            },
            {
              "id": "message_ts",
              "name": "message_ts",
              "value": "={{ $json.ts }}",
              "type": "string"
            },
            {
              "id": "message_sent",
              "name": "message_sent",
              "value": "={{ $json.success ? 'Message sent successfully to the channel.' : 'Failed to send message: ' + ($json.error || 'Unknown error') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        288
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "passthrough",
              "name": "=",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "call-slack-service-thread",
      "name": "Send Threaded Message",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        0
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "xbFJVyUFvGfUbY4s"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "post_thread",
            "channel_id": "={{ $json.channel }}",
            "thread_ts": "={{ $json.thread_ts }}",
            "text": "={{ $json.message }}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "call-slack-service-channel",
      "name": "Send Slack Message",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        192
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "xbFJVyUFvGfUbY4s"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "post_message",
            "channel_id": "={{ $json.channel }}",
            "text": "={{ $json.message }}"
          }
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Check Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Valid": {
      "main": [
        [
          {
            "node": "Format for Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Slack": {
      "main": [
        [
          {
            "node": "Prepare Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Message": {
      "main": [
        [
          {
            "node": "Check Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Thread": {
      "main": [
        [
          {
            "node": "Send Threaded Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Threaded Message": {
      "main": [
        [
          {
            "node": "Format Thread Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Message": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": null,
  "activeVersionId": "10ac8f9d-7b9b-4dc0-9540-4bbbddd61e16",
  "versionCounter": 38,
  "triggerCount": 0,
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-04T19:12:01.305Z",
    "createdAt": "2026-02-04T19:12:01.305Z",
    "versionId": "10ac8f9d-7b9b-4dc0-9540-4bbbddd61e16",
    "workflowId": "B7vIQscroN53icOa",
    "nodes": [
      {
        "id": "workflow-input",
        "name": "Workflow Input",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          256,
          192
        ],
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "channel",
                "type": "string"
              },
              {
                "name": "message",
                "type": "string"
              },
              {
                "name": "thread_ts",
                "type": "string"
              },
              {
                "name": "slack_user_id",
                "type": "string"
              }
            ]
          }
        }
      },
      {
        "id": "validate-input",
        "name": "Validate Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          192
        ],
        "parameters": {
          "jsCode": "const input = $input.first().json;\n\nconst channel = input.channel;\nconst message = input.message;\nconst threadTs = input.thread_ts || null;\nconst slackUserId = input.slack_user_id;\n\n// Validate required fields\nif (!channel) {\n  return [{\n    json: {\n      valid: false,\n      error: 'Channel is required. Provide a channel name (e.g., #general) or channel ID.',\n      action: 'send_message'\n    }\n  }];\n}\n\nif (!message) {\n  return [{\n    json: {\n      valid: false,\n      error: 'Message content is required.',\n      action: 'send_message'\n    }\n  }];\n}\n\n// Clean channel name - remove # if present\nlet cleanChannel = channel.trim();\nif (cleanChannel.startsWith('#')) {\n  cleanChannel = cleanChannel.substring(1);\n}\n\nreturn [{\n  json: {\n    valid: true,\n    channel: cleanChannel,\n    message: message,\n    thread_ts: threadTs,\n    slack_user_id: slackUserId\n  }\n}];"
        }
      },
      {
        "id": "check-valid",
        "name": "Check Valid",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          704,
          192
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "valid-check",
                "leftValue": "={{ $json.valid }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "format-message",
        "name": "Format for Slack",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          928,
          96
        ],
        "parameters": {
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "p8NeRHTMtdAqbPBk"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "text": "={{ $json.message }}"
            }
          },
          "options": {}
        }
      },
      {
        "id": "prepare-message",
        "name": "Prepare Message",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1152,
          96
        ],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "channel",
                "name": "channel",
                "value": "={{ $('Validate Input').item.json.channel }}",
                "type": "string"
              },
              {
                "id": "message",
                "name": "message",
                "value": "={{ $json.formatted }}",
                "type": "string"
              },
              {
                "id": "thread_ts",
                "name": "thread_ts",
                "value": "={{ $('Validate Input').item.json.thread_ts }}",
                "type": "string"
              },
              {
                "id": "slack_user_id",
                "name": "slack_user_id",
                "value": "={{ $('Validate Input').item.json.slack_user_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "check-thread",
        "name": "Check Thread",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1376,
          96
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "thread-check",
                "leftValue": "={{ $json.thread_ts }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "format-thread-success",
        "name": "Format Thread Success",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1824,
          0
        ],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "success",
                "name": "success",
                "value": "={{ $json.success }}",
                "type": "boolean"
              },
              {
                "id": "action",
                "name": "action",
                "value": "send_message",
                "type": "string"
              },
              {
                "id": "channel",
                "name": "channel",
                "value": "={{ $json.channel }}",
                "type": "string"
              },
              {
                "id": "message_ts",
                "name": "message_ts",
                "value": "={{ $json.ts }}",
                "type": "string"
              },
              {
                "id": "thread_ts",
                "name": "thread_ts",
                "value": "={{ $('Prepare Message').item.json.thread_ts }}",
                "type": "string"
              },
              {
                "id": "message_sent",
                "name": "message_sent",
                "value": "={{ $json.success ? 'Message sent successfully as a reply in the thread.' : 'Failed to send message: ' + ($json.error || 'Unknown error') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "format-success",
        "name": "Format Success",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1824,
          192
        ],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "success",
                "name": "success",
                "value": "={{ $json.success }}",
                "type": "boolean"
              },
              {
                "id": "action",
                "name": "action",
                "value": "send_message",
                "type": "string"
              },
              {
                "id": "channel",
                "name": "channel",
                "value": "={{ $json.channel }}",
                "type": "string"
              },
              {
                "id": "message_ts",
                "name": "message_ts",
                "value": "={{ $json.ts }}",
                "type": "string"
              },
              {
                "id": "message_sent",
                "name": "message_sent",
                "value": "={{ $json.success ? 'Message sent successfully to the channel.' : 'Failed to send message: ' + ($json.error || 'Unknown error') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "error-response",
        "name": "Error Response",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          928,
          288
        ],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "passthrough",
                "name": "=",
                "value": "={{ $json }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "call-slack-service-thread",
        "name": "Send Threaded Message",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1600,
          0
        ],
        "parameters": {
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "xbFJVyUFvGfUbY4s"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "post_thread",
              "channel_id": "={{ $json.channel }}",
              "thread_ts": "={{ $json.thread_ts }}",
              "text": "={{ $json.message }}"
            }
          },
          "options": {}
        }
      },
      {
        "id": "call-slack-service-channel",
        "name": "Send Slack Message",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1600,
          192
        ],
        "parameters": {
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "xbFJVyUFvGfUbY4s"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "post_message",
              "channel_id": "={{ $json.channel }}",
              "text": "={{ $json.message }}"
            }
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "Workflow Input": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Input": {
        "main": [
          [
            {
              "node": "Check Valid",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Valid": {
        "main": [
          [
            {
              "node": "Format for Slack",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format for Slack": {
        "main": [
          [
            {
              "node": "Prepare Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Message": {
        "main": [
          [
            {
              "node": "Check Thread",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Thread": {
        "main": [
          [
            {
              "node": "Send Threaded Message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Slack Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Threaded Message": {
        "main": [
          [
            {
              "node": "Format Thread Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Slack Message": {
        "main": [
          [
            {
              "node": "Format Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Spencer Marx",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-04T19:12:01.440Z",
        "id": 248,
        "workflowId": "B7vIQscroN53icOa",
        "versionId": "10ac8f9d-7b9b-4dc0-9540-4bbbddd61e16",
        "event": "activated",
        "userId": "e498ff06-ba9d-4721-8454-492195be8229"
      }
    ]
  }
}
