alfred/workflows/tools/update_user_preferences.json
{
  "updatedAt": "2026-02-03T23:48:11.855Z",
  "createdAt": "2026-02-03T11:35:31.882Z",
  "id": "XQIgdUEsFw2nH6a7",
  "name": "🔧 Tool | Update User Preferences",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "slack_user_id",
              "type": "string"
            },
            {
              "name": "preference_key",
              "type": "string"
            },
            {
              "name": "preference_value",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst key = input.preference_key;\nconst value = input.preference_value;\n\n// Define allowed root-level preferences and their types\nconst allowedPreferences = {\n  'timezone': { type: 'string', description: 'IANA timezone (e.g., America/New_York)' },\n  'personality': { type: 'enum', values: ['alfred', 'donna', 'jarvis', 'jim'], description: 'AI personality' },\n  'verbosity': { type: 'enum', values: ['concise', 'detailed'], description: 'Response verbosity' },\n  'proactive_notifications': { type: 'boolean', description: 'Allow proactive notifications' }\n};\n\n// Check if key is allowed\nif (!allowedPreferences[key]) {\n  const allowedKeys = Object.keys(allowedPreferences).join(', ');\n  return [{\n    json: {\n      is_valid: false,\n      error: `Invalid preference key '${key}'. Allowed keys: ${allowedKeys}. For daily_schedule settings, use the Daily Schedule Preferences tool.`\n    }\n  }];\n}\n\nconst pref = allowedPreferences[key];\nlet parsedValue = value;\n\n// Type validation and parsing\nif (pref.type === 'boolean') {\n  if (value === 'true' || value === true) parsedValue = true;\n  else if (value === 'false' || value === false) parsedValue = false;\n  else {\n    return [{\n      json: {\n        is_valid: false,\n        error: `Invalid value for '${key}'. Expected true or false.`\n      }\n    }];\n  }\n} else if (pref.type === 'enum') {\n  if (!pref.values.includes(value)) {\n    return [{\n      json: {\n        is_valid: false,\n        error: `Invalid value '${value}' for '${key}'. Allowed values: ${pref.values.join(', ')}`\n      }\n    }];\n  }\n  parsedValue = value;\n} else {\n  parsedValue = value;\n}\n\nreturn [{\n  json: {\n    is_valid: true,\n    slack_user_id: input.slack_user_id,\n    preference_key: key,\n    preference_value: parsedValue,\n    value_type: pref.type === 'boolean' ? 'boolean' : 'string'\n  }\n}];"
      }
    },
    {
      "id": "check-valid",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        650,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.is_valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "update-prefs",
      "name": "Update Preferences",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        850,
        240
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE alfred.users\nSET preferences = \n  CASE \n    WHEN '{{ $json.value_type }}' = 'boolean' THEN\n      jsonb_set(COALESCE(preferences, '{}'::jsonb), ARRAY['{{ $json.preference_key }}'], '{{ $json.preference_value }}'::jsonb)\n    ELSE\n      jsonb_set(COALESCE(preferences, '{}'::jsonb), ARRAY['{{ $json.preference_key }}'], to_jsonb('{{ $json.preference_value }}'::text))\n  END,\nupdated_at = NOW()\nWHERE slack_user_id = '{{ $json.slack_user_id }}'\nRETURNING slack_user_id, preferences;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "8nTSHxonyIBczkvN",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "format-result",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        240
      ],
      "parameters": {
        "jsCode": "const input = $('Validate Input').first().json;\nconst result = $input.first().json;\n\nif (result && result.slack_user_id) {\n  return [{\n    json: {\n      success: true,\n      message: `Successfully updated ${input.preference_key} to ${input.preference_value}`,\n      updated_preferences: result.preferences\n    }\n  }];\n} else {\n  return [{\n    json: {\n      success: false,\n      message: 'Failed to update preference. User may not exist.'\n    }\n  }];\n}"
      }
    },
    {
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        850,
        380
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Update Preferences",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Preferences": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "fb34d942-bb31-465c-9d35-20b0f69ea58c",
  "activeVersionId": "fb34d942-bb31-465c-9d35-20b0f69ea58c",
  "versionCounter": 18,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-03T11:35:31.882Z",
      "createdAt": "2026-02-03T11:35:31.882Z",
      "role": "workflow:owner",
      "workflowId": "XQIgdUEsFw2nH6a7",
      "projectId": "Jd992SEPuokf8o5Z",
      "project": {
        "updatedAt": "2026-02-02T12:27:52.037Z",
        "createdAt": "2026-02-02T12:20:35.714Z",
        "id": "Jd992SEPuokf8o5Z",
        "name": "Spencer Marx <spencer@aclarify.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e498ff06-ba9d-4721-8454-492195be8229",
        "projectRelations": [
          {
            "updatedAt": "2026-02-02T12:20:35.714Z",
            "createdAt": "2026-02-02T12:20:35.714Z",
            "userId": "e498ff06-ba9d-4721-8454-492195be8229",
            "projectId": "Jd992SEPuokf8o5Z",
            "user": {
              "updatedAt": "2026-02-04T07:39:59.721Z",
              "createdAt": "2026-02-02T12:20:29.217Z",
              "id": "e498ff06-ba9d-4721-8454-492195be8229",
              "email": "spencer@aclarify.com",
              "firstName": "Spencer",
              "lastName": "Marx",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-02T12:28:04.495Z",
                "personalization_survey_n8n_version": "2.6.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "KwXRQi320-E6cSKEUFTol",
                "userActivatedAt": 1770049275864
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-02-03T11:36:39.442Z",
      "createdAt": "2026-02-03T11:36:39.442Z",
      "id": "JulM6KXFcRvPieml",
      "name": "DB Management"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-03T23:48:11.855Z",
    "createdAt": "2026-02-03T23:48:11.855Z",
    "versionId": "fb34d942-bb31-465c-9d35-20b0f69ea58c",
    "workflowId": "XQIgdUEsFw2nH6a7",
    "nodes": [
      {
        "id": "trigger",
        "name": "Workflow Input",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          250,
          300
        ],
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "slack_user_id",
                "type": "string"
              },
              {
                "name": "preference_key",
                "type": "string"
              },
              {
                "name": "preference_value",
                "type": "string"
              }
            ]
          }
        }
      },
      {
        "id": "validate-input",
        "name": "Validate Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          450,
          300
        ],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst key = input.preference_key;\nconst value = input.preference_value;\n\n// Define allowed root-level preferences and their types\nconst allowedPreferences = {\n  'timezone': { type: 'string', description: 'IANA timezone (e.g., America/New_York)' },\n  'personality': { type: 'enum', values: ['alfred', 'donna', 'jarvis', 'jim'], description: 'AI personality' },\n  'verbosity': { type: 'enum', values: ['concise', 'detailed'], description: 'Response verbosity' },\n  'proactive_notifications': { type: 'boolean', description: 'Allow proactive notifications' }\n};\n\n// Check if key is allowed\nif (!allowedPreferences[key]) {\n  const allowedKeys = Object.keys(allowedPreferences).join(', ');\n  return [{\n    json: {\n      is_valid: false,\n      error: `Invalid preference key '${key}'. Allowed keys: ${allowedKeys}. For daily_schedule settings, use the Daily Schedule Preferences tool.`\n    }\n  }];\n}\n\nconst pref = allowedPreferences[key];\nlet parsedValue = value;\n\n// Type validation and parsing\nif (pref.type === 'boolean') {\n  if (value === 'true' || value === true) parsedValue = true;\n  else if (value === 'false' || value === false) parsedValue = false;\n  else {\n    return [{\n      json: {\n        is_valid: false,\n        error: `Invalid value for '${key}'. Expected true or false.`\n      }\n    }];\n  }\n} else if (pref.type === 'enum') {\n  if (!pref.values.includes(value)) {\n    return [{\n      json: {\n        is_valid: false,\n        error: `Invalid value '${value}' for '${key}'. Allowed values: ${pref.values.join(', ')}`\n      }\n    }];\n  }\n  parsedValue = value;\n} else {\n  parsedValue = value;\n}\n\nreturn [{\n  json: {\n    is_valid: true,\n    slack_user_id: input.slack_user_id,\n    preference_key: key,\n    preference_value: parsedValue,\n    value_type: pref.type === 'boolean' ? 'boolean' : 'string'\n  }\n}];"
        }
      },
      {
        "id": "check-valid",
        "name": "Is Valid?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          650,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "leftValue": "={{ $json.is_valid }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ]
          }
        }
      },
      {
        "id": "update-prefs",
        "name": "Update Preferences",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          850,
          240
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE alfred.users\nSET preferences = \n  CASE \n    WHEN '{{ $json.value_type }}' = 'boolean' THEN\n      jsonb_set(COALESCE(preferences, '{}'::jsonb), ARRAY['{{ $json.preference_key }}'], '{{ $json.preference_value }}'::jsonb)\n    ELSE\n      jsonb_set(COALESCE(preferences, '{}'::jsonb), ARRAY['{{ $json.preference_key }}'], to_jsonb('{{ $json.preference_value }}'::text))\n  END,\nupdated_at = NOW()\nWHERE slack_user_id = '{{ $json.slack_user_id }}'\nRETURNING slack_user_id, preferences;",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "8nTSHxonyIBczkvN",
            "name": "Postgres account"
          }
        }
      },
      {
        "id": "format-result",
        "name": "Format Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1050,
          240
        ],
        "parameters": {
          "jsCode": "const input = $('Validate Input').first().json;\nconst result = $input.first().json;\n\nif (result && result.slack_user_id) {\n  return [{\n    json: {\n      success: true,\n      message: `Successfully updated ${input.preference_key} to ${input.preference_value}`,\n      updated_preferences: result.preferences\n    }\n  }];\n} else {\n  return [{\n    json: {\n      success: false,\n      message: 'Failed to update preference. User may not exist.'\n    }\n  }];\n}"
        }
      },
      {
        "id": "error-response",
        "name": "Error Response",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          850,
          380
        ],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "success",
                "name": "success",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "error",
                "name": "error",
                "value": "={{ $json.error }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "Workflow Input": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Input": {
        "main": [
          [
            {
              "node": "Is Valid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Valid?": {
        "main": [
          [
            {
              "node": "Update Preferences",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Preferences": {
        "main": [
          [
            {
              "node": "Format Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Spencer Marx",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-03T23:48:11.980Z",
        "id": 152,
        "workflowId": "XQIgdUEsFw2nH6a7",
        "versionId": "fb34d942-bb31-465c-9d35-20b0f69ea58c",
        "event": "activated",
        "userId": "e498ff06-ba9d-4721-8454-492195be8229"
      }
    ]
  }
}
