alfred/workflows/tools/web_search.json
{
  "id": "F0TUHVEzA79rroyS",
  "name": "\ud83c\udf10 Tool | Web Search",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "context"
            },
            {
              "name": "allowed_domains"
            }
          ]
        }
      },
      "id": "workflow-input",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        256,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst query = input.query;\nconst context = input.context || '';\nconst allowedDomains = input.allowed_domains || '';\n\n// Validate required fields\nif (!query || query.trim() === '') {\n  return [{\n    json: {\n      valid: false,\n      error: 'Search query is required.',\n      action: 'web_search'\n    }\n  }];\n}\n\n// Parse allowed domains if provided\nlet domainsList = [];\nif (allowedDomains && allowedDomains.trim()) {\n  domainsList = allowedDomains.split(',').map(d => d.trim()).filter(d => d.length > 0);\n}\n\nreturn [{\n  json: {\n    valid: true,\n    query: query.trim(),\n    context: context.trim(),\n    allowed_domains: domainsList\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-valid",
      "name": "Check Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        704,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Build the tool configuration\nconst webSearchTool = {\n  type: 'web_search_preview'\n};\n\n// Add domain filtering if specified\nif (input.allowed_domains && input.allowed_domains.length > 0) {\n  webSearchTool.search_context_size = 'medium';\n  webSearchTool.user_location = {\n    type: 'approximate',\n    country: 'US'\n  };\n}\n\n// Build the user message with context if provided\nlet userMessage = input.query;\nif (input.context && input.context.length > 0) {\n  userMessage = `Context: ${input.context}\\n\\nSearch query: ${input.query}`;\n}\n\n// Build the request body\nconst requestBody = {\n  model: 'gpt-4.1',\n  tools: [webSearchTool],\n  input: userMessage\n};\n\nreturn [{\n  json: {\n    requestBody: requestBody,\n    query: input.query,\n    context: input.context,\n    allowed_domains: input.allowed_domains\n  }\n}];"
      },
      "id": "build-request",
      "name": "Build API Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 120000
        }
      },
      "id": "openai-request",
      "name": "Call OpenAI Web Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        96
      ],
      "credentials": {
        "openAiApi": {
          "id": "K0dJSGlrxig3qa2p",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-response",
      "name": "Check API Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1376,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst body = response.body;\nconst originalQuery = $('Build API Request').first().json.query;\n\n// Extract the output from the response\nlet outputText = '';\nlet sources = [];\nlet searchQueries = [];\n\ntry {\n  // Parse the response - OpenAI Responses API format\n  if (body && body.output) {\n    // Get the text output\n    for (const item of body.output) {\n      if (item.type === 'message' && item.content) {\n        for (const content of item.content) {\n          if (content.type === 'output_text') {\n            outputText = content.text || '';\n            \n            // Extract citations from annotations\n            if (content.annotations) {\n              for (const annotation of content.annotations) {\n                if (annotation.type === 'url_citation') {\n                  sources.push({\n                    url: annotation.url,\n                    title: annotation.title || annotation.url\n                  });\n                }\n              }\n            }\n          }\n        }\n      }\n      \n      // Capture search queries used\n      if (item.type === 'web_search_call') {\n        searchQueries.push(item.query || originalQuery);\n      }\n    }\n  }\n  \n  // Deduplicate sources by URL\n  const uniqueSources = [];\n  const seenUrls = new Set();\n  for (const source of sources) {\n    if (!seenUrls.has(source.url)) {\n      seenUrls.add(source.url);\n      uniqueSources.push(source);\n    }\n  }\n  \n  // Format sources for Slack mrkdwn\n  let formattedResult = outputText;\n  \n  if (uniqueSources.length > 0) {\n    formattedResult += '\\n\\n\ud83d\udcda *Sources:*';\n    for (const source of uniqueSources) {\n      formattedResult += `\\n\u2022 <${source.url}|${source.title}>`;\n    }\n  }\n  \n  return [{\n    json: {\n      success: true,\n      result: formattedResult,\n      raw_text: outputText,\n      sources: uniqueSources,\n      search_queries: searchQueries.length > 0 ? searchQueries : [originalQuery],\n      action: 'web_search',\n      query: originalQuery\n    }\n  }];\n  \n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      error: 'Failed to parse search results: ' + error.message,\n      action: 'web_search',\n      query: originalQuery\n    }\n  }];\n}"
      },
      "id": "format-citations",
      "name": "Format Citations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst originalQuery = $('Build API Request').first().json.query;\n\nlet errorMessage = 'Web search failed.';\n\n// Handle specific error cases\nconst statusCode = response.statusCode || 0;\nconst body = response.body || {};\n\nif (statusCode === 429) {\n  errorMessage = 'Rate limit exceeded. Please try again in a moment.';\n} else if (statusCode === 401 || statusCode === 403) {\n  errorMessage = 'API authentication error. Please check configuration.';\n} else if (statusCode >= 500) {\n  errorMessage = 'Search service temporarily unavailable. Please try again.';\n} else if (body.error && body.error.message) {\n  errorMessage = body.error.message;\n}\n\nreturn [{\n  json: {\n    success: false,\n    error: errorMessage,\n    error_type: statusCode === 429 ? 'rate_limit' : statusCode >= 500 ? 'service_error' : 'api_error',\n    action: 'web_search',\n    query: originalQuery\n  }\n}];"
      },
      "id": "api-error",
      "name": "Handle API Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            },
            {
              "id": "action",
              "name": "action",
              "value": "web_search",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "validation-error",
      "name": "Validation Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        288
      ]
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Check Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Valid": {
      "main": [
        [
          {
            "node": "Build API Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build API Request": {
      "main": [
        [
          {
            "node": "Call OpenAI Web Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI Web Search": {
      "main": [
        [
          {
            "node": "Check API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Response": {
      "main": [
        [
          {
            "node": "Format Citations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {
    "Workflow Input": [
      {
        "json": {
          "query": "conversion rate drop per click in booking flow statistics research",
          "context": "Verifying the claim that \"every additional click in a booking flow reduces conversion rates by 10-15%\"",
          "allowed_domains": null
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "activeVersionId": "e6a79920-e528-4a32-970a-25b07435ff86",
  "versionCounter": 25,
  "triggerCount": 0,
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-06T11:51:57.559Z",
    "createdAt": "2026-02-06T11:51:30.562Z",
    "versionId": "e6a79920-e528-4a32-970a-25b07435ff86",
    "workflowId": "F0TUHVEzA79rroyS",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "query"
              },
              {
                "name": "context"
              },
              {
                "name": "allowed_domains"
              }
            ]
          }
        },
        "id": "workflow-input",
        "name": "Workflow Input",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          256,
          192
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\n\nconst query = input.query;\nconst context = input.context || '';\nconst allowedDomains = input.allowed_domains || '';\n\n// Validate required fields\nif (!query || query.trim() === '') {\n  return [{\n    json: {\n      valid: false,\n      error: 'Search query is required.',\n      action: 'web_search'\n    }\n  }];\n}\n\n// Parse allowed domains if provided\nlet domainsList = [];\nif (allowedDomains && allowedDomains.trim()) {\n  domainsList = allowedDomains.split(',').map(d => d.trim()).filter(d => d.length > 0);\n}\n\nreturn [{\n  json: {\n    valid: true,\n    query: query.trim(),\n    context: context.trim(),\n    allowed_domains: domainsList\n  }\n}];"
        },
        "id": "validate-input",
        "name": "Validate Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          192
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "valid-check",
                "leftValue": "={{ $json.valid }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "check-valid",
        "name": "Check Valid",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          704,
          192
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\n\n// Build the tool configuration\nconst webSearchTool = {\n  type: 'web_search_preview'\n};\n\n// Add domain filtering if specified\nif (input.allowed_domains && input.allowed_domains.length > 0) {\n  webSearchTool.search_context_size = 'medium';\n  webSearchTool.user_location = {\n    type: 'approximate',\n    country: 'US'\n  };\n}\n\n// Build the user message with context if provided\nlet userMessage = input.query;\nif (input.context && input.context.length > 0) {\n  userMessage = `Context: ${input.context}\\n\\nSearch query: ${input.query}`;\n}\n\n// Build the request body\nconst requestBody = {\n  model: 'gpt-4.1',\n  tools: [webSearchTool],\n  input: userMessage\n};\n\nreturn [{\n  json: {\n    requestBody: requestBody,\n    query: input.query,\n    context: input.context,\n    allowed_domains: input.allowed_domains\n  }\n}];"
        },
        "id": "build-request",
        "name": "Build API Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          928,
          96
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/responses",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            },
            "timeout": 120000
          }
        },
        "id": "openai-request",
        "name": "Call OpenAI Web Search",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1152,
          96
        ],
        "credentials": {
          "openAiApi": {
            "id": "K0dJSGlrxig3qa2p",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "status-check",
                "leftValue": "={{ $json.statusCode }}",
                "rightValue": 200,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "check-response",
        "name": "Check API Response",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1376,
          96
        ]
      },
      {
        "parameters": {
          "jsCode": "const response = $input.first().json;\nconst body = response.body;\nconst originalQuery = $('Build API Request').first().json.query;\n\n// Extract the output from the response\nlet outputText = '';\nlet sources = [];\nlet searchQueries = [];\n\ntry {\n  // Parse the response - OpenAI Responses API format\n  if (body && body.output) {\n    // Get the text output\n    for (const item of body.output) {\n      if (item.type === 'message' && item.content) {\n        for (const content of item.content) {\n          if (content.type === 'output_text') {\n            outputText = content.text || '';\n            \n            // Extract citations from annotations\n            if (content.annotations) {\n              for (const annotation of content.annotations) {\n                if (annotation.type === 'url_citation') {\n                  sources.push({\n                    url: annotation.url,\n                    title: annotation.title || annotation.url\n                  });\n                }\n              }\n            }\n          }\n        }\n      }\n      \n      // Capture search queries used\n      if (item.type === 'web_search_call') {\n        searchQueries.push(item.query || originalQuery);\n      }\n    }\n  }\n  \n  // Deduplicate sources by URL\n  const uniqueSources = [];\n  const seenUrls = new Set();\n  for (const source of sources) {\n    if (!seenUrls.has(source.url)) {\n      seenUrls.add(source.url);\n      uniqueSources.push(source);\n    }\n  }\n  \n  // Format sources for Slack mrkdwn\n  let formattedResult = outputText;\n  \n  if (uniqueSources.length > 0) {\n    formattedResult += '\\n\\n\ud83d\udcda *Sources:*';\n    for (const source of uniqueSources) {\n      formattedResult += `\\n\u2022 <${source.url}|${source.title}>`;\n    }\n  }\n  \n  return [{\n    json: {\n      success: true,\n      result: formattedResult,\n      raw_text: outputText,\n      sources: uniqueSources,\n      search_queries: searchQueries.length > 0 ? searchQueries : [originalQuery],\n      action: 'web_search',\n      query: originalQuery\n    }\n  }];\n  \n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      error: 'Failed to parse search results: ' + error.message,\n      action: 'web_search',\n      query: originalQuery\n    }\n  }];\n}"
        },
        "id": "format-citations",
        "name": "Format Citations",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1600,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const response = $input.first().json;\nconst originalQuery = $('Build API Request').first().json.query;\n\nlet errorMessage = 'Web search failed.';\n\n// Handle specific error cases\nconst statusCode = response.statusCode || 0;\nconst body = response.body || {};\n\nif (statusCode === 429) {\n  errorMessage = 'Rate limit exceeded. Please try again in a moment.';\n} else if (statusCode === 401 || statusCode === 403) {\n  errorMessage = 'API authentication error. Please check configuration.';\n} else if (statusCode >= 500) {\n  errorMessage = 'Search service temporarily unavailable. Please try again.';\n} else if (body.error && body.error.message) {\n  errorMessage = body.error.message;\n}\n\nreturn [{\n  json: {\n    success: false,\n    error: errorMessage,\n    error_type: statusCode === 429 ? 'rate_limit' : statusCode >= 500 ? 'service_error' : 'api_error',\n    action: 'web_search',\n    query: originalQuery\n  }\n}];"
        },
        "id": "api-error",
        "name": "Handle API Error",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1600,
          192
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "success",
                "name": "success",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "error",
                "name": "error",
                "value": "={{ $json.error }}",
                "type": "string"
              },
              {
                "id": "action",
                "name": "action",
                "value": "web_search",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "validation-error",
        "name": "Validation Error",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          928,
          288
        ]
      }
    ],
    "connections": {
      "Workflow Input": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Input": {
        "main": [
          [
            {
              "node": "Check Valid",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Valid": {
        "main": [
          [
            {
              "node": "Build API Request",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Validation Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build API Request": {
        "main": [
          [
            {
              "node": "Call OpenAI Web Search",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call OpenAI Web Search": {
        "main": [
          [
            {
              "node": "Check API Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check API Response": {
        "main": [
          [
            {
              "node": "Format Citations",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Handle API Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Spencer Marx",
    "name": "Version e6a79920",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-06T11:51:57.552Z",
        "id": 433,
        "workflowId": "F0TUHVEzA79rroyS",
        "versionId": "e6a79920-e528-4a32-970a-25b07435ff86",
        "event": "activated",
        "userId": "e498ff06-ba9d-4721-8454-492195be8229"
      }
    ]
  }
}
