alfred/workflows/utilities/generate_and_send_ack.json
{
    "updatedAt": "2026-02-09T14:43:18.981Z",
    "createdAt": "2026-02-05T16:14:38.486Z",
    "id": "r620xYkkbiShXhxp",
    "name": "🔧 Utility | Generate and Send Ack",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "id": "trigger",
            "name": "Workflow Input",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1.1,
            "position": [
                200,
                300
            ],
            "parameters": {
                "workflowInputs": {
                    "values": [
                        {
                            "name": "user_request",
                            "type": "string"
                        },
                        {
                            "name": "personality_prompt",
                            "type": "string"
                        },
                        {
                            "name": "slack_context",
                            "type": "string"
                        }
                    ]
                }
            }
        },
        {
            "id": "generate-ack",
            "name": "Generate Ack Message",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                420,
                300
            ],
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.personality_prompt }}\n\n---\n\nThe user just sent this request:\n\"{{ $json.user_request }}\"\n\nContext clues for your ack:\n- If the request mentions feedback, revisions, changes, or refers to previous content → this is a REVISION of existing work\n- If the request is about creating new content from scratch → this is a NEW task\n- If the request is about scheduling, emails, or utility tasks → match the specific task type\n\nGenerate a brief acknowledgment message (1-2 sentences max) to let them know you are on it.\n\nIMPORTANT RULES:\n- Stay in character with the personality above\n- Be brief and confident\n- Do not explain what you are going to do in detail\n- Do not be generic or robotic\n- Match the ack to the task type — revision acks should mention revising, new content acks should mention creating\n- Mention that updates will be coming\n\nGood examples for NEW tasks:\n- On it. Marketing team is assembling - I will keep you posted.\n- Got it. Pulling in the content crew now. Updates coming.\n\nGood examples for REVISIONS:\n- On it — revising based on your feedback. Updates incoming.\n- Got it. Reworking the draft now. Stand by.\n- Noted. Sending your feedback to the team for a revision.\n\nRespond with ONLY the acknowledgment message, nothing else.",
                "hasOutputParser": false,
                "options": {
                    "maxTokens": 100
                }
            }
        },
        {
            "id": "ai-model",
            "name": "Claude Haiku",
            "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
            "typeVersion": 1.3,
            "position": [
                420,
                520
            ],
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "claude-3-5-haiku-latest",
                    "mode": "list"
                },
                "options": {
                    "maxTokensToSample": 100,
                    "temperature": 0.7
                }
            },
            "credentials": {
                "anthropicApi": {
                    "id": "iKUsIHimnjBUibjJ",
                    "name": "Anthropic account"
                }
            }
        },
        {
            "id": "extract-message",
            "name": "Extract Message",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                640,
                300
            ],
            "parameters": {
                "jsCode": "const input = $input.first().json;\nconst generatedAck = input.text || input.output || input.response || '';\nlet message = generatedAck.trim();\nif ((message.startsWith('\"') && message.endsWith('\"')) || (message.startsWith(\"'\") && message.endsWith(\"'\"))) {\n  message = message.slice(1, -1);\n}\nconst slackContext = $('Workflow Input').first().json.slack_context;\nreturn [{json: {message: message, slack_context: slackContext}}];"
            }
        },
        {
            "id": "send-ack",
            "name": "Send Ack",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1.2,
            "position": [
                860,
                300
            ],
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "AorvHVERbm2IxQMF"
                },
                "options": {},
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "message": "={{ $json.message }}",
                        "slack_context": "={{ $json.slack_context }}"
                    },
                    "schema": [
                        {
                            "id": "message",
                            "displayName": "message",
                            "canBeUsedToMatch": true,
                            "type": "string"
                        },
                        {
                            "id": "slack_context",
                            "displayName": "slack_context",
                            "canBeUsedToMatch": true,
                            "type": "string"
                        }
                    ]
                }
            }
        },
        {
            "id": "format-output",
            "name": "Format Output",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1080,
                300
            ],
            "parameters": {
                "jsCode": "const sendResult = $input.first().json;\nconst generatedMessage = $('Extract Message').first().json.message;\nreturn [{json: {success: sendResult.success !== false, ack_message: generatedMessage, send_result: sendResult}}];"
            }
        }
    ],
    "connections": {
        "Workflow Input": {
            "main": [
                [
                    {
                        "node": "Generate Ack Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude Haiku": {
            "ai_languageModel": [
                [
                    {
                        "node": "Generate Ack Message",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Ack Message": {
            "main": [
                [
                    {
                        "node": "Extract Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Message": {
            "main": [
                [
                    {
                        "node": "Send Ack",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Ack": {
            "main": [
                [
                    {
                        "node": "Format Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "d4d48afc-89bd-4ac4-a654-3f762ff6f405",
    "activeVersionId": "d4d48afc-89bd-4ac4-a654-3f762ff6f405",
    "versionCounter": 19,
    "triggerCount": 0,
    "shared": [
        {
            "updatedAt": "2026-02-05T16:14:38.486Z",
            "createdAt": "2026-02-05T16:14:38.486Z",
            "role": "workflow:owner",
            "workflowId": "r620xYkkbiShXhxp",
            "projectId": "Jd992SEPuokf8o5Z",
            "project": {
                "updatedAt": "2026-02-02T12:27:52.037Z",
                "createdAt": "2026-02-02T12:20:35.714Z",
                "id": "Jd992SEPuokf8o5Z",
                "name": "Spencer Marx <spencer@aclarify.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "e498ff06-ba9d-4721-8454-492195be8229",
                "projectRelations": [
                    {
                        "updatedAt": "2026-02-02T12:20:35.714Z",
                        "createdAt": "2026-02-02T12:20:35.714Z",
                        "userId": "e498ff06-ba9d-4721-8454-492195be8229",
                        "projectId": "Jd992SEPuokf8o5Z",
                        "user": {
                            "updatedAt": "2026-02-09T12:02:49.196Z",
                            "createdAt": "2026-02-02T12:20:29.217Z",
                            "id": "e498ff06-ba9d-4721-8454-492195be8229",
                            "email": "spencer@aclarify.com",
                            "firstName": "Spencer",
                            "lastName": "Marx",
                            "personalizationAnswers": {
                                "version": "v4",
                                "personalization_survey_submitted_at": "2026-02-02T12:28:04.495Z",
                                "personalization_survey_n8n_version": "2.6.2",
                                "companySize": "<20",
                                "companyType": "saas",
                                "role": "business-owner",
                                "reportedSource": "friend"
                            },
                            "settings": {
                                "userActivated": true,
                                "easyAIWorkflowOnboarded": true,
                                "firstSuccessfulWorkflowId": "KwXRQi320-E6cSKEUFTol",
                                "userActivatedAt": 1770049275864,
                                "npsSurvey": {
                                    "responded": true,
                                    "lastShownAt": 1770325854784
                                }
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-02-09",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-02-09T14:43:18.980Z",
        "createdAt": "2026-02-09T14:43:18.980Z",
        "versionId": "d4d48afc-89bd-4ac4-a654-3f762ff6f405",
        "workflowId": "r620xYkkbiShXhxp",
        "nodes": [
            {
                "id": "trigger",
                "name": "Workflow Input",
                "type": "n8n-nodes-base.executeWorkflowTrigger",
                "typeVersion": 1.1,
                "position": [
                    200,
                    300
                ],
                "parameters": {
                    "workflowInputs": {
                        "values": [
                            {
                                "name": "user_request",
                                "type": "string"
                            },
                            {
                                "name": "personality_prompt",
                                "type": "string"
                            },
                            {
                                "name": "slack_context",
                                "type": "string"
                            }
                        ]
                    }
                }
            },
            {
                "id": "generate-ack",
                "name": "Generate Ack Message",
                "type": "@n8n/n8n-nodes-langchain.chainLlm",
                "typeVersion": 1.4,
                "position": [
                    420,
                    300
                ],
                "parameters": {
                    "promptType": "define",
                    "text": "={{ $json.personality_prompt }}\n\n---\n\nThe user just sent this request:\n\"{{ $json.user_request }}\"\n\nContext clues for your ack:\n- If the request mentions feedback, revisions, changes, or refers to previous content → this is a REVISION of existing work\n- If the request is about creating new content from scratch → this is a NEW task\n- If the request is about scheduling, emails, or utility tasks → match the specific task type\n\nGenerate a brief acknowledgment message (1-2 sentences max) to let them know you are on it.\n\nIMPORTANT RULES:\n- Stay in character with the personality above\n- Be brief and confident\n- Do not explain what you are going to do in detail\n- Do not be generic or robotic\n- Match the ack to the task type — revision acks should mention revising, new content acks should mention creating\n- Mention that updates will be coming\n\nGood examples for NEW tasks:\n- On it. Marketing team is assembling - I will keep you posted.\n- Got it. Pulling in the content crew now. Updates coming.\n\nGood examples for REVISIONS:\n- On it — revising based on your feedback. Updates incoming.\n- Got it. Reworking the draft now. Stand by.\n- Noted. Sending your feedback to the team for a revision.\n\nRespond with ONLY the acknowledgment message, nothing else.",
                    "hasOutputParser": false,
                    "options": {
                        "maxTokens": 100
                    }
                }
            },
            {
                "id": "ai-model",
                "name": "Claude Haiku",
                "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
                "typeVersion": 1.3,
                "position": [
                    420,
                    520
                ],
                "parameters": {
                    "model": {
                        "__rl": true,
                        "value": "claude-3-5-haiku-latest",
                        "mode": "list"
                    },
                    "options": {
                        "maxTokensToSample": 100,
                        "temperature": 0.7
                    }
                },
                "credentials": {
                    "anthropicApi": {
                        "id": "iKUsIHimnjBUibjJ",
                        "name": "Anthropic account"
                    }
                }
            },
            {
                "id": "extract-message",
                "name": "Extract Message",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    640,
                    300
                ],
                "parameters": {
                    "jsCode": "const input = $input.first().json;\nconst generatedAck = input.text || input.output || input.response || '';\nlet message = generatedAck.trim();\nif ((message.startsWith('\"') && message.endsWith('\"')) || (message.startsWith(\"'\") && message.endsWith(\"'\"))) {\n  message = message.slice(1, -1);\n}\nconst slackContext = $('Workflow Input').first().json.slack_context;\nreturn [{json: {message: message, slack_context: slackContext}}];"
                }
            },
            {
                "id": "send-ack",
                "name": "Send Ack",
                "type": "n8n-nodes-base.executeWorkflow",
                "typeVersion": 1.2,
                "position": [
                    860,
                    300
                ],
                "parameters": {
                    "workflowId": {
                        "__rl": true,
                        "mode": "id",
                        "value": "AorvHVERbm2IxQMF"
                    },
                    "options": {},
                    "workflowInputs": {
                        "mappingMode": "defineBelow",
                        "value": {
                            "message": "={{ $json.message }}",
                            "slack_context": "={{ $json.slack_context }}"
                        },
                        "schema": [
                            {
                                "id": "message",
                                "displayName": "message",
                                "canBeUsedToMatch": true,
                                "type": "string"
                            },
                            {
                                "id": "slack_context",
                                "displayName": "slack_context",
                                "canBeUsedToMatch": true,
                                "type": "string"
                            }
                        ]
                    }
                }
            },
            {
                "id": "format-output",
                "name": "Format Output",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1080,
                    300
                ],
                "parameters": {
                    "jsCode": "const sendResult = $input.first().json;\nconst generatedMessage = $('Extract Message').first().json.message;\nreturn [{json: {success: sendResult.success !== false, ack_message: generatedMessage, send_result: sendResult}}];"
                }
            }
        ],
        "connections": {
            "Workflow Input": {
                "main": [
                    [
                        {
                            "node": "Generate Ack Message",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Claude Haiku": {
                "ai_languageModel": [
                    [
                        {
                            "node": "Generate Ack Message",
                            "type": "ai_languageModel",
                            "index": 0
                        }
                    ]
                ]
            },
            "Generate Ack Message": {
                "main": [
                    [
                        {
                            "node": "Extract Message",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Extract Message": {
                "main": [
                    [
                        {
                            "node": "Send Ack",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Send Ack": {
                "main": [
                    [
                        {
                            "node": "Format Output",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Spencer Marx",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-02-09T14:43:19.082Z",
                "id": 547,
                "workflowId": "r620xYkkbiShXhxp",
                "versionId": "d4d48afc-89bd-4ac4-a654-3f762ff6f405",
                "event": "activated",
                "userId": "e498ff06-ba9d-4721-8454-492195be8229"
            }
        ]
    }
}