alfred/workflows/utilities/openai_image_generation.json
{
  "id": "IYxvZU8o7IhR8LUQ",
  "name": "Utility | OpenAI Image Generation",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompt",
              "type": "string"
            },
            {
              "name": "size",
              "type": "string"
            },
            {
              "name": "quality",
              "type": "string"
            },
            {
              "name": "style",
              "type": "string"
            },
            {
              "name": "n",
              "type": "number"
            }
          ]
        }
      }
    },
    {
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nif (!input.prompt || input.prompt.trim() === '') {\n  return [{\n    json: {\n      valid: false,\n      error: 'prompt is required'\n    }\n  }];\n}\n\nconst validSizes = ['1024x1024', '1792x1024', '1024x1792'];\nconst validQualities = ['standard', 'hd'];\nconst validStyles = ['vivid', 'natural'];\n\nconst size = input.size || '1024x1024';\nconst quality = input.quality || 'standard';\nconst style = input.style || 'vivid';\nlet n = input.n || 1;\n\nif (!validSizes.includes(size)) {\n  return [{\n    json: {\n      valid: false,\n      error: `Invalid size '${size}'. Valid sizes: ${validSizes.join(', ')}`\n    }\n  }];\n}\n\nif (!validQualities.includes(quality)) {\n  return [{\n    json: {\n      valid: false,\n      error: `Invalid quality '${quality}'. Valid qualities: ${validQualities.join(', ')}`\n    }\n  }];\n}\n\nif (!validStyles.includes(style)) {\n  return [{\n    json: {\n      valid: false,\n      error: `Invalid style '${style}'. Valid styles: ${validStyles.join(', ')}`\n    }\n  }];\n}\n\nn = Math.min(Math.max(1, n), 1);\n\nreturn [{\n  json: {\n    valid: true,\n    prompt: input.prompt.trim(),\n    size: size,\n    quality: quality,\n    style: style,\n    n: n\n  }\n}];"
      }
    },
    {
      "id": "check-valid",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "validation-failed",
      "name": "Validation Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        500
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "images",
              "name": "images",
              "value": "={{ [] }}",
              "type": "array"
            },
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "call-dalle",
      "name": "Generate Image (DALL-E 3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'dall-e-3', prompt: $json.prompt, size: $json.size, quality: $json.quality, style: $json.style, n: $json.n, response_format: 'url' }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "K0dJSGlrxig3qa2p",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "format-success",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        180
      ],
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nif (result.error) {\n  let errorMessage = result.error.message || 'OpenAI API error';\n  \n  if (result.error.code === 'rate_limit_exceeded') {\n    errorMessage = 'rate_limited: ' + errorMessage;\n  } else if (result.error.code === 'content_policy_violation') {\n    errorMessage = 'content_policy_violation: ' + errorMessage;\n  }\n  \n  return [{\n    json: {\n      success: false,\n      images: [],\n      error: errorMessage\n    }\n  }];\n}\n\nconst images = (result.data || []).map(img => ({\n  url: img.url,\n  revised_prompt: img.revised_prompt || null\n}));\n\nreturn [{\n  json: {\n    success: true,\n    images: images,\n    error: null\n  }\n}];"
      }
    },
    {
      "id": "handle-error",
      "name": "Handle API Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        380
      ],
      "parameters": {
        "jsCode": "const error = $input.first().json;\n\nlet errorMessage = 'OpenAI API request failed';\n\nif (error.message) {\n  errorMessage = error.message;\n}\n\nif (error.error?.message) {\n  errorMessage = error.error.message;\n  \n  if (error.error.code === 'rate_limit_exceeded') {\n    errorMessage = 'rate_limited: ' + errorMessage;\n  }\n}\n\nreturn [{\n  json: {\n    success: false,\n    images: [],\n    error: errorMessage\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Generate Image (DALL-E 3)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image (DALL-E 3)": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": null,
  "activeVersionId": "df2f9cb3-51ce-4cc0-ae58-80a4b4e69fb0",
  "versionCounter": 18,
  "triggerCount": 0,
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-05T13:42:06.771Z",
    "createdAt": "2026-02-05T13:42:06.771Z",
    "versionId": "df2f9cb3-51ce-4cc0-ae58-80a4b4e69fb0",
    "workflowId": "IYxvZU8o7IhR8LUQ",
    "nodes": [
      {
        "id": "trigger",
        "name": "Workflow Input",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          200,
          300
        ],
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "prompt",
                "type": "string"
              },
              {
                "name": "size",
                "type": "string"
              },
              {
                "name": "quality",
                "type": "string"
              },
              {
                "name": "style",
                "type": "string"
              },
              {
                "name": "n",
                "type": "number"
              }
            ]
          }
        }
      },
      {
        "id": "validate-input",
        "name": "Validate Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          420,
          300
        ],
        "parameters": {
          "jsCode": "const input = $input.first().json;\n\nif (!input.prompt || input.prompt.trim() === '') {\n  return [{\n    json: {\n      valid: false,\n      error: 'prompt is required'\n    }\n  }];\n}\n\nconst validSizes = ['1024x1024', '1792x1024', '1024x1792'];\nconst validQualities = ['standard', 'hd'];\nconst validStyles = ['vivid', 'natural'];\n\nconst size = input.size || '1024x1024';\nconst quality = input.quality || 'standard';\nconst style = input.style || 'vivid';\nlet n = input.n || 1;\n\nif (!validSizes.includes(size)) {\n  return [{\n    json: {\n      valid: false,\n      error: `Invalid size '${size}'. Valid sizes: ${validSizes.join(', ')}`\n    }\n  }];\n}\n\nif (!validQualities.includes(quality)) {\n  return [{\n    json: {\n      valid: false,\n      error: `Invalid quality '${quality}'. Valid qualities: ${validQualities.join(', ')}`\n    }\n  }];\n}\n\nif (!validStyles.includes(style)) {\n  return [{\n    json: {\n      valid: false,\n      error: `Invalid style '${style}'. Valid styles: ${validStyles.join(', ')}`\n    }\n  }];\n}\n\nn = Math.min(Math.max(1, n), 1);\n\nreturn [{\n  json: {\n    valid: true,\n    prompt: input.prompt.trim(),\n    size: size,\n    quality: quality,\n    style: style,\n    n: n\n  }\n}];"
        }
      },
      {
        "id": "check-valid",
        "name": "Is Valid?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          640,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "cond-valid",
                "leftValue": "={{ $json.valid }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ]
          }
        }
      },
      {
        "id": "validation-failed",
        "name": "Validation Failed",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          860,
          500
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "success",
                "name": "success",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "images",
                "name": "images",
                "value": "={{ [] }}",
                "type": "array"
              },
              {
                "id": "error",
                "name": "error",
                "value": "={{ $json.error }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "call-dalle",
        "name": "Generate Image (DALL-E 3)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          860,
          180
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/images/generations",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ model: 'dall-e-3', prompt: $json.prompt, size: $json.size, quality: $json.quality, style: $json.style, n: $json.n, response_format: 'url' }) }}",
          "options": {
            "timeout": 120000
          }
        },
        "credentials": {
          "openAiApi": {
            "id": "K0dJSGlrxig3qa2p",
            "name": "OpenAi account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "id": "format-success",
        "name": "Format Success Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1080,
          180
        ],
        "parameters": {
          "jsCode": "const result = $input.first().json;\n\nif (result.error) {\n  let errorMessage = result.error.message || 'OpenAI API error';\n  \n  if (result.error.code === 'rate_limit_exceeded') {\n    errorMessage = 'rate_limited: ' + errorMessage;\n  } else if (result.error.code === 'content_policy_violation') {\n    errorMessage = 'content_policy_violation: ' + errorMessage;\n  }\n  \n  return [{\n    json: {\n      success: false,\n      images: [],\n      error: errorMessage\n    }\n  }];\n}\n\nconst images = (result.data || []).map(img => ({\n  url: img.url,\n  revised_prompt: img.revised_prompt || null\n}));\n\nreturn [{\n  json: {\n    success: true,\n    images: images,\n    error: null\n  }\n}];"
        }
      },
      {
        "id": "handle-error",
        "name": "Handle API Error",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1080,
          380
        ],
        "parameters": {
          "jsCode": "const error = $input.first().json;\n\nlet errorMessage = 'OpenAI API request failed';\n\nif (error.message) {\n  errorMessage = error.message;\n}\n\nif (error.error?.message) {\n  errorMessage = error.error.message;\n  \n  if (error.error.code === 'rate_limit_exceeded') {\n    errorMessage = 'rate_limited: ' + errorMessage;\n  }\n}\n\nreturn [{\n  json: {\n    success: false,\n    images: [],\n    error: errorMessage\n  }\n}];"
        }
      }
    ],
    "connections": {
      "Workflow Input": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Input": {
        "main": [
          [
            {
              "node": "Is Valid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Valid?": {
        "main": [
          [
            {
              "node": "Generate Image (DALL-E 3)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Validation Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Image (DALL-E 3)": {
        "main": [
          [
            {
              "node": "Format Success Response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Handle API Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Spencer Marx",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-16T09:49:51.983Z",
        "id": 613,
        "workflowId": "IYxvZU8o7IhR8LUQ",
        "versionId": "df2f9cb3-51ce-4cc0-ae58-80a4b4e69fb0",
        "event": "activated",
        "userId": "e498ff06-ba9d-4721-8454-492195be8229"
      },
      {
        "createdAt": "2026-02-16T09:49:52.180Z",
        "id": 614,
        "workflowId": "IYxvZU8o7IhR8LUQ",
        "versionId": "df2f9cb3-51ce-4cc0-ae58-80a4b4e69fb0",
        "event": "deactivated",
        "userId": "e498ff06-ba9d-4721-8454-492195be8229"
      },
      {
        "createdAt": "2026-02-16T09:55:45.135Z",
        "id": 616,
        "workflowId": "IYxvZU8o7IhR8LUQ",
        "versionId": "df2f9cb3-51ce-4cc0-ae58-80a4b4e69fb0",
        "event": "activated",
        "userId": "e498ff06-ba9d-4721-8454-492195be8229"
      },
      {
        "createdAt": "2026-02-05T13:54:53.242Z",
        "id": 279,
        "workflowId": "IYxvZU8o7IhR8LUQ",
        "versionId": "df2f9cb3-51ce-4cc0-ae58-80a4b4e69fb0",
        "event": "activated",
        "userId": "e498ff06-ba9d-4721-8454-492195be8229"
      }
    ]
  }
}
