alfred/workflows/utilities/save_to_google_drive.json
{
  "id": "QMxT5NLQOL3jlrzv",
  "name": "Utility | Save to Google Drive",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "source_url",
              "type": "string"
            },
            {
              "name": "source_base64",
              "type": "string"
            },
            {
              "name": "file_name",
              "type": "string"
            },
            {
              "name": "mime_type",
              "type": "string"
            },
            {
              "name": "folder_id",
              "type": "string"
            },
            {
              "name": "config_key",
              "type": "string"
            },
            {
              "name": "slack_user_id",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nif (!input.file_name) {\n  return [{\n    json: {\n      valid: false,\n      error: 'file_name is required'\n    }\n  }];\n}\n\nif (!input.mime_type) {\n  return [{\n    json: {\n      valid: false,\n      error: 'mime_type is required'\n    }\n  }];\n}\n\nif (!input.slack_user_id) {\n  return [{\n    json: {\n      valid: false,\n      error: 'slack_user_id is required'\n    }\n  }];\n}\n\nif (!input.source_url && !input.source_base64) {\n  return [{\n    json: {\n      valid: false,\n      error: 'Either source_url or source_base64 is required'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    source_url: input.source_url || null,\n    source_base64: input.source_base64 || null,\n    file_name: input.file_name,\n    mime_type: input.mime_type,\n    folder_id: input.folder_id || null,\n    config_key: input.config_key || null,\n    slack_user_id: input.slack_user_id\n  }\n}];"
      }
    },
    {
      "id": "check-valid",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "validation-failed",
      "name": "Validation Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        500
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "check-config-key",
      "name": "Has Config Key?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        860,
        180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-config",
              "leftValue": "={{ $json.config_key }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "cond-no-folder",
              "leftValue": "={{ $json.folder_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "resolve-config",
      "name": "Resolve Folder Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1080,
        60
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT config_value FROM alfred.system_config WHERE config_key = $1",
        "options": {
          "queryReplacement": "={{ $json.config_key }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "8nTSHxonyIBczkvN",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "merge-resolved",
      "name": "Use Resolved Folder",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1300,
        60
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "folder_id",
              "name": "folder_id",
              "value": "={{ $json.config_value }}",
              "type": "string"
            },
            {
              "id": "source_url",
              "name": "source_url",
              "value": "={{ $('Validate Input').item.json.source_url }}",
              "type": "string"
            },
            {
              "id": "source_base64",
              "name": "source_base64",
              "value": "={{ $('Validate Input').item.json.source_base64 }}",
              "type": "string"
            },
            {
              "id": "file_name",
              "name": "file_name",
              "value": "={{ $('Validate Input').item.json.file_name }}",
              "type": "string"
            },
            {
              "id": "mime_type",
              "name": "mime_type",
              "value": "={{ $('Validate Input').item.json.mime_type }}",
              "type": "string"
            },
            {
              "id": "slack_user_id",
              "name": "slack_user_id",
              "value": "={{ $('Validate Input').item.json.slack_user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "use-direct",
      "name": "Use Direct Values",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "folder_id",
              "name": "folder_id",
              "value": "={{ $json.folder_id }}",
              "type": "string"
            },
            {
              "id": "source_url",
              "name": "source_url",
              "value": "={{ $json.source_url }}",
              "type": "string"
            },
            {
              "id": "source_base64",
              "name": "source_base64",
              "value": "={{ $json.source_base64 }}",
              "type": "string"
            },
            {
              "id": "file_name",
              "name": "file_name",
              "value": "={{ $json.file_name }}",
              "type": "string"
            },
            {
              "id": "mime_type",
              "name": "mime_type",
              "value": "={{ $json.mime_type }}",
              "type": "string"
            },
            {
              "id": "slack_user_id",
              "name": "slack_user_id",
              "value": "={{ $json.slack_user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "merge-context",
      "name": "Merge Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1520,
        180
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "get-auth",
      "name": "Get Google Auth",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1740,
        180
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "S8GWoOTCaSqyc5bj"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "slack_user_id": "={{ $json.slack_user_id }}",
            "scopes": "https://www.googleapis.com/auth/drive.file"
          }
        },
        "options": {}
      }
    },
    {
      "id": "check-auth",
      "name": "Check Auth Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1960,
        180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-auth",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "auth-failed",
      "name": "Auth Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2180,
        380
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.error || 'Google authentication failed' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "prepare-context",
      "name": "Prepare Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2180,
        60
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "access_token",
              "name": "access_token",
              "value": "={{ $json.access_token }}",
              "type": "string"
            },
            {
              "id": "source_url",
              "name": "source_url",
              "value": "={{ $('Merge Context').item.json.source_url }}",
              "type": "string"
            },
            {
              "id": "source_base64",
              "name": "source_base64",
              "value": "={{ $('Merge Context').item.json.source_base64 }}",
              "type": "string"
            },
            {
              "id": "file_name",
              "name": "file_name",
              "value": "={{ $('Merge Context').item.json.file_name }}",
              "type": "string"
            },
            {
              "id": "mime_type",
              "name": "mime_type",
              "value": "={{ $('Merge Context').item.json.mime_type }}",
              "type": "string"
            },
            {
              "id": "folder_id",
              "name": "folder_id",
              "value": "={{ $('Merge Context').item.json.folder_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "check-source-type",
      "name": "Has Source URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2400,
        60
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-url",
              "leftValue": "={{ $json.source_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "download-file",
      "name": "Download from URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        -60
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.source_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "prepare-url-upload",
      "name": "Prepare URL Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        -60
      ],
      "parameters": {
        "jsCode": "const binaryData = $input.first().binary;\nconst context = $('Prepare Context').first().json;\n\nif (!binaryData || !binaryData.data) {\n  return [{\n    json: {\n      success: false,\n      error: 'Failed to download file from URL'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    access_token: context.access_token,\n    file_name: context.file_name,\n    mime_type: context.mime_type,\n    folder_id: context.folder_id,\n    has_binary: true\n  },\n  binary: binaryData\n}];"
      }
    },
    {
      "id": "prepare-base64-upload",
      "name": "Prepare Base64 Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        180
      ],
      "parameters": {
        "jsCode": "const context = $input.first().json;\n\nif (!context.source_base64) {\n  return [{\n    json: {\n      success: false,\n      error: 'No base64 content provided'\n    }\n  }];\n}\n\n// Convert base64 to binary\nconst base64Data = context.source_base64.replace(/^data:[^;]+;base64,/, '');\n\nreturn [{\n  json: {\n    access_token: context.access_token,\n    file_name: context.file_name,\n    mime_type: context.mime_type,\n    folder_id: context.folder_id,\n    has_binary: true\n  },\n  binary: {\n    data: {\n      data: base64Data,\n      mimeType: context.mime_type,\n      fileName: context.file_name\n    }\n  }\n}];"
      }
    },
    {
      "id": "merge-upload",
      "name": "Merge Upload Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3060,
        60
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "upload-simple",
      "name": "Upload Simple",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        60
      ],
      "parameters": {
        "jsCode": "const context = $input.first().json;\nconst binaryData = $input.first().binary?.data;\n\nif (!binaryData) {\n  return [{\n    json: {\n      success: false,\n      error: 'No binary data available for upload'\n    }\n  }];\n}\n\n// Create metadata\nconst metadata = {\n  name: context.file_name,\n  mimeType: context.mime_type\n};\n\nif (context.folder_id) {\n  metadata.parents = [context.folder_id];\n}\n\n// For multipart upload, we need to create the request body manually\nconst boundary = '-------314159265358979323846';\nconst delimiter = '\\r\\n--' + boundary + '\\r\\n';\nconst closeDelimiter = '\\r\\n--' + boundary + '--';\n\nreturn [{\n  json: {\n    access_token: context.access_token,\n    metadata: metadata,\n    file_content: binaryData.data,\n    mime_type: context.mime_type,\n    boundary: boundary\n  }\n}];"
      }
    },
    {
      "id": "format-result",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3720,
        60
      ],
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nif (result.error) {\n  return [{\n    json: {\n      success: false,\n      error: result.error.message || 'Upload to Google Drive failed'\n    }\n  }];\n}\n\nconst fileId = result.id;\nconst fileUrl = `https://drive.google.com/file/d/${fileId}/view`;\n\nreturn [{\n  json: {\n    success: true,\n    file_id: fileId,\n    file_url: fileUrl,\n    file_name: result.name,\n    mime_type: result.mimeType,\n    error: null\n  }\n}];"
      }
    },
    {
      "id": "drive-upload-api",
      "name": "Drive Upload API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3500,
        60
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst boundary = input.boundary;\nconst metadata = JSON.stringify(input.metadata);\nconst fileContent = input.file_content;\n\nconst binaryBuffer = Buffer.from(fileContent, 'base64');\n\nconst preamble = Buffer.from(\n  `--${boundary}\\r\\n` +\n  `Content-Type: application/json; charset=UTF-8\\r\\n` +\n  `\\r\\n` +\n  `${metadata}\\r\\n` +\n  `--${boundary}\\r\\n` +\n  `Content-Type: ${input.mime_type}\\r\\n` +\n  `\\r\\n`\n);\nconst epilogue = Buffer.from(`\\r\\n--${boundary}--`);\nconst body = Buffer.concat([preamble, binaryBuffer, epilogue]);\n\nconst https = require('https');\n\nconst result = await new Promise((resolve, reject) => {\n  const options = {\n    method: 'POST',\n    hostname: 'www.googleapis.com',\n    path: '/upload/drive/v3/files?uploadType=multipart',\n    headers: {\n      'Authorization': `Bearer ${input.access_token}`,\n      'Content-Type': `multipart/related; boundary=${boundary}`,\n      'Content-Length': body.length\n    }\n  };\n\n  const req = https.request(options, (res) => {\n    let data = '';\n    res.on('data', chunk => data += chunk);\n    res.on('end', () => {\n      try {\n        const parsed = JSON.parse(data);\n        if (res.statusCode >= 400) {\n          reject(new Error(`Drive API error (${res.statusCode}): ${parsed.error?.message || data}`));\n        } else {\n          resolve(parsed);\n        }\n      } catch (e) {\n        reject(new Error(`Failed to parse Drive API response (${res.statusCode}): ${data.substring(0, 500)}`));\n      }\n    });\n  });\n\n  req.on('error', (e) => reject(new Error(`Drive upload request failed: ${e.message}`)));\n  req.write(body);\n  req.end();\n});\n\nreturn [{ json: result }];"
      }
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Has Config Key?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Config Key?": {
      "main": [
        [
          {
            "node": "Resolve Folder Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Use Direct Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Folder Config": {
      "main": [
        [
          {
            "node": "Use Resolved Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Resolved Folder": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Direct Values": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "Get Google Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Google Auth": {
      "main": [
        [
          {
            "node": "Check Auth Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth Success": {
      "main": [
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context": {
      "main": [
        [
          {
            "node": "Has Source URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Source URL?": {
      "main": [
        [
          {
            "node": "Download from URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Base64 Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download from URL": {
      "main": [
        [
          {
            "node": "Prepare URL Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare URL Upload": {
      "main": [
        [
          {
            "node": "Merge Upload Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Base64 Upload": {
      "main": [
        [
          {
            "node": "Merge Upload Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Upload Data": {
      "main": [
        [
          {
            "node": "Upload Simple",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Simple": {
      "main": [
        [
          {
            "node": "Drive Upload API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive Upload API": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": null,
  "activeVersionId": "d0f57f27-905f-451e-9192-35dff3e09deb",
  "versionCounter": 23,
  "triggerCount": 0,
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-16T11:42:31.369Z",
    "createdAt": "2026-02-16T11:42:31.369Z",
    "versionId": "d0f57f27-905f-451e-9192-35dff3e09deb",
    "workflowId": "QMxT5NLQOL3jlrzv",
    "nodes": [
      {
        "id": "trigger",
        "name": "Workflow Input",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          200,
          300
        ],
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "source_url",
                "type": "string"
              },
              {
                "name": "source_base64",
                "type": "string"
              },
              {
                "name": "file_name",
                "type": "string"
              },
              {
                "name": "mime_type",
                "type": "string"
              },
              {
                "name": "folder_id",
                "type": "string"
              },
              {
                "name": "config_key",
                "type": "string"
              },
              {
                "name": "slack_user_id",
                "type": "string"
              }
            ]
          }
        }
      },
      {
        "id": "validate-input",
        "name": "Validate Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          420,
          300
        ],
        "parameters": {
          "jsCode": "const input = $input.first().json;\n\nif (!input.file_name) {\n  return [{\n    json: {\n      valid: false,\n      error: 'file_name is required'\n    }\n  }];\n}\n\nif (!input.mime_type) {\n  return [{\n    json: {\n      valid: false,\n      error: 'mime_type is required'\n    }\n  }];\n}\n\nif (!input.slack_user_id) {\n  return [{\n    json: {\n      valid: false,\n      error: 'slack_user_id is required'\n    }\n  }];\n}\n\nif (!input.source_url && !input.source_base64) {\n  return [{\n    json: {\n      valid: false,\n      error: 'Either source_url or source_base64 is required'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    source_url: input.source_url || null,\n    source_base64: input.source_base64 || null,\n    file_name: input.file_name,\n    mime_type: input.mime_type,\n    folder_id: input.folder_id || null,\n    config_key: input.config_key || null,\n    slack_user_id: input.slack_user_id\n  }\n}];"
        }
      },
      {
        "id": "check-valid",
        "name": "Is Valid?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          640,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "cond-valid",
                "leftValue": "={{ $json.valid }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ]
          }
        }
      },
      {
        "id": "validation-failed",
        "name": "Validation Failed",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          860,
          500
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "success",
                "name": "success",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "error",
                "name": "error",
                "value": "={{ $json.error }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "check-config-key",
        "name": "Has Config Key?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          860,
          180
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "cond-config",
                "leftValue": "={{ $json.config_key }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "cond-no-folder",
                "leftValue": "={{ $json.folder_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ]
          }
        }
      },
      {
        "id": "resolve-config",
        "name": "Resolve Folder Config",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1080,
          60
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT config_value FROM alfred.system_config WHERE config_key = $1",
          "options": {
            "queryReplacement": "={{ $json.config_key }}"
          }
        },
        "credentials": {
          "postgres": {
            "id": "8nTSHxonyIBczkvN",
            "name": "Postgres account"
          }
        }
      },
      {
        "id": "merge-resolved",
        "name": "Use Resolved Folder",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1300,
          60
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "folder_id",
                "name": "folder_id",
                "value": "={{ $json.config_value }}",
                "type": "string"
              },
              {
                "id": "source_url",
                "name": "source_url",
                "value": "={{ $('Validate Input').item.json.source_url }}",
                "type": "string"
              },
              {
                "id": "source_base64",
                "name": "source_base64",
                "value": "={{ $('Validate Input').item.json.source_base64 }}",
                "type": "string"
              },
              {
                "id": "file_name",
                "name": "file_name",
                "value": "={{ $('Validate Input').item.json.file_name }}",
                "type": "string"
              },
              {
                "id": "mime_type",
                "name": "mime_type",
                "value": "={{ $('Validate Input').item.json.mime_type }}",
                "type": "string"
              },
              {
                "id": "slack_user_id",
                "name": "slack_user_id",
                "value": "={{ $('Validate Input').item.json.slack_user_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "use-direct",
        "name": "Use Direct Values",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1080,
          300
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "folder_id",
                "name": "folder_id",
                "value": "={{ $json.folder_id }}",
                "type": "string"
              },
              {
                "id": "source_url",
                "name": "source_url",
                "value": "={{ $json.source_url }}",
                "type": "string"
              },
              {
                "id": "source_base64",
                "name": "source_base64",
                "value": "={{ $json.source_base64 }}",
                "type": "string"
              },
              {
                "id": "file_name",
                "name": "file_name",
                "value": "={{ $json.file_name }}",
                "type": "string"
              },
              {
                "id": "mime_type",
                "name": "mime_type",
                "value": "={{ $json.mime_type }}",
                "type": "string"
              },
              {
                "id": "slack_user_id",
                "name": "slack_user_id",
                "value": "={{ $json.slack_user_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "merge-context",
        "name": "Merge Context",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1520,
          180
        ],
        "parameters": {
          "mode": "append",
          "options": {}
        }
      },
      {
        "id": "get-auth",
        "name": "Get Google Auth",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1740,
          180
        ],
        "parameters": {
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "S8GWoOTCaSqyc5bj"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "slack_user_id": "={{ $json.slack_user_id }}",
              "scopes": "https://www.googleapis.com/auth/drive.file"
            }
          },
          "options": {}
        }
      },
      {
        "id": "check-auth",
        "name": "Check Auth Success",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1960,
          180
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "cond-auth",
                "leftValue": "={{ $json.success }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ]
          }
        }
      },
      {
        "id": "auth-failed",
        "name": "Auth Failed",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2180,
          380
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "success",
                "name": "success",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "error",
                "name": "error",
                "value": "={{ $json.error || 'Google authentication failed' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "prepare-context",
        "name": "Prepare Context",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2180,
          60
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "access_token",
                "name": "access_token",
                "value": "={{ $json.access_token }}",
                "type": "string"
              },
              {
                "id": "source_url",
                "name": "source_url",
                "value": "={{ $('Merge Context').item.json.source_url }}",
                "type": "string"
              },
              {
                "id": "source_base64",
                "name": "source_base64",
                "value": "={{ $('Merge Context').item.json.source_base64 }}",
                "type": "string"
              },
              {
                "id": "file_name",
                "name": "file_name",
                "value": "={{ $('Merge Context').item.json.file_name }}",
                "type": "string"
              },
              {
                "id": "mime_type",
                "name": "mime_type",
                "value": "={{ $('Merge Context').item.json.mime_type }}",
                "type": "string"
              },
              {
                "id": "folder_id",
                "name": "folder_id",
                "value": "={{ $('Merge Context').item.json.folder_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "check-source-type",
        "name": "Has Source URL?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2400,
          60
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "cond-url",
                "leftValue": "={{ $json.source_url }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ]
          }
        }
      },
      {
        "id": "download-file",
        "name": "Download from URL",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2620,
          -60
        ],
        "parameters": {
          "method": "GET",
          "url": "={{ $json.source_url }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        }
      },
      {
        "id": "prepare-url-upload",
        "name": "Prepare URL Upload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2840,
          -60
        ],
        "parameters": {
          "jsCode": "const binaryData = $input.first().binary;\nconst context = $('Prepare Context').first().json;\n\nif (!binaryData || !binaryData.data) {\n  return [{\n    json: {\n      success: false,\n      error: 'Failed to download file from URL'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    access_token: context.access_token,\n    file_name: context.file_name,\n    mime_type: context.mime_type,\n    folder_id: context.folder_id,\n    has_binary: true\n  },\n  binary: binaryData\n}];"
        }
      },
      {
        "id": "prepare-base64-upload",
        "name": "Prepare Base64 Upload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2620,
          180
        ],
        "parameters": {
          "jsCode": "const context = $input.first().json;\n\nif (!context.source_base64) {\n  return [{\n    json: {\n      success: false,\n      error: 'No base64 content provided'\n    }\n  }];\n}\n\n// Convert base64 to binary\nconst base64Data = context.source_base64.replace(/^data:[^;]+;base64,/, '');\n\nreturn [{\n  json: {\n    access_token: context.access_token,\n    file_name: context.file_name,\n    mime_type: context.mime_type,\n    folder_id: context.folder_id,\n    has_binary: true\n  },\n  binary: {\n    data: {\n      data: base64Data,\n      mimeType: context.mime_type,\n      fileName: context.file_name\n    }\n  }\n}];"
        }
      },
      {
        "id": "merge-upload",
        "name": "Merge Upload Data",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          3060,
          60
        ],
        "parameters": {
          "mode": "append",
          "options": {}
        }
      },
      {
        "id": "upload-simple",
        "name": "Upload Simple",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3280,
          60
        ],
        "parameters": {
          "jsCode": "const context = $input.first().json;\nconst binaryData = $input.first().binary?.data;\n\nif (!binaryData) {\n  return [{\n    json: {\n      success: false,\n      error: 'No binary data available for upload'\n    }\n  }];\n}\n\n// Create metadata\nconst metadata = {\n  name: context.file_name,\n  mimeType: context.mime_type\n};\n\nif (context.folder_id) {\n  metadata.parents = [context.folder_id];\n}\n\n// For multipart upload, we need to create the request body manually\nconst boundary = '-------314159265358979323846';\nconst delimiter = '\\r\\n--' + boundary + '\\r\\n';\nconst closeDelimiter = '\\r\\n--' + boundary + '--';\n\nreturn [{\n  json: {\n    access_token: context.access_token,\n    metadata: metadata,\n    file_content: binaryData.data,\n    mime_type: context.mime_type,\n    boundary: boundary\n  }\n}];"
        }
      },
      {
        "id": "format-result",
        "name": "Format Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3720,
          60
        ],
        "parameters": {
          "jsCode": "const result = $input.first().json;\n\nif (result.error) {\n  return [{\n    json: {\n      success: false,\n      error: result.error.message || 'Upload to Google Drive failed'\n    }\n  }];\n}\n\nconst fileId = result.id;\nconst fileUrl = `https://drive.google.com/file/d/${fileId}/view`;\n\nreturn [{\n  json: {\n    success: true,\n    file_id: fileId,\n    file_url: fileUrl,\n    file_name: result.name,\n    mime_type: result.mimeType,\n    error: null\n  }\n}];"
        }
      },
      {
        "id": "drive-upload-api",
        "name": "Drive Upload API",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3500,
          60
        ],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst boundary = input.boundary;\nconst metadata = JSON.stringify(input.metadata);\nconst fileContent = input.file_content;\n\nconst binaryBuffer = Buffer.from(fileContent, 'base64');\n\nconst preamble = Buffer.from(\n  `--${boundary}\\r\\n` +\n  `Content-Type: application/json; charset=UTF-8\\r\\n` +\n  `\\r\\n` +\n  `${metadata}\\r\\n` +\n  `--${boundary}\\r\\n` +\n  `Content-Type: ${input.mime_type}\\r\\n` +\n  `\\r\\n`\n);\nconst epilogue = Buffer.from(`\\r\\n--${boundary}--`);\nconst body = Buffer.concat([preamble, binaryBuffer, epilogue]);\n\nconst https = require('https');\n\nconst result = await new Promise((resolve, reject) => {\n  const options = {\n    method: 'POST',\n    hostname: 'www.googleapis.com',\n    path: '/upload/drive/v3/files?uploadType=multipart',\n    headers: {\n      'Authorization': `Bearer ${input.access_token}`,\n      'Content-Type': `multipart/related; boundary=${boundary}`,\n      'Content-Length': body.length\n    }\n  };\n\n  const req = https.request(options, (res) => {\n    let data = '';\n    res.on('data', chunk => data += chunk);\n    res.on('end', () => {\n      try {\n        const parsed = JSON.parse(data);\n        if (res.statusCode >= 400) {\n          reject(new Error(`Drive API error (${res.statusCode}): ${parsed.error?.message || data}`));\n        } else {\n          resolve(parsed);\n        }\n      } catch (e) {\n        reject(new Error(`Failed to parse Drive API response (${res.statusCode}): ${data.substring(0, 500)}`));\n      }\n    });\n  });\n\n  req.on('error', (e) => reject(new Error(`Drive upload request failed: ${e.message}`)));\n  req.write(body);\n  req.end();\n});\n\nreturn [{ json: result }];"
        }
      }
    ],
    "connections": {
      "Workflow Input": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Input": {
        "main": [
          [
            {
              "node": "Is Valid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Valid?": {
        "main": [
          [
            {
              "node": "Has Config Key?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Validation Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Config Key?": {
        "main": [
          [
            {
              "node": "Resolve Folder Config",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Use Direct Values",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Resolve Folder Config": {
        "main": [
          [
            {
              "node": "Use Resolved Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Use Resolved Folder": {
        "main": [
          [
            {
              "node": "Merge Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Use Direct Values": {
        "main": [
          [
            {
              "node": "Merge Context",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Context": {
        "main": [
          [
            {
              "node": "Get Google Auth",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Google Auth": {
        "main": [
          [
            {
              "node": "Check Auth Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Auth Success": {
        "main": [
          [
            {
              "node": "Prepare Context",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Auth Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Context": {
        "main": [
          [
            {
              "node": "Has Source URL?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Source URL?": {
        "main": [
          [
            {
              "node": "Download from URL",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prepare Base64 Upload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download from URL": {
        "main": [
          [
            {
              "node": "Prepare URL Upload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare URL Upload": {
        "main": [
          [
            {
              "node": "Merge Upload Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Base64 Upload": {
        "main": [
          [
            {
              "node": "Merge Upload Data",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Upload Data": {
        "main": [
          [
            {
              "node": "Upload Simple",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Simple": {
        "main": [
          [
            {
              "node": "Drive Upload API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Drive Upload API": {
        "main": [
          [
            {
              "node": "Format Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Spencer Marx",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-16T11:42:31.521Z",
        "id": 618,
        "workflowId": "QMxT5NLQOL3jlrzv",
        "versionId": "d0f57f27-905f-451e-9192-35dff3e09deb",
        "event": "activated",
        "userId": "e498ff06-ba9d-4721-8454-492195be8229"
      }
    ]
  }
}
