alfred/workflows/utilities/send_progress_update.json
{
  "id": "AorvHVERbm2IxQMF",
  "name": "\ud83d\udd27 Utility | Send Progress Update",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message",
              "type": "string"
            },
            {
              "name": "slack_context",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "parse-context",
      "name": "Parse Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Parse slack_context - may come as object or JSON string\nlet slackContext = input.slack_context;\nif (typeof slackContext === 'string') {\n  try {\n    slackContext = JSON.parse(slackContext);\n  } catch (e) {\n    return [{\n      json: {\n        valid: false,\n        error: 'Invalid slack_context: must be valid JSON object'\n      }\n    }];\n  }\n}\n\n// Validate required fields\nif (!slackContext?.channel_id) {\n  return [{\n    json: {\n      valid: false,\n      error: 'Missing required field: channel_id in slack_context'\n    }\n  }];\n}\n\nif (!slackContext?.thread_ts) {\n  return [{\n    json: {\n      valid: false,\n      error: 'Missing required field: thread_ts in slack_context (required for thread replies)'\n    }\n  }];\n}\n\nif (!input.message || input.message.trim() === '') {\n  return [{\n    json: {\n      valid: false,\n      error: 'Missing required field: message'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    channel_id: slackContext.channel_id,\n    thread_ts: slackContext.thread_ts,\n    message: input.message.trim()\n  }\n}];"
      }
    },
    {
      "id": "check-valid",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "call-slack",
      "name": "Send Thread Reply",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        860,
        200
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xbFJVyUFvGfUbY4s",
          "mode": "id"
        },
        "options": {},
        "workflowInputs": {
          "value": {
            "action": "post_thread",
            "channel_id": "={{ $json.channel_id }}",
            "thread_ts": "={{ $json.thread_ts }}",
            "text": "={{ $json.message }}"
          },
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "channel_id",
              "displayName": "channel_id",
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "thread_ts",
              "displayName": "thread_ts",
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "text",
              "displayName": "text",
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "format-success",
      "name": "Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        200
      ],
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst input = $('Workflow Input').first().json;\n\nif (result.success === false) {\n  return [{\n    json: {\n      success: false,\n      error: result.error || 'Failed to send progress update'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    message_sent: input.message,\n    channel: result.channel,\n    ts: result.ts\n  }\n}];"
      }
    },
    {
      "id": "validation-failed",
      "name": "Validation Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        400
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Parse Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Context": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Send Thread Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Thread Reply": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": null,
  "activeVersionId": "9bbc9d4d-9e5c-43a4-b9da-375e5fd90ad5",
  "versionCounter": 11,
  "triggerCount": 0,
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-05T15:45:29.063Z",
    "createdAt": "2026-02-05T15:35:57.217Z",
    "versionId": "9bbc9d4d-9e5c-43a4-b9da-375e5fd90ad5",
    "workflowId": "AorvHVERbm2IxQMF",
    "nodes": [
      {
        "id": "trigger",
        "name": "Workflow Input",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          200,
          300
        ],
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "message",
                "type": "string"
              },
              {
                "name": "slack_context",
                "type": "string"
              }
            ]
          }
        }
      },
      {
        "id": "parse-context",
        "name": "Parse Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          420,
          300
        ],
        "parameters": {
          "jsCode": "const input = $input.first().json;\n\n// Parse slack_context - may come as object or JSON string\nlet slackContext = input.slack_context;\nif (typeof slackContext === 'string') {\n  try {\n    slackContext = JSON.parse(slackContext);\n  } catch (e) {\n    return [{\n      json: {\n        valid: false,\n        error: 'Invalid slack_context: must be valid JSON object'\n      }\n    }];\n  }\n}\n\n// Validate required fields\nif (!slackContext?.channel_id) {\n  return [{\n    json: {\n      valid: false,\n      error: 'Missing required field: channel_id in slack_context'\n    }\n  }];\n}\n\nif (!slackContext?.thread_ts) {\n  return [{\n    json: {\n      valid: false,\n      error: 'Missing required field: thread_ts in slack_context (required for thread replies)'\n    }\n  }];\n}\n\nif (!input.message || input.message.trim() === '') {\n  return [{\n    json: {\n      valid: false,\n      error: 'Missing required field: message'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    channel_id: slackContext.channel_id,\n    thread_ts: slackContext.thread_ts,\n    message: input.message.trim()\n  }\n}];"
        }
      },
      {
        "id": "check-valid",
        "name": "Is Valid?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          640,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "cond-valid",
                "leftValue": "={{ $json.valid }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ]
          }
        }
      },
      {
        "id": "call-slack",
        "name": "Send Thread Reply",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          860,
          200
        ],
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "xbFJVyUFvGfUbY4s",
            "mode": "id"
          },
          "options": {},
          "workflowInputs": {
            "value": {
              "action": "post_thread",
              "channel_id": "={{ $json.channel_id }}",
              "thread_ts": "={{ $json.thread_ts }}",
              "text": "={{ $json.message }}"
            },
            "schema": [
              {
                "id": "action",
                "displayName": "action",
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "channel_id",
                "displayName": "channel_id",
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "thread_ts",
                "displayName": "thread_ts",
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "text",
                "displayName": "text",
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ]
          }
        }
      },
      {
        "id": "format-success",
        "name": "Format Success",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1080,
          200
        ],
        "parameters": {
          "jsCode": "const result = $input.first().json;\nconst input = $('Workflow Input').first().json;\n\nif (result.success === false) {\n  return [{\n    json: {\n      success: false,\n      error: result.error || 'Failed to send progress update'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    message_sent: input.message,\n    channel: result.channel,\n    ts: result.ts\n  }\n}];"
        }
      },
      {
        "id": "validation-failed",
        "name": "Validation Failed",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          860,
          400
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "success",
                "name": "success",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "error",
                "name": "error",
                "value": "={{ $json.error }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "Workflow Input": {
        "main": [
          [
            {
              "node": "Parse Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Context": {
        "main": [
          [
            {
              "node": "Is Valid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Valid?": {
        "main": [
          [
            {
              "node": "Send Thread Reply",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Validation Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Thread Reply": {
        "main": [
          [
            {
              "node": "Format Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Spencer Marx",
    "name": "Version 9bbc9d4d",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-05T15:45:29.060Z",
        "id": 306,
        "workflowId": "AorvHVERbm2IxQMF",
        "versionId": "9bbc9d4d-9e5c-43a4-b9da-375e5fd90ad5",
        "event": "activated",
        "userId": "e498ff06-ba9d-4721-8454-492195be8229"
      }
    ]
  }
}
