alfred/workflows/_utilities/ai_predicate_evaluator.json
{
  "updatedAt": "2026-02-05T11:50:42.087Z",
  "createdAt": "2026-02-05T09:56:33.755Z",
  "id": "Rw7786cYTYOTQhH9",
  "name": "🔧 Utility | AI Predicate Evaluator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "predicate"
            },
            {
              "name": "context"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst predicate = input.predicate || '';\nconst context = typeof input.context === 'string' ? input.context : JSON.stringify(input.context, null, 2);\n\nconst prompt = `You are a binary classifier. Evaluate the following predicate against the provided context and return a JSON response.\n\nPREDICATE TO EVALUATE:\n${predicate}\n\nCONTEXT:\n${context}\n\nRESPOND WITH ONLY VALID JSON IN THIS EXACT FORMAT:\n{\"result\": true} or {\"result\": false}\n\nRules:\n- Return {\"result\": true} if the predicate is TRUE based on the context\n- Return {\"result\": false} if the predicate is FALSE based on the context\n- Do not include any explanation, only the JSON object\n- Do not wrap in markdown code blocks`;\n\nreturn [{\n  json: {\n    prompt,\n    predicate,\n    context\n  }\n}];"
      },
      "id": "build-prompt",
      "name": "Build Classification Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {
          "maxTokensToSample": 50,
          "temperature": 0
        }
      },
      "id": "classifier-model",
      "name": "Haiku Classifier",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        688,
        480
      ],
      "credentials": {
        "anthropicApi": {
          "id": "iKUsIHimnjBUibjJ",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "llm-chain",
      "name": "Classify",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst originalInput = $('Workflow Input').first().json;\n\nlet response = input.text || input.response || '';\nlet result = false;\nlet parseError = null;\n\ntry {\n  response = response.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const parsed = JSON.parse(response);\n  result = parsed.result === true;\n} catch (e) {\n  parseError = e.message;\n  const lower = response.toLowerCase();\n  if (lower.includes('\"result\": true') || lower.includes('\"result\":true')) {\n    result = true;\n  } else if (lower.includes('\"result\": false') || lower.includes('\"result\":false')) {\n    result = false;\n  } else {\n    result = lower.includes('true') && !lower.includes('false');\n  }\n}\n\nreturn [{\n  json: {\n    result,\n    raw_response: response,\n    predicate: originalInput.predicate,\n    parse_error: parseError\n  }\n}];"
      },
      "id": "parse-result",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        304
      ]
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Build Classification Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Classification Prompt": {
      "main": [
        [
          {
            "node": "Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haiku Classifier": {
      "ai_languageModel": [
        [
          {
            "node": "Classify",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classify": {
      "main": [
        [
          {
            "node": "Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Workflow Input": [
      {
        "json": {
          "predicate": "The AI response contains actionable information that should be delivered to the user. This includes: meeting reminders, task confirmations, requested information, answers to questions, or any substantive response. Return FALSE if the response indicates no action was taken, no events were found, nothing to report, or the AI explicitly decided not to notify the user.",
          "context": "No action taken - the event starts in 15 minutes, which is outside the 15-30 minute window you specified."
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "f6273e04-11e7-4dd6-9803-0cc3be56c60f",
  "activeVersionId": "f6273e04-11e7-4dd6-9803-0cc3be56c60f",
  "versionCounter": 12,
  "triggerCount": 0,
  "tags": []
}
