alfred/workflows/_utilities/ai_predicate_evaluator.json
{
  "updatedAt": "2026-02-05T09:56:33.755Z",
  "createdAt": "2026-02-05T09:56:33.755Z",
  "id": "Rw7786cYTYOTQhH9",
  "name": "🔧 Utility | AI Predicate Evaluator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "predicate",
              "type": "string"
            },
            {
              "name": "context",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "build-prompt",
      "name": "Build Classification Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst predicate = input.predicate || '';\nconst context = typeof input.context === 'string' ? input.context : JSON.stringify(input.context, null, 2);\n\nconst prompt = `You are a binary classifier. Evaluate the following predicate against the provided context and return a JSON response.\n\nPREDICATE TO EVALUATE:\n${predicate}\n\nCONTEXT:\n${context}\n\nRESPOND WITH ONLY VALID JSON IN THIS EXACT FORMAT:\n{\"result\": true} or {\"result\": false}\n\nRules:\n- Return {\"result\": true} if the predicate is TRUE based on the context\n- Return {\"result\": false} if the predicate is FALSE based on the context\n- Do not include any explanation, only the JSON object\n- Do not wrap in markdown code blocks`;\n\nreturn [{\n  json: {\n    prompt,\n    predicate,\n    context\n  }\n}];"
      }
    },
    {
      "id": "classifier-model",
      "name": "Haiku Classifier",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        680,
        480
      ],
      "parameters": {
        "model": "claude-3-haiku-20240307",
        "options": {
          "temperature": 0,
          "maxTokensToSample": 50
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "iKUsIHimnjBUibjJ",
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "llm-chain",
      "name": "Classify",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        680,
        300
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      }
    },
    {
      "id": "parse-result",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst originalInput = $('Workflow Input').first().json;\n\nlet response = input.text || input.response || '';\nlet result = false;\nlet parseError = null;\n\ntry {\n  response = response.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const parsed = JSON.parse(response);\n  result = parsed.result === true;\n} catch (e) {\n  parseError = e.message;\n  const lower = response.toLowerCase();\n  if (lower.includes('\"result\": true') || lower.includes('\"result\":true')) {\n    result = true;\n  } else if (lower.includes('\"result\": false') || lower.includes('\"result\":false')) {\n    result = false;\n  } else {\n    result = lower.includes('true') && !lower.includes('false');\n  }\n}\n\nreturn [{\n  json: {\n    result,\n    raw_response: response,\n    predicate: originalInput.predicate,\n    parse_error: parseError\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Build Classification Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Classification Prompt": {
      "main": [
        [
          {
            "node": "Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haiku Classifier": {
      "ai_languageModel": [
        [
          {
            "node": "Classify",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classify": {
      "main": [
        [
          {
            "node": "Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "d66d29e6-52a8-4d3a-a301-9dd4ee89d497",
  "activeVersionId": "d66d29e6-52a8-4d3a-a301-9dd4ee89d497",
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-05T09:56:33.755Z",
      "createdAt": "2026-02-05T09:56:33.755Z",
      "role": "workflow:owner",
      "workflowId": "Rw7786cYTYOTQhH9",
      "projectId": "Jd992SEPuokf8o5Z",
      "project": {
        "updatedAt": "2026-02-02T12:27:52.037Z",
        "createdAt": "2026-02-02T12:20:35.714Z",
        "id": "Jd992SEPuokf8o5Z",
        "name": "Spencer Marx <spencer@aclarify.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e498ff06-ba9d-4721-8454-492195be8229",
        "projectRelations": [
          {
            "updatedAt": "2026-02-02T12:20:35.714Z",
            "createdAt": "2026-02-02T12:20:35.714Z",
            "userId": "e498ff06-ba9d-4721-8454-492195be8229",
            "projectId": "Jd992SEPuokf8o5Z",
            "user": {
              "updatedAt": "2026-02-05T09:51:12.987Z",
              "createdAt": "2026-02-02T12:20:29.217Z",
              "id": "e498ff06-ba9d-4721-8454-492195be8229",
              "email": "spencer@aclarify.com",
              "firstName": "Spencer",
              "lastName": "Marx",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-02T12:28:04.495Z",
                "personalization_survey_n8n_version": "2.6.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "KwXRQi320-E6cSKEUFTol",
                "userActivatedAt": 1770049275864
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-05T09:56:33.786Z",
    "createdAt": "2026-02-05T09:56:33.786Z",
    "versionId": "d66d29e6-52a8-4d3a-a301-9dd4ee89d497",
    "workflowId": "Rw7786cYTYOTQhH9",
    "nodes": [
      {
        "id": "trigger",
        "name": "Workflow Input",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          240,
          300
        ],
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "predicate",
                "type": "string"
              },
              {
                "name": "context",
                "type": "string"
              }
            ]
          }
        }
      },
      {
        "id": "build-prompt",
        "name": "Build Classification Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          460,
          300
        ],
        "parameters": {
          "jsCode": "const input = $input.first().json;\n\nconst predicate = input.predicate || '';\nconst context = typeof input.context === 'string' ? input.context : JSON.stringify(input.context, null, 2);\n\nconst prompt = `You are a binary classifier. Evaluate the following predicate against the provided context and return a JSON response.\n\nPREDICATE TO EVALUATE:\n${predicate}\n\nCONTEXT:\n${context}\n\nRESPOND WITH ONLY VALID JSON IN THIS EXACT FORMAT:\n{\"result\": true} or {\"result\": false}\n\nRules:\n- Return {\"result\": true} if the predicate is TRUE based on the context\n- Return {\"result\": false} if the predicate is FALSE based on the context\n- Do not include any explanation, only the JSON object\n- Do not wrap in markdown code blocks`;\n\nreturn [{\n  json: {\n    prompt,\n    predicate,\n    context\n  }\n}];"
        }
      },
      {
        "id": "classifier-model",
        "name": "Haiku Classifier",
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          680,
          480
        ],
        "parameters": {
          "model": "claude-3-haiku-20240307",
          "options": {
            "temperature": 0,
            "maxTokensToSample": 50
          }
        },
        "credentials": {
          "anthropicApi": {
            "id": "iKUsIHimnjBUibjJ",
            "name": "Anthropic account"
          }
        }
      },
      {
        "id": "llm-chain",
        "name": "Classify",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.4,
        "position": [
          680,
          300
        ],
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.prompt }}"
        }
      },
      {
        "id": "parse-result",
        "name": "Parse Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          900,
          300
        ],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst originalInput = $('Workflow Input').first().json;\n\nlet response = input.text || input.response || '';\nlet result = false;\nlet parseError = null;\n\ntry {\n  response = response.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const parsed = JSON.parse(response);\n  result = parsed.result === true;\n} catch (e) {\n  parseError = e.message;\n  const lower = response.toLowerCase();\n  if (lower.includes('\"result\": true') || lower.includes('\"result\":true')) {\n    result = true;\n  } else if (lower.includes('\"result\": false') || lower.includes('\"result\":false')) {\n    result = false;\n  } else {\n    result = lower.includes('true') && !lower.includes('false');\n  }\n}\n\nreturn [{\n  json: {\n    result,\n    raw_response: response,\n    predicate: originalInput.predicate,\n    parse_error: parseError\n  }\n}];"
        }
      }
    ],
    "connections": {
      "Workflow Input": {
        "main": [
          [
            {
              "node": "Build Classification Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Classification Prompt": {
        "main": [
          [
            {
              "node": "Classify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Haiku Classifier": {
        "ai_languageModel": [
          [
            {
              "node": "Classify",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Classify": {
        "main": [
          [
            {
              "node": "Parse Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Spencer Marx",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-05T09:56:50.904Z",
        "id": 259,
        "workflowId": "Rw7786cYTYOTQhH9",
        "versionId": "d66d29e6-52a8-4d3a-a301-9dd4ee89d497",
        "event": "activated",
        "userId": "e498ff06-ba9d-4721-8454-492195be8229"
      }
    ]
  }
}
