alfred/workflows/_infrastructure/audit_logger.json
{
  "updatedAt": "2026-02-03T13:39:41.403Z",
  "createdAt": "2026-02-03T10:36:34.880Z",
  "id": "Ui3uhPgKsfXVnIss",
  "name": "📋 Sub-Agent | Audit Logger",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "slack_user_id",
              "type": "string"
            },
            {
              "name": "action",
              "type": "string"
            },
            {
              "name": "resource",
              "type": "string"
            },
            {
              "name": "permitted",
              "type": "boolean"
            },
            {
              "name": "denial_reason",
              "type": "string"
            },
            {
              "name": "request_summary",
              "type": "string"
            },
            {
              "name": "metadata",
              "type": "object"
            }
          ]
        }
      }
    },
    {
      "id": "prepare-data",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Safely stringify metadata\nlet metadataJson = '{}';\ntry {\n  if (input.metadata && typeof input.metadata === 'object') {\n    metadataJson = JSON.stringify(input.metadata);\n  } else if (typeof input.metadata === 'string') {\n    JSON.parse(input.metadata);\n    metadataJson = input.metadata;\n  }\n} catch (e) {\n  metadataJson = JSON.stringify({ error: 'Failed to serialize metadata' });\n}\n\n// Escape single quotes for SQL\nfunction sqlEscape(val) {\n  if (val === null || val === undefined) return 'NULL';\n  if (typeof val === 'boolean') return val ? 'TRUE' : 'FALSE';\n  if (typeof val === 'number') return String(val);\n  return \"'\" + String(val).replace(/'/g, \"''\") + \"'\";\n}\n\nconst slack_user_id = sqlEscape(input.slack_user_id || '');\nconst action = sqlEscape(input.action || 'unknown');\nconst resource = input.resource ? sqlEscape(input.resource) : 'NULL';\nconst permitted = input.permitted === true ? 'TRUE' : 'FALSE';\nconst denial_reason = input.denial_reason ? sqlEscape(input.denial_reason) : 'NULL';\nconst request_summary = input.request_summary ? sqlEscape(input.request_summary) : 'NULL';\nconst metadata = sqlEscape(metadataJson);\n\nconst sql = `INSERT INTO alfred.audit_log (slack_user_id, action, resource, permitted, denial_reason, request_summary, metadata)\nVALUES (${slack_user_id}, ${action}, ${resource}, ${permitted}, ${denial_reason}, ${request_summary}, ${metadata}::jsonb)\nRETURNING id, timestamp;`;\n\nreturn [{ json: { query: sql } }];"
      }
    },
    {
      "id": "insert-audit",
      "name": "Insert Audit Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        650,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "8nTSHxonyIBczkvN",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        850,
        300
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "logged",
              "name": "logged",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "audit_id",
              "name": "audit_id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Insert Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Audit Log": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "e8f2902d-5709-4c76-a81c-0de9cb556ae4",
  "activeVersionId": "e8f2902d-5709-4c76-a81c-0de9cb556ae4",
  "versionCounter": 17,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-03T10:36:34.880Z",
      "createdAt": "2026-02-03T10:36:34.880Z",
      "role": "workflow:owner",
      "workflowId": "Ui3uhPgKsfXVnIss",
      "projectId": "Jd992SEPuokf8o5Z",
      "project": {
        "updatedAt": "2026-02-02T12:27:52.037Z",
        "createdAt": "2026-02-02T12:20:35.714Z",
        "id": "Jd992SEPuokf8o5Z",
        "name": "Spencer Marx <spencer@aclarify.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e498ff06-ba9d-4721-8454-492195be8229",
        "projectRelations": [
          {
            "updatedAt": "2026-02-02T12:20:35.714Z",
            "createdAt": "2026-02-02T12:20:35.714Z",
            "userId": "e498ff06-ba9d-4721-8454-492195be8229",
            "projectId": "Jd992SEPuokf8o5Z",
            "user": {
              "updatedAt": "2026-02-04T07:39:59.721Z",
              "createdAt": "2026-02-02T12:20:29.217Z",
              "id": "e498ff06-ba9d-4721-8454-492195be8229",
              "email": "spencer@aclarify.com",
              "firstName": "Spencer",
              "lastName": "Marx",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-02T12:28:04.495Z",
                "personalization_survey_n8n_version": "2.6.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "KwXRQi320-E6cSKEUFTol",
                "userActivatedAt": 1770049275864
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-03T13:39:41.403Z",
    "createdAt": "2026-02-03T13:39:41.403Z",
    "versionId": "e8f2902d-5709-4c76-a81c-0de9cb556ae4",
    "workflowId": "Ui3uhPgKsfXVnIss",
    "nodes": [
      {
        "id": "trigger",
        "name": "Workflow Input",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          250,
          300
        ],
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "slack_user_id",
                "type": "string"
              },
              {
                "name": "action",
                "type": "string"
              },
              {
                "name": "resource",
                "type": "string"
              },
              {
                "name": "permitted",
                "type": "boolean"
              },
              {
                "name": "denial_reason",
                "type": "string"
              },
              {
                "name": "request_summary",
                "type": "string"
              },
              {
                "name": "metadata",
                "type": "object"
              }
            ]
          }
        }
      },
      {
        "id": "prepare-data",
        "name": "Prepare Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          450,
          300
        ],
        "parameters": {
          "jsCode": "const input = $input.first().json;\n\n// Safely stringify metadata\nlet metadataJson = '{}';\ntry {\n  if (input.metadata && typeof input.metadata === 'object') {\n    metadataJson = JSON.stringify(input.metadata);\n  } else if (typeof input.metadata === 'string') {\n    JSON.parse(input.metadata);\n    metadataJson = input.metadata;\n  }\n} catch (e) {\n  metadataJson = JSON.stringify({ error: 'Failed to serialize metadata' });\n}\n\n// Escape single quotes for SQL\nfunction sqlEscape(val) {\n  if (val === null || val === undefined) return 'NULL';\n  if (typeof val === 'boolean') return val ? 'TRUE' : 'FALSE';\n  if (typeof val === 'number') return String(val);\n  return \"'\" + String(val).replace(/'/g, \"''\") + \"'\";\n}\n\nconst slack_user_id = sqlEscape(input.slack_user_id || '');\nconst action = sqlEscape(input.action || 'unknown');\nconst resource = input.resource ? sqlEscape(input.resource) : 'NULL';\nconst permitted = input.permitted === true ? 'TRUE' : 'FALSE';\nconst denial_reason = input.denial_reason ? sqlEscape(input.denial_reason) : 'NULL';\nconst request_summary = input.request_summary ? sqlEscape(input.request_summary) : 'NULL';\nconst metadata = sqlEscape(metadataJson);\n\nconst sql = `INSERT INTO alfred.audit_log (slack_user_id, action, resource, permitted, denial_reason, request_summary, metadata)\nVALUES (${slack_user_id}, ${action}, ${resource}, ${permitted}, ${denial_reason}, ${request_summary}, ${metadata}::jsonb)\nRETURNING id, timestamp;`;\n\nreturn [{ json: { query: sql } }];"
        }
      },
      {
        "id": "insert-audit",
        "name": "Insert Audit Log",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          650,
          300
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "={{ $json.query }}",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "8nTSHxonyIBczkvN",
            "name": "Postgres account"
          }
        }
      },
      {
        "id": "format-response",
        "name": "Format Response",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          850,
          300
        ],
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              {
                "id": "logged",
                "name": "logged",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "audit_id",
                "name": "audit_id",
                "value": "={{ $json.id }}",
                "type": "number"
              },
              {
                "id": "timestamp",
                "name": "timestamp",
                "value": "={{ $json.timestamp }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "Workflow Input": {
        "main": [
          [
            {
              "node": "Prepare Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Data": {
        "main": [
          [
            {
              "node": "Insert Audit Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Audit Log": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Spencer Marx",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-03T13:39:41.600Z",
        "id": 58,
        "workflowId": "Ui3uhPgKsfXVnIss",
        "versionId": "e8f2902d-5709-4c76-a81c-0de9cb556ae4",
        "event": "activated",
        "userId": "e498ff06-ba9d-4721-8454-492195be8229"
      }
    ]
  }
}
